@import "../../styles";

$btn-group-button-margin: 0;
$btn-group-type-iconic-width: rem(1.75);
$btn-group-type-iconic-padding: 0;
$btn-group-icon-font-size: rem(1);

.a-button-group {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  vertical-align: top;
  white-space: nowrap;

  .a-button--icon {
    padding: 6px;
  }

  .a-button + .a-button {
    margin: $btn-group-button-margin;
  }

  &__wrapper > .a-button:not(:last-child),
  &__wrapper > .a-button-group:not(:last-child) > .a-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__wrapper > .a-button:not(:first-child),
  &__wrapper > .a-button-group:not(:first-child) > .a-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .a-button + .a-button,
  .a-button + .a-button-group,
  .a-button-group + .a-button,
  .a-button-group + .a-button-group {
    margin-left: 0px;
    margin-right: 0px;
  }

  &[disabled],
  &:disabled {
    .a-button-group__wrapper > .a-button {
      background-color: var(--control-bg-medium-default);
      color: var(--base-text-disabled);

      &--selected {
        background-color: var(--base-bg-disabled);
        border-color: var(--control-border-weak-default);
      }
    }
  }

  .a-button-group__wrapper > .a-button:focus-visible {
    box-shadow: none;
  }

  &__wrapper > .a-button {
    color: var(--base-text-medium-default);
    background-color: var(--control-bg-medium-default);
    border-color: var(--control-border-weak-default);

    &--selected {
      color: var(--interact-text-weak-active);
      background-color: var(--control-bg-medium-active);
      border-color: var(--control-border-active);
    }

    &:hover:not(&--selected) {
      color: var(--base-text-default);
      background-color: var(--control-bg-medium-hover);
      border-color: var(--control-border-weak-default);
    }

    &:focus {
      color: var(--interact-text-focus);
      background-color: var(--interact-bg-weak-focus);
      border-color: var(--interact-border-focus);
      box-shadow: none !important;
    }

    &:active {
      color: var(--interact-text-weak-active);
      background-color: var(--control-bg-medium-active);
      border-color: var(--control-border-active);
    }

    &.a-button--option + .a-button--selected {
      margin-left: -2px;
    }
    &.a-button--selected + .a-button--option,
    &.a-button--selected + .a-button--selected,
    &.a-button--option + .a-button--option {
      border-left-width: 0;
    }
  }

  &--small {
    @include small-button;
  }

  &--medium {
    @include medium-button;
  }
}
