@import "../../styles";

$btn-group-button-margin: 0;
$btn-group-type-iconic-width: rem(1.75);
$btn-group-type-iconic-padding: 0;
$btn-group-icon-font-size: rem(1);

@include theme(a-button-group) using($theme) {
  &[disabled],
  &:disabled {
    .a-button-group__wrapper > .a-button {
      background-color: map-deep-get(
        $theme,
        "button-group",
        "background-color"
      );
      color: map-deep-get($theme, "button-group", "color--disabled");

      &--selected {
        background-color: map-deep-get(
          $theme,
          "button-group",
          "background-color--selected-disabled"
        );
        border-color: map-deep-get(
          $theme,
          "button-group",
          "border-color--disabled"
        );
      }
    }
  }

  .a-button-group__wrapper > .a-button:focus-visible {
    box-shadow: none;
  }

  &__wrapper > .a-button {
    color: map-deep-get($theme, "button-group", "color");
    background-color: map-deep-get($theme, "button-group", "background-color");
    border-color: map-deep-get($theme, "button-group", "border-color");

    &--selected {
      color: map-deep-get($theme, "button-group", "color--selected");
      background-color: map-deep-get(
        $theme,
        "button-group",
        "background-color--selected"
      );
      border-color: map-deep-get(
        $theme,
        "button-group",
        "border-color--selected"
      );
    }

    &:hover:not(&--selected) {
      color: map-deep-get($theme, "button-group", "color--hover");
      background-color: map-deep-get(
        $theme,
        "button-group",
        "background-color--hover"
      );
      border-color: map-deep-get(
        $theme,
        "button-group",
        "border-color--hover"
      ) !important;
    }

    &:focus {
      color: map-deep-get($theme, "button", "secondary", "color--focus");
      background-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "bg--focus"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "border--focus"
      );
    }

    &:active {
      color: map-deep-get($theme, "button-group", "color--selected");
      background-color: map-deep-get(
        $theme,
        "button-group",
        "background-color--selected"
      );
      border-color: map-deep-get(
        $theme,
        "button-group",
        "border-color--selected"
      );
    }

    &.a-button--option + .a-button--selected {
      margin-left: -2px;
    }
    &.a-button--selected + .a-button--option,
    &.a-button--selected + .a-button--selected,
    &.a-button--option + .a-button--option {
      border-left-width: 0;
    }
  }
}

.a-button-group {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  vertical-align: top;
  white-space: nowrap;

  .a-button--icon {
    padding: 6px;
  }

  .a-button + .a-button {
    margin: $btn-group-button-margin;
  }

  &__wrapper > .a-button:not(:last-child),
  &__wrapper > .a-button-group:not(:last-child) > .a-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__wrapper > .a-button:not(:first-child),
  &__wrapper > .a-button-group:not(:first-child) > .a-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .a-button + .a-button,
  .a-button + .a-button-group,
  .a-button-group + .a-button,
  .a-button-group + .a-button-group {
    margin-left: 0px;
    margin-right: 0px;
  }

  &--small {
    @include small-button;
  }

  &--medium {
    @include medium-button;
  }
}
