.a-app--wrap {
  background: inherit;
}

.row {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 10px;
}

.col {
  background: transparent;

  &--left {
    display: none;
  }

  &--right {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .col {
    &--left {
      display: block;
      flex-grow: 0 !important;
    }

    &--center {
      padding-left: 40px !important;
      max-width: calc(100vw - 288px);
    }
  }
}

@media screen and (min-width: 1300px) {
  .row {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1600px) {
  .col {
    &--right {
      display: block;
    }

    &--center {
      padding-right: 40px !important;
      max-width: calc(100vw - 288px - 375px);
    }
  }
}

@media screen and (min-width: 2000px) {
  .col {
    &--center {
      padding-left: 100px !important;
      padding-right: 100px !important;
    }
  }
}
