.a-app--wrap {
  background: inherit;
}

#header {
  grid-area: header;
}

#component-page {
  grid-area: component;
  padding: 20px;
  overflow-y: auto;
}

#sidebar {
  grid-area: sidebar;
}

#container {
  display: grid;
  grid-template-columns: 290px auto;
  grid-template-rows: 67px auto;
  grid-template-areas:
    "header header"
    "sidebar component";
  overflow: hidden;
  height: 100vh;
}

.page {
  // max-height: 100vh;
}

.row {
  max-width: 1600px;
  margin: 0 auto;
}

.col {
  background: transparent;

  &--left {
    display: none;
  }

  &--right {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .col {
    &--left {
      display: block;
      flex-grow: 0 !important;
    }

    &--center {
      padding-left: 40px !important;
      max-width: calc(100vw - 288px);
    }
  }
}

@media screen and (min-width: 1300px) {
  .row {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1600px) {
  .col {
    &--right {
      display: block;
    }

    &--center {
      padding-right: 40px !important;
      max-width: calc(100vw - 250px - 250px);
    }
  }
}

@media screen and (min-width: 2000px) {
  .col {
    &--center {
      padding-left: 100px !important;
      padding-right: 100px !important;
    }
  }
}
