@import "../../styles";

$btn-font-weight: $font-weight-bold;
$btn-line-height: $line-height;
$btn-padding: 0 $base-padding;
$btn-margin: 0;
$btn-min-width: rem(4.6875); // 75px
$btn-tertiary-icon-padding: rem(0.1875) $base-padding-small;
$btn-transition: color $transition-duration--extra-fast
    $transition-timing-function--standard,
  background-color $transition-duration--extra-fast
    $transition-timing-function--standard,
  border-color $transition-duration--extra-fast
    $transition-timing-function--standard,
  box-shadow $transition-duration--extra-fast
    $transition-timing-function--standard !default;

.a-button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  user-select: none;
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius--lg;
  cursor: pointer;
  @include text-truncate;
  font-weight: $btn-font-weight;
  line-height: 0;
  padding: $btn-padding;
  margin: $btn-margin;
  font-size: $font-size--md;
  height: 34px;
  vertical-align: middle;

  .a-icon {
    width: 16px;
    vertical-align: text-bottom;
    stroke: currentColor !important;
  }

  .a-spinner {
    margin-right: 4px;
    height: 16px;
    width: 16px;

    circle {
      stroke: currentColor !important;
    }
    //Hide icon if in loading state
    + .a-icon {
      display: none;
    }
  }

  .a-icon.a-icon--dots-three,
  .a-icon.a-icon--dots-six,
  .a-icon.a-icon--dots-nine,
  .a-icon.a-icon--export {
    stroke: unset;
    fill: currentColor;
  }

  &:focus,
  &:hover {
    text-decoration: none !important;
  }

  &--tertiary,
  &--tertiary-alt {
    background-color: transparent;
    appearance: none;
    border-width: 0;
  }

  &--icon {
    padding: 10px;
    height: auto;
    .a-spinner {
      margin-right: unset;
    }
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
  }

  &.a-button--medium {
    @include medium-button;
  }

  &.a-button--small {
    @include small-button;
  }

  &--primary {
    color: var(--interact-text-in-default);
    background-color: var(--interact-bg-default);
    border-color: var(--interact-border-default);

    &:hover {
      color: var(--interact-text-in-default);
      background-color: var(--interact-bg-hover);
      border-color: var(--interact-border-hover);
    }

    &:focus {
      color: var(--interact-text-in-default);
      border-color: var(--interact-border-focus);
      @include a-control-focus();
    }

    &:active {
      color: var(--interact-text-in-default);
      background-color: var(--interact-bg-active);
      border-color: var(--interact-border-active);
    }

    &.disabled,
    &:disabled {
      box-shadow: none;
      color: var(--interact-text-in-disabled);
      background-color: var(--interact-bg-disabled);
      border-color: var(--interact-border-disabled);
    }
  }

  &--primary-destructive {
    color: var(--negative-text-in-default);
    background-color: var(--negative-bg-default);
    border-color: var(--negative-border-default);

    &:hover {
      color: var(--negative-text-in-default);
      background-color: var(--negative-bg-hover);
      border-color: var(--negative-border-hover);
    }

    &:focus {
      outline: none;
      color: var(--negative-text-in-default);
      @include a-control-focus("negative");
    }

    &:active {
      color: var(--negative-text-in-default);
      background-color: var(--negative-bg-active);
      border-color: var(--negative-border-active);
    }

    &.disabled,
    &:disabled {
      box-shadow: none;
      color: var(--interact-text-in-disabled);
      background-color: var(--negative-bg-disabled);
      border-color: var(--negative-border-disabled);
    }
  }

  &--secondary {
    color: var(--interact-text-default);
    background-color: var(--interact-bg-weak-default);
    border-color: var(--interact-border-default);

    &:hover {
      color: var(--interact-text-hover);
      background-color: var(--interact-bg-weak-hover);
      border-color: var(--interact-border-hover);
    }

    &:focus {
      color: var(--interact-text-focus);
      border-color: var(--interact-border-focus);
      @include a-control-focus();
    }

    &:active {
      color: var(--interact-text-active);
      background-color: var(--interact-bg-weak-active);
      border-color: var(--interact-border-active);
    }

    &.disabled,
    &:disabled {
      box-shadow: none;
      color: var(--interact-text-disabled);
      background-color: var(--interact-bg-weak-disabled);
      border-color: var(--interact-border-disabled);
    }
  }

  &--secondary-destructive {
    color: var(--negative-text-default);
    background-color: var(--negative-bg-weak-default);
    border-color: var(--negative-border-default);

    &:hover {
      color: var(--negative-text-hover);
      background-color: var(--negative-bg-weak-hover);
      border-color: var(--negative-border-hover);
    }

    &:focus {
      outline: none;
      color: var(--negative-text-hover);
      border-color: var(--negative-border-focus);
      @include a-control-focus("negative");
    }

    &:active {
      color: var(--negative-text-hover);
      background-color: var(--negative-bg-weak-active);
      border-color: var(--negative-border-active);
    }

    &.disabled,
    &:disabled {
      box-shadow: none;
      color: var(--negative-text-disabled);
      background-color: var(--negative-bg-weak-disabled);
      border-color: var(--negative-border-disabled);
    }
  }

  &--tertiary {
    color: var(--interact-text-default);
    &:hover {
      color: var(--interact-text-hover);
      background-color: var(--interact-bg-weak-hover);
    }

    &:focus {
      color: var(--interact-text-focus);
      @include a-control-focus();
    }

    &:active {
      color: var(--interact-text-active);
      background-color: var(--interact-bg-weak-active);
    }

    &.disabled,
    &:disabled {
      background-color: transparent;
      color: var(--interact-text-disabled);
    }
  }

  &.a-button--tertiary-alt {
    color: var(--interact-text-weak-default);

    &:hover,
    &:focus {
      color: var(--interact-text-weak-hover);
    }
    &:focus {
      @include a-control-focus();
    }

    &:active {
      background-color: transparent;
      color: var(--interact-text-weak-active);
    }

    &.disabled,
    &:disabled {
      background-color: transparent;
      color: var(--interact-text-weak-disabled);
    }
  }
}

a.disabled.a-button,
a:disabled.a-button {
  opacity: unset;
}

.a-app--animated .a-button {
  @include transition($btn-transition);
}
