@import "../../styles";

$btn-font-weight: $font-weight-bold;
$btn-line-height: $line-height;
$btn-padding: 0 $base-padding;
$btn-margin: 0;
$btn-min-width: rem(4.6875); // 75px
$btn-tertiary-icon-padding: rem(0.1875) $base-padding-small;
$btn-transition: color $transition-duration--extra-fast
    $transition-timing-function--standard,
  background-color $transition-duration--extra-fast
    $transition-timing-function--standard,
  border-color $transition-duration--extra-fast
    $transition-timing-function--standard,
  box-shadow $transition-duration--extra-fast
    $transition-timing-function--standard !default;

@include theme(a-button) using ($theme) {
  &--primary {
    color: map-deep-get($theme, "button", "primary", "color");
    background-color: map-deep-get($theme, "button", "primary", "bg");
    border-color: map-deep-get($theme, "button", "primary", "border");

    &:hover {
      color: map-deep-get($theme, "button", "primary", "color");
      background-color: map-deep-get($theme, "button", "primary", "bg--hover");
      border-color: map-deep-get($theme, "button", "primary", "border--hover");
    }

    &:focus {
      color: map-deep-get($theme, "button", "primary", "color");
      background-color: map-deep-get($theme, "button", "primary", "bg--focus");
      border-color: map-deep-get($theme, "button", "primary", "border--focus");
    }

    &:active {
      color: map-deep-get($theme, "button", "primary", "color");
      background-color: map-deep-get($theme, "button", "primary", "bg--active");
      border-color: map-deep-get($theme, "button", "primary", "border--active");
    }

    &.disabled,
    &:disabled {
      box-shadow: none;
      color: map-deep-get($theme, "button", "primary", "color--disabled");
      background-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "bg--disabled"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "border--disabled"
      );
      opacity: map-deep-get($theme, "button", "primary", "opacity--disabled");
    }
  }

  &--primary-destructive {
    color: map-deep-get($theme, "button", "primary", "destructive", "color");
    background-color: map-deep-get(
      $theme,
      "button",
      "primary",
      "destructive",
      "bg"
    );
    border-color: map-deep-get(
      $theme,
      "button",
      "primary",
      "destructive",
      "border"
    );
    border-width: map-deep-get(
      $theme,
      "button",
      "primary",
      "destructive",
      "border-width"
    );

    &:hover {
      color: map-deep-get($theme, "button", "primary", "destructive", "color");
      background-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "bg--hover"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "border--hover"
      );
    }

    &:focus {
      color: map-deep-get($theme, "button", "primary", "destructive", "color");
      background-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "bg--focus"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "border--focus"
      );
    }

    &:active {
      color: map-deep-get($theme, "button", "primary", "destructive", "color");
      background-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "bg--active"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "border--active"
      );
    }

    &.disabled,
    &:disabled {
      box-shadow: none;
      color: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "color--disabled"
      );
      background-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "bg--disabled"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "border--disabled"
      );
      opacity: map-deep-get(
        $theme,
        "button",
        "primary",
        "destructive",
        "opacity--disabled"
      );
    }
  }

  &--secondary {
    color: map-deep-get($theme, "button", "secondary", "color");
    background-color: transparent;
    border-color: map-deep-get($theme, "button", "secondary", "border");

    &:hover {
      color: map-deep-get($theme, "button", "secondary", "color--hover");
      background-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "bg--hover"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "border--hover"
      );
    }

    &:focus {
      color: map-deep-get($theme, "button", "secondary", "color--focus");
      background-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "bg--focus"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "border--focus"
      );
    }

    &:active {
      color: map-deep-get($theme, "button", "secondary", "color--active");
      background-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "bg--active"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "border--active"
      );
    }

    &.disabled,
    &:disabled {
      box-shadow: none;
      color: map-deep-get($theme, "button", "secondary", "color--disabled");
      background-color: transparent;
      border-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "border--disabled"
      );
      opacity: map-deep-get($theme, "button", "secondary", "opacity--disabled");
    }
  }

  &--secondary-destructive {
    color: map-deep-get($theme, "button", "secondary", "destructive", "color");
    background-color: transparent;
    border-color: map-deep-get(
      $theme,
      "button",
      "secondary",
      "destructive",
      "border"
    );
    border-width: map-deep-get(
      $theme,
      "button",
      "secondary",
      "destructive",
      "border-width"
    );

    &:hover {
      color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "color--hover"
      );
      background-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "bg--hover"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "border--hover"
      );
    }

    &:focus {
      color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "color--focus"
      );
      background-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "bg--focus"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "border--focus"
      );
    }

    &:active {
      color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "color--active"
      );
      background-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "bg--active"
      );
      border-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "border--active"
      );
    }

    &.disabled,
    &:disabled {
      box-shadow: none;
      color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "color--disabled"
      );
      background-color: transparent;
      border-color: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "border--disabled"
      );
      opacity: map-deep-get(
        $theme,
        "button",
        "secondary",
        "destructive",
        "opacity--disabled"
      );
    }
  }

  &--tertiary {
    color: map-deep-get($theme, "button", "tertiary", "color");
    height: 20px;
    padding: 0;
    margin: 0 15px;

    &:hover {
      color: map-deep-get($theme, "button", "tertiary", "color--hover");
      background-color: map-deep-get($theme, "button", "tertiary", "bg--hover");
    }

    &:focus {
      color: map-deep-get($theme, "button", "tertiary", "color--focus");
      border-color: map-deep-get($theme, "button", "tertiary", "border--focus");
      background-color: map-deep-get(
        $theme,
        "button",
        "tertiary",
        "bg--active"
      );
    }

    &:active {
      color: map-deep-get($theme, "button", "tertiary", "color--active");
      background-color: map-deep-get(
        $theme,
        "button",
        "tertiary",
        "bg--active"
      );
    }

    &.disabled,
    &:disabled {
      opacity: map-deep-get($theme, "button", "tertiary", "opacity--disabled");
      background-color: transparent;
      color: map-deep-get($theme, "button", "tertiary", "color--disabled");
    }
  }

  &.a-button--tertiary-alt {
    color: map-get($theme, "button", "tertiary", "alt", "color");

    &:hover {
      color: map-deep-get($theme, "button", "tertiary", "alt", "color--hover");
    }

    &:active {
      background-color: transparent;
      color: map-get($theme, "button", "tertiary", "alt", "color--active");
    }

    &.disabled,
    &:disabled {
      opacity: map-deep-get(
        $theme,
        "button",
        "tertiary",
        "alt",
        "opacity--disabled"
      );
      background-color: transparent;
      color: map-get($theme, "button", "tertiary", "alt", "color--disabled");
    }
  }
}

.a-button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  user-select: none;
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius--lg;
  cursor: pointer;
  @include text-truncate;
  font-weight: $btn-font-weight;
  line-height: 0;
  padding: $btn-padding;
  margin: $btn-margin;
  font-size: $font-size--sm;
  height: 28px;

  .a-icon {
    width: 16px;
    vertical-align: text-bottom;
    stroke: currentColor;
  }

  .a-spinner {
    margin-right: 3px;
    circle {
      stroke: currentColor !important;
    }
  }

  .a-icon.a-icon--dots-three,
  .a-icon.a-icon--dots-six,
  .a-icon.a-icon--dots-nine {
    stroke: unset;
    fill: currentColor;
  }

  &:focus,
  &:hover {
    text-decoration: none !important;
  }

  &--tertiary,
  &--tertiary-alt {
    background-color: transparent;
    appearance: none;
    border-width: 0;
  }

  &--icon {
    padding: 10px !important;
    height: auto !important;
    margin: 0 !important;
  }

  &.disabled,
  &:disabled {
    pointer-events: auto;
    cursor: not-allowed;
  }

  &.a-button--medium {
    @include medium-button;
  }

  &.a-button--small {
    @include small-button;
  }
}

.a-app--animated .a-button {
  @include transition($btn-transition);
}
