@import "../../styles/index.scss";

.a-steps-container {
  padding: 24px 0;
  //Typical usage will be in modal, but fallback to same color as panel for icon and container backgrounds.
  background-color: var(--control-bg-weak-default);
}

.a-steps {
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: space-around;
  padding: 0 0 24px;
  text-align: center;

  &__description {
    padding: 0 28px;
  }

  .a-step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 200px;
    overflow-wrap: anywhere;

    &--cursor {
      cursor: pointer;
    }

    &__icon-container {
      z-index: 1;
      display: inherit;
      justify-content: center;
      align-items: center;
      height: 38px;
      min-width: 60px;
      background-color: var(--control-bg-weak-default);
    }

    &__divider {
      height: 1px;
      position: absolute;
      top: 19px;
      left: 60%;
      background-color: var(--interact-border-weak-default);
    }

    &__icon {
      width: 28px;
      min-width: 28px;
      max-width: 28px;
      height: 28px;
      line-height: $line-height--lg;
      font-size: $font-size--md;
      font-weight: 600;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    &__content {
      width: 100%;
      text-align: left;
      margin: 12px 0 0 0;
    }
    &__label {
      font-size: $font-size--md;
      display: flex;
      align-items: center;
      font-weight: 600;
      color: var(--base-text-disabled);
    }
    &__hint {
      color: var(--base-text-weak-default);
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      color: var(--base-text-medium-default);
    }
    &__disabled {
      color: var(--base-text-medium-default);

      .a-step__icon {
        border: $border-width solid var(--interact-border-weak-disabled);
        color: var(--base-text-disabled);
      }
      .a-step__title,
      .a-step__hint {
        color: var(--base-text-disabled);
      }
    }

    &__active {
      .a-step__icon {
        background: var(--interact-bg-medium-default);
        color: var(--interact-text-in-default);
        border: $border-width solid var(--interact-bg-medium-default);
      }
      .a-step__label {
        color: var(--interact-text-default);
      }
    }
    &__default {
      .a-step__icon {
        border: $border-width solid var(--interact-border-weak-default);
        color: var(--base-text-medium-default);
      }
      .a-step__title,
      .a-step__hint {
        color: var(--base-text-medium-default);
      }
    }

    &__visited {
      .a-step__divider {
        height: 2px;
        background-color: var(--interact-border-medium-default);
      }
      .a-step__icon {
        border: $border-width solid var(--interact-border-default);

        &__checkmark {
          polyline {
            stroke-width: 35; //Remove if magnetic updates icon
            stroke: var(--interact-icon-default);
          }
        }
      }

      .a-step__label {
        color: var(--base-text-default);
      }

      .a-step__title {
        color: var(--base-text-default);
      }
    }

    &:last-child {
      .a-step__divider {
        display: none;
      }
    }
  }
  &--orientation-vertical {
    display: flex;
    flex-direction: column;
    text-align: left;

    .a-step__active {
      border-right: 3px solid;
      border-color: var(--interact-border-default);
    }

    .a-step__visited {
      border-color: transparent;
    }
    .a-step {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: unset;

      &__icon-container {
        margin-top: 4px;
      }
      &__content {
        flex: 2;
        align-self: center;
      }

      &__title {
        padding: 0 10px 0 0;
      }

      &__hint {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        padding-right: 24px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% - 40px);
        left: 22px;
        top: 44px;
      }
    }

    .a-step + .a-step {
      margin: 4px 0;
    }
  }
}
