@import "../../styles/index.scss";

@include theme(a-steps) using ($theme) {
  .a-step {
    &__icon {
      border: $border-width solid
        map-deep-get($theme, "steps", "step-main-color");
      color: map-deep-get($theme, "steps", "step-main-color");
    }
    &__label {
      color: map-deep-get($theme, "base", "color--disabled");
    }
    &__active {
      .a-step__icon {
        background: map-get($theme, "steps", "step-icon-border-color");
        color: map-get($theme, "steps", "step-active-color");
        border: $border-width solid
          map-get($theme, "steps", "step-icon-border-color");
      }
      .a-step__label {
        color: map-get($theme, "steps", "step-icon-border-color");
      }
    }
    &__divider {
      background-color: map-deep-get($theme, "steps", "step-main-color");
    }
    &__visited {
      .a-step__divider {
        height: 2px;
        background-color: map-get($theme, "steps", "step-icon-border-color");
      }
      .a-step__icon {
        border: $border-width solid
          map-get($theme, "steps", "step-icon-border-color");
        color: map-get($theme, "steps", "step-icon-border-color");
        &__checkmark {
          color: map-get($theme, "steps", "step-icon-border-color");
        }
      }

      .a-step__label {
        color: map-deep-get($theme, "base", "color");
      }

      .a-step__title {
        color: map-deep-get($theme, "steps", "step-visited-title-color");
      }
    }
    &__disabled {
      .a-step__icon {
        border: $border-width solid
          map-deep-get($theme, "base", "color--disabled");
        color: map-deep-get($theme, "base", "color--disabled");
      }
    }
    &__default {
      .a-step__icon {
        border: $border-width solid
          map-deep-get($theme, "steps", "step-icon-default-border-color");
        color: map-deep-get($theme, "steps", "step-icon-default-color");
      }
      .a-step__title,
      .a-step__hint {
        color: map-deep-get($theme, "base", "step-default-color");
      }
    }

    &--cursor {
      cursor: pointer;
    }
  }
  &--orientation-vertical {
    .a-step__active {
      border-right: 2px solid;
      border-color: map-deep-get($theme, "steps", "step-icon-border-color");
    }

    .a-step__visited {
      border-right: 2px solid;
      border-color: map-deep-get($theme, "steps", "step-visited-title-color");
    }
  }
}

.a-steps {
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: space-around;
  margin: 0 auto 20px;
  padding: 20px 0;
  text-align: center;
  .a-step {
    position: relative;
    display: inline-flex;
    flex: 1;
    &__icon {
      width: 24px;
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      line-height: $line-height--lg;
      font-size: $font-size--sm;
      font-weight: 600;
      margin: 10px;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      z-index: 1;
    }
    &__content {
      width: 100%;
      text-align: left;
      margin: 12px 0 0 0;
    }
    &__label {
      font-size: $font-size--sm;
      display: flex;
      align-items: center;
      font-weight: 600;
    }
    &__divider {
      flex-grow: 1;
      border: 0px;
      height: 1px;
    }
    &__title {
      padding: 0 10px 0 0;
    }
    &__hint {
      color: map-get($grey, "darken-2");
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
    }
    &__disabled {
      color: map-get($grey, "darken-4");
    }

    &:last-child {
      .a-step__divider {
        display: none;
      }
    }
  }
  &--orientation-vertical {
    display: flex;
    flex-direction: column;
    text-align: left;
    .a-step {
      display: flex;
      &__divider {
        display: none;
      }
      .a-step__icon {
        flex: 1;
      }
      &__content {
        flex: 2;
        align-self: center;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% - 40px);
        left: 22px;
        top: 44px;
      }
    }

    .a-step + .a-step {
      margin: 5px 0;
    }
  }
}
