@use "sass:math";

@import "../../styles";

$radio-border--enabled: var(--control-icon-weak-disabled);
$radio-height: 15px;
$radio-padding: 8px;
$radio-width: 14px;
$radio-transition: stroke $transition-duration--extra-fast
    $transition-timing-function--standard,
  fill $transition-duration--extra-fast $transition-timing-function--standard,
  box-shadow $transition-duration--extra-fast
    $transition-timing-function--standard;

.a-radio {
  display: flex;
  padding: math.div($radio-padding, 2) $radio-padding;
  line-height: $line-height--md;
  position: relative;
  cursor: pointer;

  &__input {
    @include hidden-input;

    & ~ .a-radio__box {
      .a-radio__box__outer {
        stroke: var(--control-border-disabled);
      }

      &:hover .a-radio__box__outer {
        stroke: var(--control-border-disabled);
      }
    }

    &:enabled ~ .a-radio__box {
      .a-radio__box__outer {
        stroke: var(--control-border-default);
      }

      &:hover .a-radio__box__outer {
        stroke: var(--control-border-hover);
      }
    }

    &:focus ~ .a-radio__box {
      > svg {
        box-shadow: var(--shadow-focus) var(--control-border-active);
      }

      .a-radio__box__outer {
        stroke: var(--control-border-hover);
      }
    }

    &:enabled:checked ~ .a-radio__box {
      .a-radio__box__inner {
        fill: var(--control-border-strong-active);
        stroke: var(--control-border-strong-active);
      }

      .a-radio__box__outer {
        stroke: var(--control-border-strong-active);
      }

      &:hover .a-radio__box__inner {
        fill: var(--control-icon-in-strong-active);
        stroke: var(--control-icon-in-strong-active);
      }
    }

    &:enabled:active ~ .a-radio__box {
      .a-radio__box__inner {
        stroke: none;
        fill: none;
      }

      &:hover .a-radio__box__inner {
        stroke: none;
        fill: none;
      }
    }

    &:enabled:active ~ .a-radio__box {
      .a-radio__box__active {
        fill: var(--control-icon-in-strong-active);
      }

      &:hover .a-radio__box__active {
        fill: var(--control-icon-in-strong-active);
      }
    }

    &:disabled ~ .a-radio__box .a-radio__box__outer {
      fill: var(--control-bg-weak-disabled);
    }

    &:disabled ~ .a-radio__box .a-radio__box__inner {
      fill: var(--control-bg-weak-disabled);
      stroke: none;
    }

    &:disabled:checked ~ .a-radio__box .a-radio__box__inner {
      fill: var(--control-border-disabled);
    }

    &:disabled ~ .a-radio__label {
      color: var(--base-text-disabled);
    }

    &:disabled ~ .a-radio__box .a-radio__box__outer {
      fill: var(--control-bg-weak-disabled);
    }
  }

  &__box {
    width: $radio-width;
    height: $radio-height;
    position: relative;
    display: inline-block;
    margin: 2px 8px 0 0;

    &__outer {
      fill: none;
      stroke-width: 2px;
    }

    &__inner {
      stroke: none;
      fill: none;
    }

    &__active {
      stroke: none;
      fill: none;
    }

    > svg {
      overflow: visible;
      border-radius: 50%;
      background-color: var(--control-bg-weak-default);
    }
  }

  &__label-container {
    display: flex;

    .a-radio__label {
      font-weight: bold;
    }
  }

  &__label {
    display: inline-block;
    flex: 1 1 0%;
    position: relative;
    @include text-truncate;
  }

  &__description {
    color: var(--base-text-medium-default);
    margin: 4px 0 0 22px;
  }

  &__label--wrap {
    white-space: normal;
    overflow: visible;
  }

  &--disabled {
    cursor: not-allowed;

    .a-radio__box:after {
      pointer-events: none;
    }
  }

  &--small {
    font-size: $font-size--sm;
  }

  &--hasDescription {
    flex-direction: column;
  }
}

.a-radio-group {
  display: flex;
  flex-direction: column;

  &--horizontal {
    flex-direction: row;

    .a-radio + .a-radio {
      margin-left: 12px;
    }
  }

  &--small {
    font-size: $font-size--sm !important;
  }
}

.a-app--animated .a-radio {
  &__input {
    & ~ .a-radio__box svg,
    & ~ .a-radio__box circle {
      @include transition($radio-transition);
    }
  }
}
