.a-toaster__toast {
  margin-bottom: 10px;
}

.a-toast-plate {
  position: fixed;
  z-index: 8;

  &--bottom-right {
    bottom: 0;
    right: 10px;
  }

  &--top {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
