.a-toaster__toast {
  margin-bottom: 10px;
}

.a-toast-plate {
  display: flex;
  flex-flow: column-reverse;
  position: fixed;
  z-index: 800;

  &--bottom-right {
    bottom: 0;
    right: 10px;
  }

  &--top {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--top-right {
    top: 80px;
    right: 24px;
  }
}
