@import "../../styles";

$base-icon-color: var(--control-icon-strong-default);
$sidebar-z-index: 1100;
$sidebar-width: 250px;
$sidebar--state-collapsed-width: 70px;
$sidebar-height: 100%;
$sidebar-padding: 0 0 20px 0;
$sidebar-bg: $base-brand-color;
$sidebar-bg-gray: $base-color;
$sidebar-color-gray: var(--base-text-disabled);
$sidebar__title-font-size: 18px;
$sidebar__title-line-height: 24px;
$sidebar__header-padding: 20px 20px 10px 30px;
$sidebar__header-line-height: 24px;
$sidebar__list-menu-color: $base-brand-color;
$sidebar__list-menu-bg: white;
$sidebar__list-menu-icon-color: $base-brand-color;
$sidebar__list-menu-icon-color-gray: $base-icon-color;

.sidebar {
  display: block;
  // Change the position to "absolute" when you need the Sidebar to be positioned on the left side of the page.
  position: relative;
  font-size: $font-size--md;
  top: 0;
  left: 0;
  padding: $sidebar-padding;
  width: $sidebar-width;
  height: $sidebar-height;
  background: $sidebar-bg;
  color: $base-inverse-color;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: $sidebar-z-index;
  &__header {
    &::after {
      display: block;
      content: "";
      clear: both;
    }

    padding: $sidebar__header-padding;
    line-height: $sidebar__header-line-height;
    display: flex;
    align-items: center;
  }
  &__title {
    display: inline-block;
    font-size: $sidebar__title-font-size;
    line-height: $sidebar__title-line-height;
    vertical-align: middle;
  }
  &__list-menu {
    display: inline-flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    &:hover {
      text-decoration: none;
    }

    color: $sidebar__list-menu-color;
    background-color: $sidebar__list-menu-bg;
    border-radius: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    & .icon {
      color: $sidebar__list-menu-icon-color;
    }
  }
  &--bg-gray {
    background: $sidebar-bg-gray;
    color: $sidebar-color-gray;
    & .sidebar__list-menu {
      background-color: $sidebar-color-gray;
      & .icon {
        color: $sidebar__list-menu-icon-color-gray;
      }
    }
  }
  &--state-collapsed {
    width: $sidebar--state-collapsed-width;
    .sidebar__title {
      display: none;
    }
  }
}

.a-app--animated .sidebar {
  transition: $transition-duration--fast;
}
