@import "../../styles";

@include theme(a-pagination) using ($theme) {
  .a-button-group {
    .a-button {
      color: map-deep-get($theme, "base", "color");

      &--selected,
      &:hover {
        background-color: map-deep-get(
          $theme,
          "pagination",
          "background-color"
        ) !important;
        border: 2px solid
          map-deep-get($theme, "pagination", "label-border-color") !important;
        color: map-deep-get($theme, "pagination", "label-color");
        font-weight: 600;
      }

      &:focus {
        box-shadow: none;
      }

      &:focus:not(&--selected) {
        color: map-deep-get($theme, "base", "inverse-color");
      }
    }
  }

  &__previous,
  &__next,
  &__first,
  &__last {
    margin: 0;
    .a-icon {
      fill: map-deep-get($theme, "control", "stroke-color");
    }
  }
}

.a-pagination {
  display: flex;
  align-items: center;

  &__previous.a-button--icon,
  &__next.a-button--icon,
  &__first.a-button--icon,
  &__last.a-button--icon {
    height: 28px;
    padding: 0 3px;

    svg {
      width: 18px !important;
    }
  }

  &__previous {
    margin-right: 10px;
  }

  &__next {
    margin-left: 10px;
  }

  .a-button-group {
    margin: 0 4px;

    .a-button {
      padding: 0 7px;
      height: 23px;
      border-radius: $border-radius--lg;
      border: 2px solid transparent !important;
      background-color: transparent !important;
      font-weight: 400;
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
    > .a-button-group__wrapper > .a-button.a-button--selected {
      margin-left: 0;
    }
  }

  &__results-per-page {
    display: flex;
    align-items: center;

    .a-text-input {
      width: 35px;
      margin-right: 5px;

      &__input {
        padding-left: 0;
        text-align: center;
      }
    }
  }

  &__results {
    margin: 0 20px;
  }

  &__page-selection {
    display: flex;
    align-items: center;

    .a-text-input {
      width: 35px;
      margin-right: 5px;

      &__input {
        padding-left: 0;
        text-align: center;
      }
    }
  }

  > .a-button,
  > .a-pagination__results-per-page,
  > .a-pagination__page-selection {
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
  > .a-pagination__results {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  > .a-button + .a-button-group,
  > .a-pagination__results-per-page + .a-button-group,
  > .a-pagination__page-selection + .a-button-group,
  > .a-button-group + .a-button {
    margin-left: 4px;
  }
}
