.a-modal {
  opacity: 0;

  &--transitions {
    transition: opacity 0.2s;
  }

  &--show {
    opacity: 1;
  }

  &--hide {
    opacity: 0;
  }
}

.a-modal-container {
  position: fixed;
  top: 0;
  left: 0;

  &--center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--transitions {
    transform: scale(0);
    transition: transform 0.2s;
  }

  &--grow.a-modal-container--transitions {
    transform: scale(1);
  }

  &--shrink.a-modal-container--transitions {
    transform: scale(0);
  }

  .a-panel {
    &__title {
      align-self: center;
      font-size: 24px;
    }
  }

  .a-card-wrapper {
    max-height: calc(100vh - 40px);
  }

  .a-card__header {
    padding-bottom: 16px;
  }
  &--scroll .a-card__content {
    border-top: 1px solid var(--control-border-weak-default);
    border-bottom: 1px solid var(--control-border-weak-default);
  }

  .a-card__content {
    margin: 0 -16px;
    padding: 0 16px;
    overflow: auto;
    max-height: 705px;
  }

  .a-card__footer {
    padding-top: 16px;
    justify-content: flex-end;

    .a-button + .a-button {
      margin-left: 8px;
    }
  }

  &--small > :first-child {
    width: 384px;
    min-width: unset;
  }

  &--medium > :first-child {
    width: 576px;
  }

  &--large > :first-child {
    width: 768px;
  }

  &--xlarge > :first-child {
    width: 912px;
  }
}

.a-modal--hidden {
  visibility: hidden;
}
.a-modal--grow {
  transform: scale(1);
}
.a-modal--shrink {
  transform: scale(0);
}
