.a-modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .a-panel {
    &__title {
      align-self: center;
    }
  }

  &--small > :first-child {
    width: 384px;
    min-width: unset;
  }

  &--medium > :first-child {
    width: 576px;
  }

  &--large > :first-child {
    width: 768px;
  }

  &--xlarge > :first-child {
    width: 912px;
  }
}

.a-modal--hidden {
  visibility: hidden;
}
