@import "../../styles";

$switch-width: 40px;
$switch-height: 20px;
$switch-width-sm: 32px;
$switch-height-sm: 16px;
$switch-border-radius: 14px;
$switch__label-margin: 0 0 0 10px;
$switch__circle-width: 14px;
$switch__circle-height: 14px;
$switch__circle-width-sm: 10px;
$switch__circle-height-sm: 10px;
$switch__circle-border-radius: 30px;
$switch-transition: background-color $transition-duration--slow ease-out;
$switch-after-transition: transform $transition-duration--fast
  cubic-bezier(0.2, 0.8, 0.2, 1.2);

.a-switch {
  &__wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 0;
  }

  &__box {
    display: flex;
    position: relative;
    width: $switch-width;
    height: $switch-height;
    border-radius: $switch-border-radius;
    align-items: center;
    justify-content: center;
    background-color: var(--base-bg-strong-default);

    &:after {
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: $switch__circle-width;
      height: $switch__circle-height;
      left: 3px;
      border-radius: $switch__circle-border-radius;
      content: "";
    }

    &:hover {
      background-color: var(--base-bg-strong-hover);
    }
  }

  &__input {
    @include hidden-input;

    &:checked {
      ~ .a-switch__box {
        background-color: var(--control-bg-strong-default);
        &:after {
          transform: translateX(142%);
        }
      }
    }

    ~ .a-switch__box {
      &:after {
        background-color: var(--control-icon-in-default);
      }
    }

    &:enabled:checked {
      ~ .a-switch__box {
        background-color: var(--control-bg-strong-default);
        &:hover {
          background-color: var(--control-bg-strong-hover);
        }
      }
    }

    &:disabled {
      ~ .a-switch__box {
        background-color: var(--base-bg-strong-disabled);
        cursor: not-allowed;
      }

      ~ .a-switch__label {
        color: var(--base-text-disabled);
      }
    }

    &:disabled:checked {
      ~ .a-switch__box {
        background-color: var(--control-bg-strong-disabled);
      }
    }
  }

  &__label {
    margin: $switch__label-margin;
    display: inline-block;
    flex: 1 1 0%;
    position: relative;
    @include text-truncate;
  }

  &__label--wrap {
    white-space: normal;
    overflow: visible;
  }

  &--disabled .a-switch__wrap {
    cursor: default;
  }

  &--small {
    .a-switch__box {
      width: $switch-width-sm;
      height: $switch-height-sm;

      &:after {
        width: $switch__circle-width-sm;
        height: $switch__circle-height-sm;
      }
    }

    .a-switch__input:checked {
      ~ .a-switch__box {
        &:after {
          transform: translateX(156%);
        }
      }
    }
  }
}

.a-app--animated .a-switch {
  &__input {
    ~ .a-switch__box {
      @include transition($switch-transition);

      &:after {
        @include transition($switch-after-transition);
      }
    }
  }
}
