{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "env": {
    "development": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": ["docs/*", "pages/*"]
          }
        ],
        [
          "babel-plugin-typescript-to-proptypes",
          {"mapUnknownReferenceTypesToAny": true}
        ]
      ]
    }
  }
}
