.github/
.next/
.nyc-output/
.vercel/
build/
coverage/
cypress/
docs/
pages/
public/
scripts/
styles/
svg/

.editorconfig
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.js
.vercelignore
babel-lib.config.js
babel-preset-local.js
codecov.yml
cypress.json
next.config.js
vercel.json

*.spec.js
*.mdx
