@import "../../styles";

@include theme(a-badge) using ($theme) {
  &__badge {
    border-color: map-deep-get($theme, "badge", "border-color");
  }
}

.a-badge {
  display: inline-block;
  line-height: 1;
  position: relative;

  &__wrapper {
    flex: 0 1;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__badge {
    border-radius: 9px;
    color: $white;
    display: inline-flex;
    font-size: 12px;
    min-height: 18px;
    letter-spacing: 0;
    line-height: 0;
    min-width: 18px;
    padding: 4px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    border-width: thin;
    border-style: solid;
    bottom: calc(100% - 9px);
    left: calc(100% - 9px);
    align-items: center;
    justify-content: center;

    &--small {
      font-size: 9px;
      min-width: 14px;
      min-height: 14px;
      border-radius: 7px;
      bottom: calc(100% - 7px);
      left: calc(100% - 7px);
    }

    &--large {
      font-size: 14px;
      min-width: 24px;
      min-height: 24px;
      border-radius: 12px;
      bottom: calc(100% - 12px);
      left: calc(100% - 12px);
    }

    &--no-content {
      min-height: 0;
      min-width: 0;
      bottom: calc(100% - 5px);
      left: calc(100% - 5px);
    }
  }
}
