@import "../../styles";

.a-dialog-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black;
  opacity: 0.5;
  pointer-events: initial;
  z-index: 8;

  &--active {
    display: block;
  }
}

.a-dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 8;
  border-radius: $border-radius--xlg;

  &--active {
    display: block;
  }

  .a-panel {
    border-radius: $border-radius--xlg;
    border: 0;
  }
}

.a-app--animated .a-dialog {
  .a-dialog__dialog {
    animation-name: slideInBottom;
    animation-duration: $transition-duration;
  }
}
