.drawer {
  z-index: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background: white;
}

.slim {
  width: 50px;
}

.full {
  width: 400px;
}

.hidden:not(.fixed--bottom) {
  overflow: hidden;
  width: 0;
  visibility: hidden;
}

.hidden.fixed--bottom {
  height: 0;
  visibility: hidden;
}

.fixed {
  background: white;
  position: fixed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}

.fixed--left,
.fixed--right {
  height: 100vh;
  top: 0;
}

.fixed--left {
  left: 0;
}

.fixed--right {
  right: 0;
}

.fixed--bottom {
  height: 20vh;
  width: 100vw;
  left: 0;
  bottom: 0;
}

.inline {
  position: relative;
  height: 100%;
  top: unset;
  left: unset;
  bottom: unset;
  z-index: unset;
}

@media (prefers-reduced-motion) {
  .drawer {
    transition: none;
  }
}
