@import "../../styles";

$tabs-padding: 0;
$tabs-margin: 8px 0 0;
$tab-font-size: $font-size--lg;
$tab-font-size-secondary: $font-size--md;
$tab-bottom-bar-height: -4px;
$tab-top-bar-height: 4px;
$tab-padding-bottom: 12px;
$tab-margin: 32px;
$tab-margin-secondary: 24px;
$tab-padding: 4px 0 8px 0; //doesn't match magnetic (overall height 41px, but magnetic doesn't align to the multiple of 4px pattern here either //Update - Added padding on the bottom to try to match height of the bar
$tab-heading-margin: 0;

.a-tab-group {
  margin: $tabs-margin;
  padding: $tabs-padding;
  list-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;

  //Remove link style from tabs
  a {
    background: unset !important;
    border-radius: unset !important;
  }

  &:not(&--vertical) {
    width: 100%;
  }

  &__tab-wrapper {
    display: flex;
  }

  &__tab-content--vertical {
    display: flex;
    flex-direction: column;
    box-shadow: inset -1px 0 $magnetic-color-neutral-90;
  }

  &__scroll-left,
  &__scroll-right {
    flex-shrink: 0;
  }

  &__tab {
    font-weight: 600;
    display: inline-block;
    margin-right: $tab-margin;
    padding: $tab-padding;
    border: none;
    text-align: center;
    user-select: none;
    font-size: $tab-font-size;
    background-color: transparent;
    line-height: 25px;
    cursor: pointer;
    color: var(--base-text-medium-default);
    //If has tag, provide some margin
    .a-tag {
      margin: 0 4px 2px 4px;
    }

    &--hide {
      display: none !important;
    }
    svg {
      vertical-align: middle;
      width: 12px;
      margin: 0 0 2px 3px;
    }

    &:active {
      outline: none;
    }

    &:active,
    &:focus,
    &:hover,
    &--focused:not(.a-tab-group__tab--vertical) {
      color: var(--base-text-default);

      @include tab-bar(
        $tab-bottom-bar-height,
        var(--brand-accent-border-hover)
      );
    }

    &--focused.a-tab-group__tab--vertical {
      color: var(--base-text-default);
      @include vertical-tab-bar(
        $tab-bottom-bar-height,
        var(--brand-accent-border-hover)
      );
    }

    &--secondary {
      margin-right: $tab-margin-secondary;
      font-size: $tab-font-size-secondary;

      color: var(--interact-text-weak-default);
      &:active,
      &:focus,
      &:hover {
        color: var(--interact-text-weak-active);

        @include tab-bar(
          $tab-bottom-bar-height,
          var(--interact-border-medium-hover)
        );
      }
    }

    &--vertical:active,
    &--vertical:focus,
    &--vertical:hover {
      color: var(--interact-text-weak-active);
      @include vertical-tab-bar(
        $tab-bottom-bar-height,
        var(--interact-border-medium-hover)
      );
    }

    &--vertical {
      min-width: 150px;
      margin: 0 0 8px;
      padding-top: $tab-padding-bottom;
      height: unset;
      line-height: unset;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &--selected {
      //Primary
      &:not(.a-tab-group__tab--secondary) {
        color: var(--base-text-default);
        @include tab-bar(
          $tab-bottom-bar-height,
          var(--brand-accent-border-active)
        );
        &:active,
        &:focus,
        &:hover {
          color: var(--base-text-default);
          @include tab-bar(
            $tab-bottom-bar-height,
            var(--brand-accent-border-active)
          );
        }
      }

      //Secondary
      &.a-tab-group__tab--secondary {
        color: var(--interact-text-weak-active);
        @include tab-bar(
          $tab-bottom-bar-height,
          var(--interact-border-medium-active)
        );

        &:active,
        &:focus,
        &:hover {
          color: var(--interact-text-weak-active);

          @include tab-bar(
            $tab-bottom-bar-height,
            var(--interact-border-medium-active)
          );
        }
      }

      &--vertical {
        color: var(--interact-text-weak-active);
        @include vertical-tab-bar(
          $tab-bottom-bar-height,
          var(--interact-border-medium-active) !important
        );
      }
    }
  }

  .a-tab-group__tab {
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
      outline-offset: 0;
    }

    &--vertical {
      text-align: left;
    }
  }

  &:has(.a-tab-group__tab--secondary :not(.a-tab-group__tab--vertical)) {
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    //TODO mark back in when UX decides on primary vs secondary
    // border-bottom-color: map-deep-get(
    //   $theme,
    //   "tabs",
    //   "border-bottom-secondary"
    // );
  }
}

.a-app--animated .a-tab-group {
  &__tab-content {
    transition: transform $transition-duration--fast ease;
  }
}

//If tab with tag moves to list item, carry over margin
.tab-overflow-menu {
  .a-list-item {
    .a-tag {
      margin: 0 4px;
    }
    a {
      width: 100%;
      color: var(--base-text-default) !important;
    }
  }
}
