@import "../../styles";

$select-height: 28px;
$select-padding: 6px;

@include theme(a-select) using ($theme) {
  &__menu-items.a-menu {
    border-color: map-deep-get($theme, "menu", "border-color");
  }

  &__menu-item {
    &--selected {
      &::after {
        color: map-deep-get($theme, "base", "color-blue-primary");
      }
    }

    &[aria-disabled] {
      color: map-deep-get($theme, "base", "color--disabled");
      background-color: transparent;
    }

    &.a-list-item[aria-disabled]:hover,
    &.a-list-item[aria-disabled]:focus {
      color: map-deep-get($theme, "base", "color--disabled");
      background-color: transparent;
    }
  }
}

.a-select {
  &__selection-wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
  }

  &__selection {
    width: 100%;
    cursor: pointer;
    user-select: none;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding-left: 6px;
  }

  &__chevron {
    cursor: pointer;
    padding: 0 7px;
    align-self: stretch;
  }

  &.a-input-base--readonly {
    .a-select__selection,
    .a-select__chevron {
      cursor: default;
    }
  }
}

.a-list-item.a-select__menu-item {
  min-height: $select-height;
  line-height: $line-height--lg;
  padding: 2px 22px 0 0;
  text-indent: $select-padding;
  vertical-align: top;

  &::after {
    content: "";
    border-style: solid;
    display: none;
    height: rem(0.75);
    position: absolute;
    width: rem(0.3125);
    border-width: 0 rem(0.125) rem(0.125) 0;
    transform: rotate(45deg);
    top: $select-padding;
    right: 8px;
  }

  &--selected {
    &::after {
      display: block;
    }
  }

  &[aria-disabled] {
    cursor: not-allowed;
  }
}
