@import "../../styles";

$select-height: 28px;
$select-padding: 6px;

.a-select {
  &__menu-items.a-menu {
    border-color: var(--control-border-default);
  }

  &__menu-item {
    &--selected {
      &::after {
        color: var(--control-icon-default);
      }
    }

    &[aria-disabled] {
      color: var(--base-text-disabled);
      background-color: transparent;
    }

    &.a-list-item[aria-disabled]:hover,
    &.a-list-item[aria-disabled]:focus {
      color: var(--base-text-disabled);
      background-color: transparent;
    }
  }
  &__selection-wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
  }

  &__selection {
    width: 100%;
    cursor: pointer;
    user-select: none;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 8px 0 12px;
  }

  &__chevron {
    cursor: pointer;
    padding: 0;
    align-self: center;
  }

  > .a-input-base__surface {
    > .a-input-base__prepend {
      margin: 0 8px;
      &:first-child {
        margin-left: 12px;
      }
      &:last-child {
        margin-right: 12px;
      }
    }
  }

  .a-input-base__append {
    margin: 0 !important;

    .a-icon {
      padding: 0 12px 0 8px;
      height: 100%;
    }
  }

  &.a-input-base--readonly {
    .a-select__selection,
    .a-select__chevron {
      cursor: default;
    }
  }
}

.a-list-item.a-select__menu-item {
  min-height: $select-height;
  line-height: $line-height--lg;
  padding: 4px 30px 4px 6px;
  text-indent: $select-padding;
  vertical-align: top;

  &:first-of-type {
    border-top-left-radius: $border-radius--md;
    border-top-right-radius: $border-radius--md;
  }
  &:last-of-type {
    border-bottom-right-radius: $border-radius--md;
    border-bottom-left-radius: $border-radius--md;
  }

  &::after {
    content: "";
    border-style: solid;
    display: none;
    height: rem(0.75);
    position: absolute;
    width: rem(0.3125);
    border-width: 0 rem(0.125) rem(0.125) 0;
    transform: rotate(45deg);
    top: $select-padding;
    right: 16px;
  }

  &--selected {
    &::after {
      display: block;
    }
  }

  &[aria-disabled] {
    cursor: not-allowed;
  }
}

.a-select__menu-items--truncate-menu-items {
  min-width: unset !important;
  .a-list-item.a-select__menu-item {
    overflow: hidden;
  }
  .a-select__menu-item-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.a-select__menu-items--text-wrap-menu-items {
  min-width: unset !important;
  max-height: 400px;
  overflow-y: auto;
  .a-list-item.a-select__menu-item {
    white-space: normal;
    text-indent: unset;
    /* preserve the original 4px padding and add the negated text-indent */
    padding-left: calc(4px + $select-padding);
  }
}
