@import "../../styles";

$load-icon-font-size: rem(3); // 48px;
$load-body-font-size: rem(0.8125); // 13px;
$load-min-height: 80px;
$load-max-width: 200px;
$load-padding: $base-padding-small;
$load-margin: 0 auto;

.load {
  position: relative;
  padding: $load-padding;
  margin: $load-margin;
  color: $base-color;
  background: transparent;
  min-height: $load-min-height;
  max-width: $load-max-width;
  text-align: center;
  &__icon {
    font-size: $load-icon-font-size;
  }
  &__body {
    font-size: $load-body-font-size;
  }
}
