@import "../../styles";

$checkbox-box-border-radius: $border-radius--md;
$checkbox-box-side-length: 20px;
$checkbox-box-side-length-magna-medium: 20px;
$checkbox-box-side-length-magna-small: 16px;
$checkbox-icon-size: 16px;
$checkbox-icon-size-small: 12px;
$checkbox-label-font-size: $font-size--md;
$checkbox-label-font-size-small: $font-size--sm;
$checkbox-icon-padding-left: $base-padding-xsmall;
$checkbox-padding: $base-padding-xsmall 0;
$checkbox-transition: box-shadow $transition-duration--extra-fast
  $transition-timing-function--standard;

@include theme(a-checkbox) using ($theme) {
  .a-checkbox {
    &__box {
      background-color: map-deep-get($theme, "checkbox", "fill-enabled");
    }

    &__focuswrap:focus-within {
      outline: none;
      border-radius: 4px;
      box-shadow: 0 0 0 2px
          map-deep-get($theme, "checkbox", "focus-shadow-light"),
        0 0 0 4px map-deep-get($theme, "checkbox", "focus-shadow-dark");
    }
  }

  &__box {
    &:hover:after {
      box-shadow: none;
      opacity: 0.6;
    }
  }

  &--enabled {
    .a-checkbox__box {
      border-color: map-deep-get($theme, "checkbox", "border--enabled");

      &:hover {
        border-color: map-deep-get($theme, "checkbox", "border--hover");
      }
    }
  }

  &--selected {
    .a-checkbox__box {
      background-color: map-deep-get($theme, "checkbox", "fill-checked");
      fill: map-deep-get($theme, "checkbox", "fill-enabled");

      &:hover {
        background-color: map-deep-get(
          $theme,
          "checkbox",
          "fill-checked--hover"
        );
      }
    }
  }

  &--warning {
    .a-checkbox__box {
      border-color: map-deep-get($theme, "control", "warning-color");
    }

    .a-checkbox__box:hover {
      border-color: darken(
        map-deep-get($theme, "control", "warning-color"),
        5%
      );
    }
  }

  &--warning.a-checkbox--selected {
    .a-checkbox__box {
      background-color: map-deep-get($theme, "control", "warning-color");
    }

    .a-checkbox__box:hover {
      background-color: darken(
        map-deep-get($theme, "control", "warning-color"),
        5%
      );
    }
  }

  &--danger {
    .a-checkbox__box {
      border-color: map-deep-get($theme, "control", "error-color");
    }

    .a-checkbox__box:hover {
      border-color: darken(map-deep-get($theme, "control", "error-color"), 5%);
    }
  }

  &--danger.a-checkbox--selected {
    .a-checkbox__box {
      background-color: map-deep-get($theme, "control", "error-color");
    }

    .a-checkbox__box:hover {
      background-color: darken(
        map-deep-get($theme, "control", "error-color"),
        5%
      );
    }
  }

  &--disabled {
    .a-checkbox__wrap {
      .a-checkbox {
        &__box {
          border-color: map-deep-get($theme, "checkbox", "border--disabled");
          color: map-deep-get($theme, "checkbox", "border--disabled");
          background-color: map-deep-get(
            $theme,
            "checkbox",
            "fill--disabled"
          ) !important;
          cursor: not-allowed;

          box-shadow: inset 0 0 0 2px
            map-deep-get($theme, "checkbox", "border--disabled");
          border: none;
        }

        &__input:checked,
        &__input[aria-checked="mixed"] {
          ~ .a-checkbox {
            &__box {
              svg {
                fill: map-deep-get($theme, "checkbox", "border--disabled");
              }
            }
          }
        }
      }
    }

    .a-checkbox__label {
      color: map-deep-get($theme, "checkbox", "label-color--disabled");
    }
  }
  &--disabled.a-checkbox--selected {
    .a-checkbox__wrap {
      .a-checkbox {
        &__input {
          ~ .a-checkbox {
            &__box {
              background-color: map-deep-get(
                $theme,
                "checkbox",
                "icon--disabled"
              );
            }
          }
        }
      }
    }
  }

  &--hasColor.a-checkbox__box:hover {
    opacity: 0.7;
  }

  .a-checkbox--selected {
    &--hasColor.a-checkbox__box:hover {
      opacity: 0.7;
    }
  }
}

.a-checkbox {
  &__wrap {
    display: flex;
    padding: $checkbox-padding;
    align-items: flex-start;
    cursor: pointer;
  }

  &__focuswrap {
    display: flex;
    position: relative;
    padding: 0;
    align-items: flex-start;
  }

  &__input {
    @include hidden-input;
    &:focus ~ .a-checkbox__box:after {
      box-shadow: none;
    }
  }

  &__box {
    color: currentColor;
    position: relative;
    flex: 0 0 auto;
    height: $checkbox-box-side-length;
    width: $checkbox-box-side-length;
    border-radius: $checkbox-box-border-radius;
    vertical-align: middle;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      height: $checkbox-icon-size;
      width: $checkbox-icon-size;
    }

    &:after {
      content: "";
      position: absolute;
      height: $checkbox-box-side-length;
      width: $checkbox-box-side-length;
      left: 0;
      border-radius: $checkbox-box-border-radius;
    }
  }

  &__box.a-medium-box {
    margin-top: 0;
    height: $checkbox-box-side-length-magna-medium;
    width: $checkbox-box-side-length-magna-medium;
    &:after {
      height: $checkbox-box-side-length-magna-medium;
      width: $checkbox-box-side-length-magna-medium;
    }
  }

  &__box.a-small-box {
    height: $checkbox-box-side-length-magna-small;
    width: $checkbox-box-side-length-magna-small;

    &:after {
      height: $checkbox-box-side-length-magna-small;
      width: $checkbox-box-side-length-magna-small;
    }

    > svg {
      height: $checkbox-icon-size-small;
      width: $checkbox-icon-size-small;
    }
  }

  &__box.a-empty-box {
    border: 2px solid;
    border-radius: $checkbox-box-border-radius;
  }

  &__label {
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: $checkbox-label-font-size;
    padding-left: 8px;
    flex: 1 1 0%;
    @include text-truncate;
  }

  &__label--wrap {
    white-space: normal;
    overflow: visible;
  }

  &__wrap .a-icon {
    width: $checkbox-icon-size;
    padding-left: $checkbox-icon-padding-left;
  }

  &--disabled {
    .a-checkbox__wrap {
      cursor: default;
    }

    .a-checkbox__box {
      &:after {
        pointer-events: none;
      }

      &:hover:after {
        box-shadow: 0 0 2px 2px transparent;
      }
    }
  }

  &--small {
    .a-checkbox__label {
      font-size: $checkbox-label-font-size-small;
    }
  }
}

.a-app--animated .a-checkbox {
  &__input {
    & ~ .a-checkbox__box {
      @include transition($checkbox-transition);
    }
  }
}
