@import "../../styles";

$checkbox-box-border-radius: $border-radius--md;
$checkbox-box-side-length: rem(1);
$checkbox-box-side-length-magna-medium: $font-size--lg;
$checkbox-box-side-length-magna-small: rem(1);
$checkbox-icon-size: $font-size--xxs;
$checkbox-label-font-size: $font-size--xs;
$checkbox-label-font-size-medium: $font-size--sm;
$checkbox-icon-padding-left: $base-padding-xsmall;
$checkbox-padding: $base-padding-xsmall 0;
$checkbox-transition: box-shadow $transition-duration--extra-fast
  $transition-timing-function--standard;

@include theme(a-checkbox) using ($theme) {
  .a-checkbox {
    &__box {
      background-color: map-deep-get($theme, "checkbox", "fill-enabled");
    }
  }

  &__box {
    &:hover:after {
      box-shadow: none;
    }
  }

  &--enabled {
    .a-checkbox__box {
      fill: map-deep-get($theme, "checkbox", "border--enabled");
      color: map-deep-get($theme, "checkbox", "border--checked");
      &:hover {
        svg {
          fill: map-deep-get($theme, "checkbox", "border--hover");
        }
      }
    }
  }

  &--selected {
    .a-checkbox__box {
      fill: map-deep-get($theme, "checkbox", "fill-checked");
      &:hover svg {
        fill: map-deep-get($theme, "checkbox", "fill-checked--hover");
      }
    }
  }

  &--warning {
    .a-checkbox__box {
      fill: map-deep-get($theme, "control", "warning-color");
      color: map-deep-get($theme, "control", "warning-color");
    }
  }

  &--danger {
    .a-checkbox__box {
      fill: map-deep-get($theme, "control", "error-color");
      color: map-deep-get($theme, "control", "error-color");
    }
  }

  &--disabled {
    .a-checkbox__wrap {
      .a-checkbox {
        &__box {
          fill: map-deep-get($theme, "checkbox", "border--disabled");
          color: map-deep-get($theme, "checkbox", "border--disabled");
          background-color: map-deep-get($theme, "checkbox", "fill--disabled");
          cursor: not-allowed;
          > svg:hover {
            fill: map-deep-get($theme, "checkbox", "border--disabled");
          }
        }

        &__input:checked {
          ~ .a-checkbox {
            &__box {
              svg {
                fill: map-deep-get($theme, "checkbox", "border--disabled");
              }
            }
          }
        }
      }
    }

    .a-checkbox__label {
      color: map-deep-get($theme, "checkbox", "label-color--disabled");
    }
  }
  &--disabled.a-checkbox--selected {
    .a-checkbox__wrap {
      .a-checkbox {
        &__input {
          ~ .a-checkbox {
            &__box {
              background-color: map-deep-get(
                $theme,
                "checkbox",
                "icon--disabled"
              );
            }
          }
        }
      }
    }
  }
}

.a-checkbox {
  &__wrap {
    display: flex;
    position: relative;
    padding: $checkbox-padding;
    align-items: flex-start;
    cursor: pointer;
  }

  &__input {
    @include hidden-input;
    &:focus ~ .a-checkbox__box:after {
      box-shadow: none;
    }
  }

  &__box {
    color: currentColor;
    position: relative;
    margin-top: 2px;
    flex: 0 0 auto;
    height: $checkbox-box-side-length;
    width: $checkbox-box-side-length;
    border-radius: $checkbox-box-border-radius;
    vertical-align: middle;
    box-sizing: border-box;

    > svg {
      position: absolute;
    }

    &:after {
      content: "";
      position: absolute;
      height: $checkbox-box-side-length;
      width: $checkbox-box-side-length;
      left: 0;
      border-radius: $checkbox-box-border-radius;
    }
  }

  &__box.a-medium-box {
    margin-top: 0;
    height: $checkbox-box-side-length-magna-medium;
    width: $checkbox-box-side-length-magna-medium;
    &:after {
      height: $checkbox-box-side-length-magna-medium;
      width: $checkbox-box-side-length-magna-medium;
    }
  }
  &__box.a-medium-box + .a-checkbox__label {
    top: unset;
    font-size: $checkbox-label-font-size-medium;
  }

  &__box.a-small-box {
    height: $checkbox-box-side-length-magna-small;
    width: $checkbox-box-side-length-magna-small;

    &:after {
      height: $checkbox-box-side-length-magna-small;
      width: $checkbox-box-side-length-magna-small;
    }
  }

  &__label {
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: $checkbox-label-font-size;
    padding-left: 8px;
    flex: 1 1 0%;
    @include text-truncate;
  }

  &__label--wrap {
    white-space: normal;
    overflow: visible;
  }

  &__wrap .a-icon {
    width: $checkbox-icon-size;
    padding-left: $checkbox-icon-padding-left;
  }

  &--disabled {
    .a-checkbox__wrap {
      cursor: default;
    }

    .a-checkbox__box {
      &:after {
        pointer-events: none;
      }

      &:hover:after {
        box-shadow: 0 0 2px 2px transparent;
      }
    }
  }
}

.a-app--animated .a-checkbox {
  &__input {
    & ~ .a-checkbox__box {
      @include transition($checkbox-transition);
    }
  }
}
