@import "../../styles";

// -----------------------------------------------------------------------------
// Button Card Default
// -----------------------------------------------------------------------------
$btn-card-min-width: 350px;
$btn-card-min-height: 150px;
$btn-card-padding: 20px;
$btn-card-title-margin-bottom: 12px;
$btn-card-font-size: $font-size--md;
$btn-card-bar-height: -4px;
$btn-card-body-color: $color-gray--dark3;
$btn-card-body-color--selected: $color-gray--dark1;
$btn-card-border-color--disabled: $color-gray--light1;
$btn-card-title-color--disabled: $base-color--disabled;
$btn-card-body-color--disabled: $base-color--disabled;
$btn-card-box-shadow--selected: 0 0 2px 2px rgba(0, 131, 179, 0.4),
  inset 0 -5px 0 0 $base-color--selected;

// -----------------------------------------------------------------------------
// Button Card Dusk
// -----------------------------------------------------------------------------
$btn-card-body-color: $color-gray--light1; // #c6c7ca;
$btn-card-body-color--selected: $color-gray--light1; // #c6c7ca;
$btn-card-box-shadow--selected: 0 0 2px 2px rgba(4, 159, 217, 0.4),
  inset 0 -5px 0 0 $base-color--selected; // #049fd9, #049fd9;
$btn-card-border-color--disabled: rgba(
  $color-gray--medium3,
  $alpha-5
); // (#9e9ea2, 50%);
$btn-card-title-color--disabled: rgba(
  $color-gray--light4,
  $alpha-3
); // (#f2f2f2, 30%);
$btn-card-body-color--disabled: rgba(
  $color-gray--light1,
  $alpha-3
); // (#c6c7ca, 30%);

@include theme(a-button-card) using ($theme) {
}

.a-button-card {
  display: inline-block;
  min-width: $btn-card-min-width;
  min-height: $btn-card-min-height;
  padding: $btn-card-padding;
  border: $base-border-width solid $base-stroke-color;
  border-radius: $base-border-radius;
  text-align: center;
  &__title {
    font-size: $btn-card-font-size;
    margin-bottom: $btn-card-title-margin-bottom;
    color: $base-color;
  }
  &__body {
    font-size: $base-font-size;
    color: $btn-card-body-color;
  }
  &--selected {
    border-color: $base-color--selected;
    @include tab-bar($btn-card-bar-height, $base-color--selected);
    .btn-card__body {
      color: $btn-card-body-color--selected;
    }
  }
  &--disabled {
    border-color: $btn-card-border-color--disabled;
    .btn-card__title {
      color: $btn-card-title-color--disabled;
    }
    .btn-card__body {
      color: $btn-card-body-color--disabled;
    }
  }
  &:hover:not(.btn-card--disabled) {
    border-color: $base-color--hover;
    @include tab-bar($btn-card-bar-height, $base-color--hover);
    .btn-card__body {
      color: $btn-card-body-color;
    }
  }
  &:focus:not(.btn-card--disabled) {
    border-color: $base-brand-color;
    box-shadow: $base-box-shadow;
    &.btn-card--selected {
      border-color: $base-color--selected;
      box-shadow: $btn-card-box-shadow--selected;
    }
  }
}
