@import "../../styles";

.a-breadcrumb {
  list-style: none;
  background-color: transparent;
  margin: 8px 0 12px;
  padding: 0;
  line-height: 20px;

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  li.a-breadcrumb__item {
    padding: 0;
    float: left;
    font-size: $font-size--md;
    font-weight: 600;
  }

  &__item {
    > a {
      color: var(--interact-text-weak-default) !important;
      font-size: $font-size--md;
      font-weight: 600;

      &:hover {
        color: var(--interact-text-weak-hover) !important;
        background: none;
        text-decoration: underline;
      }
    }
    &__arrow {
      vertical-align: middle;
      width: 14px;
      margin: 0 6px 0 0;
      stroke: var(--interact-icon-weak-default);
    }
    &__chevron {
      width: 9px;
      margin: 0 6px;
      stroke: var(--interact-icon-weak-default);
    }
  }
}
