@import "../../styles";

@include theme(a-breadcrumb) using ($theme) {
  &__item {
    > a {
      color: map-deep-get($theme, "breadcrumb", "default-color");
      font-size: $font-size--sm;
      font-weight: 600;

      &:hover {
        color: map-deep-get($theme, "breadcrumb", "hover-color");
        background: none;
        text-decoration: underline;
      }
    }

    &__chevron,
    &__arrow {
      stroke: map-deep-get($theme, "breadcrumb", "divider-color");
    }
  }
}

.a-breadcrumb {
  list-style: none;
  background-color: transparent;
  margin: 8px 0 12px;
  padding: 0;

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  li.a-breadcrumb__item {
    padding: 0;
    float: left;
    font-size: $font-size--sm;
    font-weight: 600;
  }

  &__item {
    &__arrow {
      vertical-align: middle;
      width: 14px;
      margin: 0 6px 0 0;
    }
    &__chevron {
      width: 9px;
      margin: 0 6px;
    }
  }
}

.a-breadcrumb--magnetic {
  li.a-breadcrumb__item {
    font-size: $font-size--sm;
  }
}
