@import "../../styles";

@include theme(a-divider) using ($theme) {
  border-color: map-deep-get($theme, "divider", "color-default");

  &--strong {
    border-color: map-deep-get($theme, "divider", "color-strong");
  }
}

.a-divider {
  position: relative;
  border-width: $border-width 0 0 0;
  border-style: solid;
  margin: 20px 0;

  &--light {
    border-width: 1px 0 0 0;
  }
}
