@import "../../styles";

.a-divider {
  position: relative;
  border-width: $border-width 0 0 0;
  border-style: solid;
  margin: 20px 0;
  border-color: var(--base-border-default);

  &--strong {
    border-color: var(--base-border-strong-default);
  }

  &--light {
    border-width: thin 0 0 0;
  }
}
