.a-page-header {
  padding: 0 0 24px 0;
  line-height: 34px;

  .a-breadcrumb {
    padding: 0 !important;
  }

  .a-page-title {
    padding: 0 0;
  }

  &--top-line {
    .a-page-title {
      padding: 4px 0 4px 0;
    }
  }
}
