@import "../../styles";

.a-hint {
  display: flex;
  line-height: 16px;
  margin: 4px 0 0 0;
  font-size: $font-size--sm;
  color: map-get($mds-neutral, "neutral-10");

  &__icon.a-icon {
    height: 14px;
    width: 14px;
  }
}
