@import "../../styles";

.a-inline-input {
  display: inline-flex;
  font-weight: normal !important;
  color: var(--base-text-default) !important;
  background: none;
  border: 0;

  &__display {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
  }

  &__placeholder {
    color: var(--base-text-weak-default);
  }

  &__editIcon,
  &__clearIcon {
    display: flex;
    opacity: 0;
    align-items: center;
    margin: 0 0 0 4px;
    transition: opacity 0.2s;

    .a-icon {
      height: 16px;
      width: 16px;

      vertical-align: middle;
    }
  }

  &__clearIcon {
    .a-button {
      padding: 0;
    }
  }

  &:focus-within,
  &__display:hover {
    color: var(--interact-text-weak-hover);
    .a-inline-input__editIcon,
    .a-inline-input__clearIcon {
      opacity: 1;
    }
    .a-icon--pencil-simple {
      stroke: var(--interact-text-weak-hover) !important;
    }
  }

  &--disabled {
    .a-inline-input__display {
      cursor: default;
      color: var(--base-text-default) !important;
    }
    .a-icon--pencil-simple {
      display: none;
    }
  }

  /*
  * There are issues with the default value of stretch that
  * cause the height of the container to change.
  */
  .a-text-input__prepend-icon,
  .a-text-input__append-icon {
    align-self: unset;
  }

  &--size-small {
    line-height: $line-height--sm;
  }

  &--size-medium {
    line-height: $line-height--md;
  }

  &--size-large {
    line-height: $line-height--lg;
  }

  .a-icon--pencil-simple {
    stroke: var(--base-text-default) !important;
  }
}
