@import "../../styles";

.a-contextual-notification-menu {
  margin: 0;
  width: auto;
  box-shadow: $default-box-shadow;
  overflow: visible;
  position: absolute;

  .a-icon-text {
    fill: var(--base-icon-in-default);
  }

  .a-panel__header {
    border-radius: 3px 3px 0 0;
  }

  .a-panel__footer {
    border-radius: 0 0 3px 3px;
  }

  &.a-menu-base--top,
  &.a-menu-base--top-left,
  &.a-menu-base--top-right {
    margin-top: -13px;
    .a-menu-base__pointer {
      margin-left: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 9.5px 0 9.5px;
      position: absolute;
      bottom: -14px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 9.5px 0 9.5px;
        position: absolute;
        right: -9.5px;
        top: -16px;
      }
    }
  }

  &.a-menu-base--right,
  &.a-menu-base--right-top,
  &.a-menu-base--right-bottom {
    margin-left: 13px;
    .a-menu-base__pointer {
      margin-top: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9.5px 14px 9.5px 0;
      position: absolute;
      left: -19px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9.5px 14px 9.5px 0;
        position: absolute;
        right: -16px;
        top: -9.5px;
      }
    }
  }

  &.a-menu-base--bottom,
  &.a-menu-base--bottom-left,
  &.a-menu-base--bottom-right {
    margin-top: 13px;
    .a-menu-base__pointer {
      margin-left: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9.5px 14px 9.5px;
      position: absolute;
      top: -14px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9.5px 14px 9.5px;
        position: absolute;
        right: -9.5px;
        top: 2px;
      }
    }
  }

  &.a-menu-base--left,
  &.a-menu-base--left-top,
  &.a-menu-base--left-bottom {
    margin-left: -13px;
    .a-menu-base__pointer {
      margin-top: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9.5px 0 9.5px 14px;
      position: absolute;
      right: -14px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9.5px 0 9.5px 14px;
        position: absolute;
        right: 2px;
        top: -9.5px;
      }
    }
  }

  &.a-context--state-warning {
    &.a-menu-base--top,
    &.a-menu-base--top-left,
    &.a-menu-base--top-right {
      .a-menu-base__pointer {
        border-color: var(--warning-bg-strong-default) transparent transparent
          transparent;

        &:after {
          border-color: var(--warning-bg-strong-default) transparent transparent
            transparent;
        }
      }
    }

    &.a-menu-base--bottom,
    &.a-menu-base--bottom-left,
    &.a-menu-base--bottom-right {
      .a-menu-base__pointer {
        border-color: transparent transparent var(--warning-bg-strong-default)
          transparent;

        &:after {
          border-color: transparent transparent var(--warning-bg-strong-default)
            transparent;
        }
      }
    }

    &.a-menu-base--right-top .a-menu-base__pointer,
    &.a-menu-base--right .a-menu-base__pointer,
    &.a-menu-base--right-bottom .a-menu-base__pointer {
      border-color: transparent var(--warning-bg-strong-default) transparent
        transparent;

      &:after {
        border-color: transparent var(--warning-bg-strong-default) transparent
          transparent;
      }
    }

    &.a-menu-base--left-top .a-menu-base__pointer,
    &.a-menu-base--left .a-menu-base__pointer,
    &.a-menu-base--left-bottom .a-menu-base__pointer {
      border-color: transparent transparent transparent
        var(--warning-bg-strong-default);

      &:after {
        border-color: transparent transparent transparent
          var(--warning-bg-strong-default);
      }
    }
  }
  &.a-context--state-danger {
    &.a-menu-base--top,
    &.a-menu-base--top-left,
    &.a-menu-base--top-right {
      .a-menu-base__pointer {
        border-color: var(--negative-bg-strong-default) transparent transparent
          transparent;

        &:after {
          border-color: var(--negative-bg-strong-default) transparent
            transparent transparent;
        }
      }
    }

    &.a-menu-base--bottom,
    &.a-menu-base--bottom-left,
    &.a-menu-base--bottom-right {
      .a-menu-base__pointer {
        border-color: transparent transparent var(--negative-bg-strong-default)
          transparent;

        &:after {
          border-color: transparent transparent
            var(--negative-bg-strong-default) transparent;
        }
      }
    }

    &.a-menu-base--right-top .a-menu-base__pointer,
    &.a-menu-base--right .a-menu-base__pointer,
    &.a-menu-base--right-bottom .a-menu-base__pointer {
      border-color: transparent var(--negative-bg-strong-default) transparent
        transparent;

      &:after {
        border-color: transparent var(--negative-bg-strong-default) transparent
          transparent;
      }
    }

    &.a-menu-base--left-top .a-menu-base__pointer,
    &.a-menu-base--left .a-menu-base__pointer,
    &.a-menu-base--left-bottom .a-menu-base__pointer {
      border-color: transparent transparent transparent
        var(--negative-bg-strong-default);

      &:after {
        border-color: transparent transparent transparent
          var(--negative-bg-strong-default);
      }
    }
  }
  &.a-context--state-success {
    &.a-menu-base--top,
    &.a-menu-base--top-left,
    &.a-menu-base--top-right {
      .a-menu-base__pointer {
        border-color: var(--positive-bg-strong-default) transparent transparent
          transparent;

        &:after {
          border-color: var(--positive-bg-strong-default) transparent
            transparent transparent;
        }
      }
    }

    &.a-menu-base--bottom,
    &.a-menu-base--bottom-left,
    &.a-menu-base--bottom-right {
      .a-menu-base__pointer {
        border-color: transparent transparent var(--positive-bg-strong-default)
          transparent;

        &:after {
          border-color: transparent transparent
            var(--positive-bg-strong-default) transparent;
        }
      }
    }

    &.a-menu-base--right-top .a-menu-base__pointer,
    &.a-menu-base--right .a-menu-base__pointer,
    &.a-menu-base--right-bottom .a-menu-base__pointer {
      border-color: transparent var(--positive-bg-strong-default) transparent
        transparent;

      &:after {
        border-color: transparent var(--positive-bg-strong-default) transparent
          transparent;
      }
    }

    &.a-menu-base--left-top .a-menu-base__pointer,
    &.a-menu-base--left .a-menu-base__pointer,
    &.a-menu-base--left-bottom .a-menu-base__pointer {
      border-color: transparent transparent transparent
        var(--positive-bg-strong-default);

      &:after {
        border-color: transparent transparent transparent
          var(--positive-bg-strong-default);
      }
    }
  }
  &.a-context--state-info {
    &.a-menu-base--top,
    &.a-menu-base--top-left,
    &.a-menu-base--top-right {
      .a-menu-base__pointer {
        border-color: var(--info-bg-strong-default) transparent transparent
          transparent;

        &:after {
          border-color: var(--info-bg-strong-default) transparent transparent
            transparent;
        }
      }
    }

    &.a-menu-base--bottom,
    &.a-menu-base--bottom-left,
    &.a-menu-base--bottom-right {
      .a-menu-base__pointer {
        border-color: transparent transparent var(--info-bg-strong-default)
          transparent;

        &:after {
          border-color: transparent transparent var(--info-bg-strong-default)
            transparent;
        }
      }
    }

    &.a-menu-base--right-top .a-menu-base__pointer,
    &.a-menu-base--right .a-menu-base__pointer,
    &.a-menu-base--right-bottom .a-menu-base__pointer {
      border-color: transparent var(--info-bg-strong-default) transparent
        transparent;

      &:after {
        border-color: transparent var(--info-bg-strong-default) transparent
          transparent;
      }
    }

    &.a-menu-base--left-top .a-menu-base__pointer,
    &.a-menu-base--left .a-menu-base__pointer,
    &.a-menu-base--left-bottom .a-menu-base__pointer {
      border-color: transparent transparent transparent
        var(--info-bg-strong-default);

      &:after {
        border-color: transparent transparent transparent
          var(--info-bg-strong-default);
      }
    }
  }
}

.a-app--animated .a-contextual-notification-menu {
  animation-name: fade-in;
  animation-duration: $transition-duration--fast;
}
