@import "../../styles";

svg.a-icon {
  box-sizing: content-box;
}

.a-icon {
  overflow: visible;
  width: 24px;
  stroke: var(--interact-icon-weak-default);
  fill: currentColor;

  //Status icon text
  .a-icon-text {
    fill: var(--base-icon-in-default);
  }

  &--size-large {
    width: 32px;
  }

  &--size-medium {
    width: 24px;
  }

  &--size-small {
    width: 16px;
  }

  &--left {
    margin-right: 4px;
  }

  &--right {
    margin-left: 4px;
  }

  &.a-icon--bg {
    padding: 4px;
    border-radius: 4px;
    width: 20px;
  }

  // Unset stroke on complex icons
  /**
    * In addition to unique icons, we also need to include icons with color due to css ordering issues in some envs.
    * Un-setting stroke acts as a failsafe if the styles are ordered differently overriding native "stroke: none;"
  **/
  &--cisco,
  &--intrusion,
  &--event-total,
  &--malware,
  &--security-intelligence,
  &--positive,
  &--excellent,
  &--low-warning,
  &--warning,
  &--severe-warning,
  &--alert,
  &--allow,
  &--info,
  &--disabled,
  &--in-progress,
  &--inactive,
  &--malicious,
  &--suspicious,
  &--unknown,
  &--clean,
  &--common,
  &--type_Admin,
  &--critical-stop,
  &--negative,
  &--variable,
  &--ubuntu,
  &--redhat {
    stroke: unset !important;
  }

  //Status icon backgrounds
  &--excellent {
    fill: var(--excellent-icon-default);
    path {
      fill: var(--excellent-icon-in-default);
    }
    &.a-icon--bg {
      background: var(--excellent-bg-medium-default);
    }
  }
  &--positive {
    fill: var(--positive-icon-default);
    path {
      fill: var(--positive-icon-in-default);
    }
    &.a-icon--bg {
      background: var(--positive-bg-medium-default);
    }
  }
  &--low-warning {
    fill: var(--low-warning-icon-default);
    path {
      fill: var(--low-warning-icon-in-default);
    }
    &.a-icon--bg {
      background: var(--low-warning-bg-medium-default);
    }
  }
  &--warning {
    fill: var(--warning-icon-in-default);
    path:nth-of-type(1) {
      fill: var(--warning-icon-default);
    }
    &.a-icon--bg {
      background: var(--warning-bg-medium-default);
    }
  }
  &--severe-warning {
    fill: var(--severe-warning-icon-strong-default);
    path:nth-of-type(2) {
      fill: var(--severe-warning-icon-in-default);
    }
    &.a-icon--bg {
      background: var(--severe-warning-bg-medium-default);
    }
  }
  &--danger,
  &--negative,
  &--alert,
  &--critical-stop {
    fill: var(--negative-icon-default);
    path:nth-of-type(2),
    path:nth-of-type(3) {
      fill: var(--negative-icon-in-default);
    }
    &.a-icon--bg {
      background: var(--negative-bg-medium-default);
    }
  }
  &--inactive {
    fill: var(--dormant-icon-default);
    path {
      fill: var(--dormant-icon-in-default);
    }
    &.a-icon--bg {
      background: var(--dormant-bg-medium-default);
    }
  }
  &--info {
    fill: var(--info-icon-default);
    path:nth-of-type(2) {
      fill: var(--info-icon-in-default);
    }
    &.a-icon--bg {
      background: var(--info-bg-medium-default);
    }
  }
  &--disabled {
    fill: var(--dormant-icon-default);
    &.a-icon--bg {
      background: var(--dormant-bg-medium-default);
    }
  }
  &--in-progress {
    fill: var(--in-progress-icon-default);
    path {
      fill: var(--in-progress-icon-in-default);
    }
    &.a-icon--bg {
      background: var(--in-progress-bg-medium-default);
    }
  }
  &--allow {
    fill: var(--positive-icon-default);
  }

  &--deny {
    fill: var(--negative-icon-default);
  }

  &--malicious,
  &--suspicious,
  &--unknown,
  &--clean,
  &--common {
    fill: var(--base-bg-weak-default);
  }

  &--disposition-main-malicious {
    fill: var(--negative-icon-default);
  }
  &--disposition-main-suspicious {
    fill: var(--severe-warning-bg-default);
  }

  &--disposition-main-unknown {
    fill: var(--dormant-border-default);
  }

  &--disposition-main-clean {
    fill: var(--positive-bg-default);
  }

  &--disposition-main-common {
    fill: var(--warning-bg-default);
  }

  &--disposition-main-stroke-common {
    stroke: var(--warning-bg-default);
  }

  /*
  * Some of the phosphor icons don't adhere to the same pattern
  * as the other "stroke" styled icons, so override.
  */
  &--dot,
  &--dots-three,
  &--dots-three-vertical,
  &--dots-six,
  &--dots-six-vertical,
  &--dots-nine,
  &--empty-background,
  &--information,
  &--linux-logo,
  &--list-bullets,
  &--gitMerge,
  &--question,
  &--text-align-center,
  &--text-align-right,
  &--text-bolder,
  &--text-h,
  &--text-italic,
  &--text-strikethrough,
  &--type_Admin,
  &--type_Cameras,
  &--type_Cellular_gateway,
  &--type_Environmental,
  &--type_Insight,
  &--type_Network,
  &--type_Network-wide,
  &--type_Organization,
  &--type_Security,
  &--type_Switch,
  &--type_Systems_Manager,
  &--type_Wireless,
  &--type_Workflow,
  &--variable,
  &--placeholder,
  &--play-circle,
  &--loader,
  &--wifi-high,
  &--wifi-low,
  &--wifi-medium,
  &--wifi-slash,
  &--wifi-lightning,
  &--wifi-x,
  &--warning-circle,
  &--rss,
  &--stack-port,
  &--magnet,
  &--passthrough,
  &--plug-small,
  &--application,
  &--camera,
  &--cellular-gateway,
  &--generic-client,
  &--generic-device,
  &--sensor,
  &--switch,
  &--teleworker-gateway,
  &--wan-application,
  &--wireless-lan-controller,
  &--app-window,
  &--circuitry,
  &--seal-question,
  &--seal-warning,
  &--ubuntu,
  &--redhat,
  &--rocket {
    fill: var(--interact-icon-weak-default);
  }

  &--critical-stop {
    fill: var(--negative-icon-default) !important;
  }
}
