@import "../../styles";

$icon-size-large: rem(3);
$icon-size-medium: $font-size--xl;
$icon-size-small: $font-size;

svg.a-icon {
  box-sizing: content-box;
}

@include theme(a-icon) using ($theme) {
  &--malicious,
  &--suspicious,
  &--unknown,
  &--clean,
  &--common {
    fill: map-deep-get($theme, "control", "fill-color");
  }
}

.a-icon {
  overflow: visible;
  width: 24px;
  stroke: currentColor;
  //fill: currentColor; // if using Fill phosphor icons, uncomment

  &--size-large {
    width: $icon-size-large;
  }

  &--size-medium {
    width: $icon-size-medium;
  }

  &--size-small {
    width: $icon-size-small;
  }

  &--left {
    margin-right: 5px;
  }

  &--right {
    margin-left: 5px;
  }

  &--atomic {
    stroke: unset;
    fill: currentColor;
  }
}

/*
Some of the phosphor icons don't adhere to the same pattern
as the other "stroke" styled icons, so override.
*/
.a-icon {
  &--circle,
  &--dots-three,
  &--dots-six,
  &--dots-nine,
  &--information,
  &--list-bullets,
  &--gitMerge,
  &--question,
  &--textAlignCenter,
  &--textAlignRight,
  &--textBolder,
  &--textH,
  &--textItalic,
  &--textStrikethrough {
    fill: currentColor;
  }
}
