@import "../../styles";

$icon-size-large: rem(3);
$icon-size-medium: $font-size--xl;
$icon-size-small: $font-size;

svg.a-icon {
  box-sizing: content-box;
}

@include theme(a-icon) using ($theme) {
  stroke: map-deep-get($theme, "icon", "icon-color");
  //fill:  map-deep-get($theme, "icon", "icon-color"); // if using Fill phosphor icons, uncomment

  &--atomic {
    fill: map-deep-get($theme, "icon", "icon-color");
  }

  &--malicious,
  &--suspicious,
  &--unknown,
  &--clean,
  &--common {
    fill: map-deep-get($theme, "icon", "disposition-fill");
  }

  &--disposition-main-malicious {
    fill: map-deep-get($theme, "disposition", "malicious");
  }
  &--disposition-main-suspicious {
    fill: map-deep-get($theme, "disposition", "suspicious");
  }

  &--disposition-main-unknown {
    fill: map-deep-get($theme, "disposition", "unknown");
  }

  &--disposition-main-clean {
    fill: map-deep-get($theme, "disposition", "clean");
  }

  &--disposition-main-common {
    fill: map-deep-get($theme, "disposition", "common");
  }

  &--disposition-main-stroke-common {
    stroke: map-deep-get($theme, "disposition", "common");
  }

  /*
  * Some of the phosphor icons don't adhere to the same pattern
  * as the other "stroke" styled icons, so override.
  */
  &--circle,
  &--dots-three,
  &--dots-six,
  &--dots-nine,
  &--empty-background,
  &--export,
  &--information,
  &--list-bullets,
  &--gitMerge,
  &--question,
  &--text-align-center,
  &--text-align-right,
  &--text-bolder,
  &--text-h,
  &--text-italic,
  &--text-strikethrough,
  &--type_Admin,
  &--type_Cameras,
  &--type_Cellular_gateway,
  &--type_Environmental,
  &--type_Insight,
  &--type_Network,
  &--type_Network-wide,
  &--type_Organization,
  &--type_Security,
  &--type_Switch,
  &--type_Systems_Manager,
  &--type_Wireless {
    fill: map-deep-get($theme, "icon", "icon-color");
  }

  &--critical-stop {
    fill: map-get($mds-status, "negative") !important;
  }

  &--warning {
    .a-icon-text {
      fill: #494a4a !important;
    }
  }
}

.a-icon {
  overflow: visible;
  width: 24px;

  &--size-large {
    width: $icon-size-large;
  }

  &--size-medium {
    width: $icon-size-medium;
  }

  &--size-small {
    width: $icon-size-small;
  }

  &--left {
    margin-right: 5px;
  }

  &--right {
    margin-left: 5px;
  }

  &--atomic {
    stroke: unset !important;
  }
}
