@import "../../styles";

.a-popover-floating-base {
  .a-floating-base-arrow {
    fill: var(--control-bg-weak-default) !important;
  }
}

.a-popover {
  width: 600px;
  filter: drop-shadow(var(--panel-shadow));

  &.a-panel {
    margin: 0;
    overflow: visible;
    border: 0;
  }

  .a-panel__header {
    border-radius: 6px 6px 0 0;
    align-items: center;
  }

  .a-panel__footer {
    border-radius: 0 0 6px 6px;
  }
}

.a-card-container.a-popover {
  border-radius: 6px;
}
