@import "../../styles";

.a-popover {
  width: 600px;
  box-shadow: $default-box-shadow;
  position: absolute !important;
  filter: drop-shadow(var(--panel-shadow));

  &.a-panel {
    margin: 0;
    overflow: visible;
    border: 0;
  }

  .a-panel__header {
    border-radius: 3px 3px 0 0;
  }

  .a-panel__footer {
    border-radius: 0 0 3px 3px;
  }

  &.a-menu-base--top,
  &.a-menu-base--top-left,
  &.a-menu-base--top-right {
    margin-top: -13px;
    .a-menu-base__pointer {
      margin-left: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 9.5px 0 9.5px;
      position: absolute;
      bottom: -14px;
      border-color: transparent;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 9.5px 0 9.5px;
        position: absolute;
        right: -9.5px;
        top: -16px;
        border-color: var(--base-icon-in-default) transparent transparent
          transparent;
      }
    }
  }

  &.a-menu-base--right,
  &.a-menu-base--right-top,
  &.a-menu-base--right-bottom {
    margin-left: 13px;
    .a-menu-base__pointer {
      margin-top: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9.5px 14px 9.5px 0;
      position: absolute;
      left: -14px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9.5px 14px 9.5px 0;
        position: absolute;
        right: -16px;
        top: -9.5px;
      }
    }
  }

  &.a-menu-base--bottom,
  &.a-menu-base--bottom-left,
  &.a-menu-base--bottom-right {
    margin-top: 13px;
    .a-menu-base__pointer {
      margin-left: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9.5px 14px 9.5px;
      position: absolute;
      top: -14px;
      border-color: transparent;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9.5px 14px 9.5px;
        position: absolute;
        right: -9.5px;
        top: 2px;
        border-color: transparent transparent var(--base-icon-in-default)
          transparent;
      }
    }
  }

  &.a-menu-base--left,
  &.a-menu-base--left-top,
  &.a-menu-base--left-bottom {
    margin-left: -13px;
    .a-menu-base__pointer {
      margin-top: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9.5px 0 9.5px 14px;
      position: absolute;
      right: -14px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9.5px 0 9.5px 14px;
        position: absolute;
        right: 2px;
        top: -9.5px;
      }
    }
  }

  &.a-menu-base--right .a-menu-base__pointer {
    border-color: transparent;

    &:after {
      border-color: transparent var(--base-icon-in-default) transparent
        transparent;
    }
  }

  &.a-menu-base--left .a-menu-base__pointer {
    border-color: transparent;

    &:after {
      border-color: transparent transparent transparent
        var(--base-icon-in-default);
    }
  }

  &.a-menu-base--right-top .a-menu-base__pointer {
    border-color: transparent;

    &:after {
      border-color: transparent var(--base-icon-in-default) transparent
        transparent;
    }
  }

  &.a-menu-base--left-top .a-menu-base__pointer {
    border-color: transparent;

    &:after {
      border-color: transparent transparent transparent
        var(--base-icon-in-default);
    }
  }

  &.a-menu-base--right-bottom .a-menu-base__pointer {
    border-color: transparent;

    &:after {
      border-color: transparent var(--base-icon-in-default) transparent
        transparent;
    }
  }

  &.a-menu-base--left-bottom .a-menu-base__pointer {
    border-color: transparent;
    &:after {
      border-color: transparent transparent transparent
        var(--base-icon-in-default);
    }
  }
}

.a-app--animated .a-popover {
  animation-name: fade-in;
  animation-duration: $transition-duration--fast;
}
