$black: #000;
$white: #fff;

$grey: (
  "darken-7": #18191d,
  "darken-6": #39393b,
  "darken-5": #58585b,
  "darken-4": #626469,
  "darken-3": #737373,
  "darken-2": #7f7f86,
  "darken-1": #828284,
  "base": #e1e4e8,
  "lighten-1": #b6b9bb,
  "lighten-2": #c6c7ca,
  "lighten-3": #dfdfdf,
  "lighten-4": #e8ebf1,
  "lighten-5": #f2f2f2,
  "lighten-6": #fbfbfb
);

$dusk: (
  "1": #6a7890,
  "2": #34455c,
  "3": #29384b,
  "4": #253040,
  "5": #1b2638,
  "6": #17202b
);

$status-red: (
  "burnt-4": #3e0005,
  "burnt-3": #82000b,
  "burnt-2": #9c000d,
  "burnt-1": #b5000f,
  "base": #b73000,
  "wash-1": #e6505d,
  "wash-2": #ff8c96,
  "wash-3": #ffd9dc
);

$status-blue: (
  "burnt-4": #092d3d,
  "burnt-3": #105270,
  "burnt-2": #247296,
  "burnt-1": #4095bd,
  "base": #64bbe3,
  "wash-1": #81cdf0,
  "wash-2": #a3e2ff,
  "wash-3": #d6f2ff
);

$status-green: (
  "burnt-4": #103408,
  "burnt-3": #1b4f0f,
  "burnt-2": #307316,
  "burnt-1": #4b992c,
  "base": #6cc04a,
  "wash-1": #93e872,
  "wash-2": #b4ff96,
  "wash-3": #e2ffd6
);

$status-yellow: (
  "burnt-4": #463a00,
  "burnt-3": #8c7300,
  "burnt-2": #b39200,
  "burnt-1": #d9b100,
  "base": #ffcc00,
  "wash-1": #ffde4c,
  "wash-2": #ffec99,
  "wash-3": #fff5cc
);

$status-orange: (
  "burnt-4": #4a2508,
  "burnt-3": #8c3f00,
  "burnt-2": #b35000,
  "burnt-1": #d96200,
  "base": #ff7300,
  "wash-1": #ff9d4c,
  "wash-2": #ffc799,
  "wash-3": #ffead9
);

$cisco-blue: (
  "burnt-3": #004b66,
  "burnt-2": #00678c,
  "burnt-1": #0083b3,
  "base": #049fd9,
  "wash-1": #3bcaff,
  "wash-2": #9ee5ff,
  "wash-3": #ebfaff
);

$sage-green: (
  "burnt-3": #424f00,
  "burnt-2": #637507,
  "burnt-1": #869c19,
  "base": #abc233,
  "wash-1": #d1e85f,
  "wash-2": #eeff9c,
  "wash-3": #f9ffdb
);

$turquoise: (
  "burnt-3": #00332b,
  "burnt-2": #00594c,
  "burnt-1": #03806d,
  "base": #14a792,
  "wash-1": #37ccb6,
  "wash-2": #72f2df,
  "wash-3": #d1fff8
);

$purple: (
  "burnt-3": #2a082b,
  "burnt-2": #501752,
  "burnt-1": #752e78,
  "base": #9a4b9d,
  "wash-1": #c47dc7,
  "wash-2": #ecc5ed,
  "wash-3": #feebff
);

$indigo-blue: (
  "burnt-1": #00364d,
  "base": #005073,
  "wash-1": #217ea6,
  "wash-2": #57b2d9,
  "wash-3": #99e0ff,
  "wash-4": #ccf0ff,
  "wash-5": #f2fbff
);

$brand-orange: (
  "burnt-3": #734b00,
  "burnt-2": #99690f,
  "burnt-1": #d48a00,
  "base": #fbab18,
  "wash-1": #ffc966,
  "wash-2": #ffe4b2,
  "wash-3": #fff2d9
);

$coral: (
  "burnt-3": #8c160b,
  "burnt-2": #b32c20,
  "burnt-1": #d94a3d,
  "base": #ff6f61,
  "wash-1": #ff9187,
  "wash-2": #ffc0ba,
  "wash-3": #ffe8e5
);

$grape: (
  "burnt-3": #0b1d47,
  "burnt-2": #1d356e,
  "burnt-1": #355294,
  "base": #5674b9,
  "wash-1": #89a3e0,
  "wash-2": #cfddff,
  "wash-3": #e5eeff
);

$fern: (
  "burnt-3": #070d00,
  "burnt-2": #244200,
  "burnt-1": #3a6900,
  "base": #4e8f00,
  "wash-1": #70b51b,
  "wash-2": #96db42,
  "wash-3": #c0ff73
);

$teal: (
  "burnt-3": #00464f,
  "burnt-2": #006875,
  "burnt-1": #00899c,
  "base": #00acc1,
  "wash-1": #23d1e8,
  "wash-2": #8cf2ff,
  "wash-3": #d9fbff
);

$berry: (
  "burnt-3": #47082d,
  "burnt-2": #6e174a,
  "burnt-1": #942e69,
  "base": #bb4c8d,
  "wash-1": #e07eb7,
  "wash-2": #ffc2e5,
  "wash-3": #ffedf8
);

$dark-blue: (
  "burnt-2": #061f45,
  "burnt-1": #14376b,
  "base": #2b5592,
  "wash-1": #517ab8,
  "wash-2": #83a7de,
  "wash-3": #bdd7ff,
  "wash-4": #e5f0ff
);

$magenta: (
  "burnt-3": #7a0029,
  "burnt-2": #a10b3d,
  "burnt-1": #c72259,
  "base": #ec407a,
  "wash-1": #ff6b9c,
  "wash-2": #ffb2cc,
  "wash-3": #feebff
);

$dark-cool-grey: (
  "burnt-3": #0f1521,
  "burnt-2": #273347,
  "burnt-1": #46556e,
  "base": #6a7890,
  "wash-1": #8d97a8,
  "wash-2": #b6bac2,
  "wash-3": #d9dadb
);

$mds-neutral: (
  "neutral-1": #ffffff,
  "neutral-2": #f7f7f7,
  "neutral-3": #f0f1f2,
  "neutral-4": #e1e4e8,
  "neutral-5": #d0d4d9,
  "neutral-6": #c1c6cc,
  "neutral-7": #a7adb5,
  "neutral-8": #979fa8,
  "neutral-9": #889099,
  "neutral-10": #7e868f,
  "neutral-11": #6f7680,
  "neutral-12": #656c75,
  "neutral-13": #596069,
  "neutral-14": #464c54,
  "neutral-15": #373c42,
  "neutral-16": #23282e,
  "neutral-17": #0f1214,
  "neutral-18": #000000
);

$mds-interactive: (
  "interactive-1": #e3eeff,
  "interactive-2": #cfe0ff,
  "interactive-3": #bdd5ff,
  "interactive-4": #abc9fc,
  "interactive-5": #81acf7,
  "interactive-6": #6c9ef5,
  "interactive-7": #5a90ed,
  "interactive-8": #4983e5,
  "interactive-9": #3972d4,
  "interactive-10": #306acf,
  "interactive-11": #215abf,
  "interactive-12": #154eb0
);

// aka positive
$mds-blue: (
  "blue-1": #d9f2ff,
  "blue-2": #b8e7ff,
  "blue-3": #9fddfc,
  "blue-4": #79d1fc,
  "blue-5": #3fb6f2,
  "blue-6": #24a7ed,
  "blue-7": #139beb,
  "blue-8": #0d8bd4,
  "blue-9": #087abd,
  "blue-10": #0570ad,
  "blue-11": #03639c,
  "blue-12": #015788
);

//aka negative
$mds-red: (
  "red-1": #ffe8e9,
  "red-2": #ffd4d5,
  "red-3": #ffc7c9,
  "red-4": #ffb2b5,
  "red-5": #ff878b,
  "red-6": #ff6e72,
  "red-7": #fa5762,
  "red-8": #eb4651,
  "red-9": #d93843,
  "red-10": #cc2d37,
  "red-11": #b2242d,
  "red-12": #a01d26
);

// aka meraki green
$mds-green: (
  "green-1": #e0f5d5,
  "green-2": #c5ebb2,
  "green-3": #b0e396,
  "green-4": #98d977,
  "green-5": #6bbf41,
  "green-6": #5eb035,
  "green-7": #50a329,
  "green-8": #45991f,
  "green-9": #398519,
  "green-10": #2b7a0c,
  "green-11": #266b0b,
  "green-12": #1f5e06
);

// aka warning
$mds-yellow: (
  "yellow-1": #faefb9,
  "yellow-2": #f5e08e,
  "yellow-3": #f2d268,
  "yellow-4": #f0c243,
  "yellow-5": #e0a419,
  "yellow-6": #d6900d,
  "yellow-7": #cc8604,
  "yellow-8": #bd7202,
  "yellow-9": #b05f04,
  "yellow-10": #a65503,
  "yellow-11": #944b03,
  "yellow-12": #804103
);

// aka severe-warning
$mds-orange: (
  "orange-1": #ffeadb,
  "orange-2": #ffd9bf,
  "orange-3": #fcc9a7,
  "orange-4": #fcb88d,
  "orange-5": #fc8d4c,
  "orange-6": #f7782f,
  "orange-7": #f26722,
  "orange-8": #d95a1a,
  "orange-9": #c44f14,
  "orange-10": #ba400b,
  "orange-11": #ad3907,
  "orange-12": #942e03
);

// aka info
$mds-purple: (
  "purple-1": #f3ebff,
  "purple-2": #e8d9ff,
  "purple-3": #e0ccff,
  "purple-4": #d6baff,
  "purple-5": #c299ff,
  "purple-6": #b587fa,
  "purple-7": #a974f7,
  "purple-8": #9b5ff5,
  "purple-9": #8d4eed,
  "purple-10": #864ae0,
  "purple-11": #753bcc,
  "purple-12": #6732b8
);

$mds-accent-colors: (
  "accent-a-a3-default": #049fd9,
  "accent-a-a2-medium": #81cfec,
  "accent-a-a1-light": #cdecf7,
  "accent-b-b3-default": #0d56e2,
  "accent-b-b2-medium": #86aaf0,
  "accent-b-b1-light": #cfddf9,
  "accent-c-c3-default": #b180d6,
  "accent-c-c2-medium": #d8bfea,
  "accent-c-c1-light": #efe6f7,
  "accent-d-d3-default": #c0006f,
  "accent-d-d2-medium": #df80b7,
  "accent-d-d1-light": #f2cce2,
  "accent-e-e3-default": #f4647a,
  "accent-e-e2-medium": #f9b1bc,
  "accent-e-e1-light": #fde0e4,
  "accent-f-f3-default": #b73000,
  "accent-f-f2-medium": #db9780,
  "accent-f-f1-light": #f1d6cc,
  "accent-g-g3-default": #9c9711,
  "accent-g-g2-medium": #cdcb88,
  "accent-g-g1-light": #ebeacf,
  "accent-h-h3-default": #316e27,
  "accent-h-h2-medium": #98b693,
  "accent-h-h1-light": #d6e2d4,
  "accent-i-i3-default": #00a889,
  "accent-i-i2-medium": #80d3c4,
  "accent-i-i1-light": #cceee7,
  "accent-j-j3-default": #006c7d,
  "accent-j-j2-medium": #80b5be,
  "accent-j-j1-light": #cce2e5
);

$mds-status: (
  "positive": map-get($mds-blue, "blue-7"),
  "warning": map-get($mds-yellow, "yellow-7"),
  "negative": map-get($mds-red, "red-10")
);

$mds-light-theme: (
  "background": map-get($mds-neutral, "neutral-2"),
  "background-section": map-get($mds-neutral, "neutral-1"),
  "component-border": map-get($mds-neutral, "neutral-9"),
  "default-text": map-get($mds-neutral, "neutral-16"),
  "disabled-icon": map-get($mds-neutral, "neutral-5"),
  "disabled-text": map-get($mds-neutral, "neutral-7"),
  "dividers": map-get($mds-neutral, "neutral-3"),
  "heading-gray": map-get($mds-neutral, "neutral-15"),
  "icon-text-gray": map-get($mds-neutral, "neutral-6"),
  "icons": map-get($mds-neutral, "neutral-9"),
  "multipurpose-gray": map-get($mds-neutral, "neutral-9"),
  "non-essential-lines": map-get($mds-neutral, "neutral-4"),
  "placeholder-text": map-get($mds-neutral, "neutral-11"),
  "primary-blue": map-get($mds-blue, "blue-7"),
  "primary-blue-dark": map-get($mds-blue, "blue-8"),
  "secondary-background": map-get($mds-neutral, "neutral-2"),
  "secondary-gray": map-get($mds-neutral, "neutral-12"),
  "supplemental-text": map-get($mds-neutral, "neutral-7"),
  "status-info": map-get($mds-purple, "purple-10"),
  "status-positive": map-get($mds-blue, "blue-7"),
  "status-warning": map-get($mds-yellow, "yellow-7"),
  "status-negative": map-get($mds-red, "red-10")
);
$mds-dark-theme: (
  "background": map-get($mds-neutral, "neutral-17"),
  "background-section": map-get($mds-neutral, "neutral-17"),
  "component-border": map-get($mds-neutral, "neutral-11"),
  "default-text": map-get($mds-neutral, "neutral-2"),
  "disabled-icon": map-get($mds-neutral, "neutral-11"),
  "disabled-text": map-get($mds-neutral, "neutral-12"),
  "disabled-border": map-get($mds-neutral, "neutral-13"),
  "dividers": map-get($mds-neutral, "neutral-16"),
  "heading-gray": map-get($mds-neutral, "neutral-4"),
  "heading-gray-small": map-get($mds-neutral, "neutral-2"),
  "icon-text-gray": map-get($mds-neutral, "neutral-13"),
  "icons": map-get($mds-neutral, "neutral-6"),
  "multipurpose-gray": map-get($mds-neutral, "neutral-14"),
  "non-essential-lines": map-get($mds-neutral, "neutral-14"),
  "placeholder-text": map-get($mds-neutral, "neutral-11"),
  "primary-blue": map-get($mds-blue, "blue-7"),
  "primary-blue-dark": map-get($mds-blue, "blue-8"),
  "secondary-background": map-get($mds-neutral, "neutral-15"),
  "secondary-gray": map-get($mds-neutral, "neutral-6"),
  "supplemental-text": map-get($mds-neutral, "neutral-12"),
  "status-info": map-get($mds-purple, "purple-6"),
  "status-positive": map-get($mds-blue, "blue-5"),
  "status-warning": map-get($mds-yellow, "yellow-4"),
  "status-negative": map-get($mds-red, "red-7")
);

$secure-blue: (
  "1": #06144d,
  "2": #0d274d,
  "3": #1e4471
);

$secure-green: (
  "1": #6abf4b
);

$colors: (
  "black": (
    "base": $black
  ),
  "white": (
    "base": $white
  ),
  "grey": $grey,
  "dusk": $dusk,
  "status-red": $status-red,
  "status-blue": $status-blue,
  "status-green": $status-green,
  "status-yellow": $status-yellow,
  "status-orange": $status-orange,
  "cisco-blue": $cisco-blue,
  "sage-green": $sage-green,
  "turquoise": $turquoise,
  "purple": $purple,
  "indigo-blue": $indigo-blue,
  "brand-orange": $brand-orange,
  "coral": $coral,
  "grape": $grape,
  "fern": $fern,
  "teal": $teal,
  "berry": $berry,
  "dark-blue": $dark-blue,
  "magenta": $magenta,
  "dark-cool-grey": $dark-cool-grey,
  "secure-blue": $secure-blue,
  "secure-green": $secure-green,
  "mds-neutral": $mds-neutral,
  "mds-light-theme": $mds-light-theme,
  "mds-dark-theme": $mds-dark-theme,
  "mds-blue": $mds-blue
);
