@import "../../styles";

@include theme(a-field-base) using ($theme) {
  &__label {
    color: map-deep-get($theme, "label", "color");
  }
}

.a-field-base {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  &__label {
    display: block;
    margin: 0 0 4px 0;
    font-size: $font-size--sm;
    font-weight: 600;

    &--required {
      color: $color-error;
    }

    .a-icon--information {
      height: 16px;
      width: 16px;
      vertical-align: text-bottom;
      padding: 0 5px;
    }
  }
}
