@import "../../styles";

.a-field-base {
  position: relative;
  width: 100%;

  &__label {
    display: block;
    margin: 0 0 4px 0;
    font-size: $font-size--md;
    font-weight: 600;
    color: var(--base-text-default);

    &--required {
      color: var(--negative-text-default);
      width: 8px;
      display: inline-block;
      text-align: center;
    }

    .a-icon--information {
      transition: all 0.3s;
      height: 16px;
      width: 16px;
      vertical-align: text-bottom;
      padding: 0 5px;
    }
  }

  .a-icon--information:hover {
    stroke: var(--base-text-default);
    fill: var(--base-text-default);
  }
}
