@use "sass:math";

@import "../../styles";

$icon-xs: 12px;
$icon-sm: 31px;
$icon-md: 52px;
$icon-lg: 156px;
$icon-xl: 192px;
$container-xs: 20px;
$container-sm: 45px;
$container-md: 72px;
$container-lg: 224px;
$container-xl: 300px;

.a-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 20px 0;

  &__container {
    display: flex;
    flex: 1 0 auto;
    position: relative;
  }

  &__background {
    height: 100%;
    width: 100%;
  }

  &__icon {
    position: absolute;
  }

  &__message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    margin: 0 0 12px 0;
  }

  &__message {
    text-align: center;
    color: var(--base-text-medium-default);
    margin: 0 0 12px 0;
  }

  &--layout-horizontal {
    flex-direction: row;

    .a-empty-state__container {
      flex: 0 0 auto;
    }

    .a-empty-state__message-container {
      align-items: flex-start;

      margin-left: 12px;

      .a-empty-state__message {
        text-align: left;
      }
    }
  }

  &--state-positive,
  &--state-success {
    .a-empty-state__icon {
      color: var(--accent-a-default);
    }
    .a-icon-bg {
      fill: var(--positive-border-default);
    }
  }

  &--state-info {
    border-color: var(--info-border-default);

    .a-empty-state__background {
      fill: #a6c4f5;
    }
  }

  &--state-warning {
    border-color: var(--warning-border-default);

    .a-empty-state__icon {
      color: var(--warning-icon-default);
    }
    .a-icon-bg {
      fill: var(--warning-bg-default);
    }
  }

  &--state-negative,
  &--state-danger {
    border-color: var(--negative-border-default);

    .a-empty-state__icon {
      color: var(--negative-text-default);
    }
    .a-icon-bg {
      fill: var(--negative-border-default);
    }
  }

  &--xsmall {
    .a-empty-state__container {
      height: $container-xs;
      width: $container-xs;
    }

    .a-empty-state__icon {
      height: $icon-xs;
      width: $icon-xs;

      top: calc(50% - math.div($icon-xs, 2));
      left: calc(50% - math.div($icon-xs, 2));
    }

    .a-empty-state__label {
      font-weight: 700;
      font-size: 12px;
      border-color: var(--base-text-default);
    }

    .a-empty-state__message {
      font-weight: 400;
      font-size: 12px;
    }
  }

  &--small {
    .a-empty-state__container {
      height: $container-sm;
      width: $container-sm;
    }

    .a-empty-state__icon {
      height: $icon-sm;
      width: $icon-sm;

      top: calc(50% - math.div($icon-sm, 2));
      left: calc(50% - math.div($icon-sm, 2));
    }

    .a-empty-state__label {
      font-weight: 700;
      font-size: $font-size--md;
      line-height: $line-height--md;
    }

    .a-empty-state__message {
      font-weight: 400;
      font-size: $font-size--sm;
      line-height: $line-height--sm;
    }
  }

  &--medium {
    .a-empty-state__container {
      height: $container-md;
      width: $container-md;
    }

    .a-empty-state__icon {
      height: $icon-md;
      width: $icon-md;

      top: calc(50% - math.div($icon-md, 2));
      left: calc(50% - math.div($icon-md, 2));
    }

    .a-empty-state__label {
      font-weight: 700;
      font-size: $font-size--lg;
      line-height: $line-height--lg;
    }

    .a-empty-state__message {
      font-weight: 400;
      font-size: $font-size--md;
      line-height: $line-height--md;
    }
  }

  &--large {
    .a-empty-state__container {
      height: $container-lg;
      width: $container-lg;
    }

    .a-empty-state__icon {
      height: $icon-lg;
      width: $icon-lg;

      top: calc(50% - math.div($icon-lg, 2));
      left: calc(50% - math.div($icon-lg, 2));
    }

    .a-empty-state__label {
      font-weight: 700;
      font-size: 24px;
      line-height: $line-height--xl;
    }

    .a-empty-state__message {
      font-weight: 400;
      font-size: 18px;
      line-height: $line-height--lg;
    }
  }

  &--xlarge {
    .a-empty-state__container {
      height: $container-xl;
      width: $container-xl;
    }

    .a-empty-state__icon {
      height: $icon-xl;
      width: $icon-xl;

      top: calc(50% - math.div($icon-xl, 2));
      left: calc(50% - math.div($icon-xl, 2));
    }

    .a-empty-state__label {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 18px;
    }

    .a-empty-state__message {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
    }
  }
}
