@use "sass:math";

@import "../../styles";

$icon-sm: 50px;
$icon-md: 100px;
$icon-lg: 150px;
$icon-xl: 200px;
$container-sm: 100px;
$container-md: 200px;
$container-lg: 300px;
$container-xl: 400px;

@include theme(a-empty-state) using ($theme) {
  &--state-success {
    .a-empty-state__icon {
      color: $color-good;
    }
    .a-icon-bg {
      fill: map-deep-get($theme, "control", "success-color");
    }
  }
  &--state-info {
    border-color: map-deep-get($theme, "control", "info-color");

    .a-empty-state__icon {
      color: $color-information;
    }

    .a-icon-bg {
      fill: map-deep-get($theme, "control", "info-color");
    }
  }
  &--state-warning {
    border-color: map-deep-get($theme, "control", "warning-color");

    .a-empty-state__icon {
      color: $color-warning;
    }
    .a-icon-bg {
      fill: map-deep-get($theme, "control", "warning-color");
    }
  }
  &--state-danger {
    border-color: map-deep-get($theme, "control", "error-color");

    .a-empty-state__icon {
      color: $color-error;
    }
    .a-icon-bg {
      fill: map-deep-get($theme, "control", "error-color");
    }
  }

  .a-empty-state__label {
    border-color: map-deep-get($theme, "base", "color");
  }

  .a-empty-state__message {
    color: map-deep-get($theme, "switch", "label-color--disabled");
  }
}

.a-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 20px 0;

  &__container {
    position: relative;
  }

  &__background {
    height: 100%;
    width: 100%;
  }

  &__icon {
    position: absolute;
  }

  &__message {
    text-align: center;
  }

  &--small {
    .a-empty-state__container {
      height: $container-sm;
      width: $container-sm;
    }

    .a-empty-state__icon {
      height: $icon-sm;
      width: $icon-sm;

      top: calc(50% - math.div($icon-sm, 2));
      left: calc(50% - math.div($icon-sm, 2));
    }

    .a-empty-state__label {
      font-weight: 700;
      font-size: 16px;
    }

    .a-empty-state__message {
      font-weight: 400;
      font-size: 12px;
    }
  }

  &--medium {
    .a-empty-state__container {
      height: $container-md;
      width: $container-md;
    }

    .a-empty-state__icon {
      height: $icon-md;
      width: $icon-md;

      top: calc(50% - math.div($icon-md, 2));
      left: calc(50% - math.div($icon-md, 2));
    }

    .a-empty-state__label {
      font-weight: 700;
      font-size: 18px;
    }

    .a-empty-state__message {
      font-weight: 400;
      font-size: 14px;
    }
  }

  &--large {
    .a-empty-state__container {
      height: $container-lg;
      width: $container-lg;
    }

    .a-empty-state__icon {
      height: $icon-lg;
      width: $icon-lg;

      top: calc(50% - math.div($icon-lg, 2));
      left: calc(50% - math.div($icon-lg, 2));
    }

    .a-empty-state__label {
      font-weight: 700;
      font-size: 24px;
    }

    .a-empty-state__message {
      font-weight: 400;
      font-size: 18px;
    }
  }

  &--xlarge {
    .a-empty-state__container {
      height: $container-xl;
      width: $container-xl;
    }

    .a-empty-state__icon {
      height: $icon-xl;
      width: $icon-xl;

      top: calc(50% - math.div($icon-xl, 2));
      left: calc(50% - math.div($icon-xl, 2));
    }

    .a-empty-state__label {
      font-weight: 700;
      font-size: 30px;
    }

    .a-empty-state__message {
      font-weight: 400;
      font-size: 24px;
    }
  }
}
