@import "../../styles";

.a-list-item__group {
  &-title {
    font-size: $font-size--sm;
    padding: 6px 10px;
    color: var(--base-text-medium-default);
  }

  .a-list-item {
    padding-left: 16px;
    padding-right: 16px;
  }
}
