@import "../../styles";

$loader-padding: 0;
$loader-margin: 10px 0;
$loader-container-width: 36px;
$loader-dot-diameter: 8px;
$loader-dot-animation-delay: 1.4s;
$loader-dot-bounce1-delay: -0.32s;
$loader-dot-bounce2-delay: -0.16s;

@include theme(a-loader) using ($theme) {
  &__dot {
    background-color: map-deep-get($theme, "loader", "main-color");
  }
}

.a-loader {
  margin: $loader-margin;
  padding: $loader-padding;
  text-align: center;
  width: $loader-container-width;
  &__dot {
    width: $loader-dot-diameter;
    height: $loader-dot-diameter;
    border-radius: 100%;
    display: inline-block;
    animation: dot-animation $loader-dot-animation-delay infinite ease-in-out
      both;
    &:nth-of-type(1) {
      animation-delay: $loader-dot-bounce1-delay;
    }
    &:nth-of-type(2) {
      animation-delay: $loader-dot-bounce2-delay;
    }
  }
}

@-webkit-keyframes dot-animation {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes dot-animation {
  0%,
  100%,
  80% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
