@import "../../styles";

$page-loader-padding: 0;
$page-loader-margin: 10px 0;
$page-loader-small-diameter: 100px;
$page-loader-medium-diameter: 200px;
$page-loader-large-diameter: 300px;
$page-loader-small-thickness: 8px;
$page-loader-medium-thickness: 12px;
$page-loader-large-thickness: 16px;
$page-loader-animation-delay: 1.1s;

@include theme(a-page-loader) using ($theme) {
  &:after {
    @include loader-border(
      $page-loader-medium-thickness,
      map-deep-get($theme, "loader", "main-color"),
      transparent,
      transparent,
      transparent
    );
  }
  &:before {
    @include loader-border(
      $page-loader-medium-thickness,
      map-deep-get($theme, "loader", "background-color"),
      map-deep-get($theme, "loader", "background-color"),
      map-deep-get($theme, "loader", "background-color"),
      map-deep-get($theme, "loader", "background-color")
    );
  }
  &--size-small {
    &:before {
      @include loader-border(
        $page-loader-small-thickness,
        map-deep-get($theme, "loader", "background-color"),
        map-deep-get($theme, "loader", "background-color"),
        map-deep-get($theme, "loader", "background-color"),
        map-deep-get($theme, "loader", "background-color")
      );
    }
    &:after {
      @include loader-border(
        $page-loader-small-thickness,
        map-deep-get($theme, "loader", "main-color"),
        transparent,
        transparent,
        transparent
      );
    }
  }
  &--size-medium {
    &:before {
      @include loader-border(
        $page-loader-medium-thickness,
        map-deep-get($theme, "loader", "background-color"),
        map-deep-get($theme, "loader", "background-color"),
        map-deep-get($theme, "loader", "background-color"),
        map-deep-get($theme, "loader", "background-color")
      );
    }
    &:after {
      @include loader-border(
        $page-loader-medium-thickness,
        map-deep-get($theme, "loader", "main-color"),
        transparent,
        transparent,
        transparent
      );
    }
  }
  &--size-large {
    &:before {
      @include loader-border(
        $page-loader-large-thickness,
        map-deep-get($theme, "loader", "background-color"),
        map-deep-get($theme, "loader", "background-color"),
        map-deep-get($theme, "loader", "background-color"),
        map-deep-get($theme, "loader", "background-color")
      );
    }
    &:after {
      @include loader-border(
        $page-loader-large-thickness,
        map-deep-get($theme, "loader", "main-color"),
        transparent,
        transparent,
        transparent
      );
    }
  }
}

.a-page-loader {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  margin: $page-loader-margin;
  padding: $page-loader-padding;
  text-align: center;
  width: $page-loader-medium-diameter;
  height: $page-loader-medium-diameter;
  overflow: hidden;

  &:after,
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    content: " ";
    @include loader-bounding-box(
      $page-loader-medium-diameter,
      $page-loader-medium-diameter
    );
  }
  &:after {
    animation: page-loader-animation $page-loader-animation-delay linear
      infinite;
  }
  &--size-small {
    width: $page-loader-small-diameter;
    height: $page-loader-small-diameter;
    &:after,
    &:before {
      @include loader-bounding-box(
        $page-loader-small-diameter,
        $page-loader-small-diameter
      );
    }
  }
  &--size-medium {
    width: $page-loader-medium-diameter;
    height: $page-loader-medium-diameter;
    &:after,
    &:before {
      @include loader-bounding-box(
        $page-loader-medium-diameter,
        $page-loader-medium-diameter
      );
    }
  }
  &--size-large {
    width: $page-loader-large-diameter;
    height: $page-loader-large-diameter;
    &:after,
    &:before {
      @include loader-bounding-box(
        $page-loader-large-diameter,
        $page-loader-large-diameter
      );
    }
  }
}

@-webkit-keyframes page-loader-animation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes page-loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
