@import "../../styles";

$progressbar-height: 8px;
$progressbar-bg-height: 16px;
$progressbar-margin: 20px 0;
$progressbar-border-radius: 6px;
$progressbar-fill-height: 100%;
$progressbar-fill-border-radius: 6px;
$progressbar-striped-opacity: 0.5;
$progressbar-animation-timing: 1s linear infinite !default;
$progressbar-transition: width 0.6s ease !default;

@include theme(a-progressbar) using ($theme) {
  &__bar {
    background: map-deep-get($theme, "progressbar", "default-bg-color");
  }

  &__fill {
    background-color: map-deep-get($theme, "progressbar", "fill-bg-color");
  }

  &--disabled {
    .a-progressbar__fill {
      background-color: map-deep-get(
        $theme,
        "progressbar",
        "disabled-bg-color"
      );
    }
  }
}

.a-progressbar {
  display: flex;
  align-items: center;
  margin: $progressbar-margin;

  &__bar {
    border-radius: $progressbar-border-radius;
    height: $progressbar-height;
    width: 100%;
  }

  &__fill {
    display: block;
    height: $progressbar-fill-height;
    border-radius: $progressbar-fill-border-radius;
  }

  &--striped {
    .a-progressbar__fill {
      background-image: linear-gradient(
        60deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      background-size: $progressbar-bg-height $progressbar-bg-height;
    }
  }

  &--disabled {
    .a-progressbar__label {
      opacity: $progressbar-striped-opacity;
    }
  }

  &__label {
    display: inline-block;
    margin-right: 5px;
  }
}

.a-app--animated .a-progressbar {
  &__fill {
    animation: progressbar-stripes $progressbar-animation-timing;
  }
}

@keyframes progressbar-stripes {
  from {
    background-position: $progressbar-bg-height 0;
  }
  to {
    background-position: 0 0;
  }
}
