@import "../../styles";

$progressbar-height-small: 4px;
$progressbar-height-medium: 8px;
$progressbar-height-large: 12px;
$progressbar-bg-height-small: 10px;
$progressbar-bg-height-medium: 16px;
$progressbar-bg-height-large: 22px;
$progressbar-margin: 20px 0;
$progressbar-border-radius: 6px;
$progressbar-fill-height: 100%;
$progressbar-fill-border-radius: 6px;
$progressbar-striped-opacity: 0.5;
$progressbar-animation-timing: 1s linear infinite !default;
$progressbar-transition: width 0.6s ease !default;

@include theme(a-progressbar) using ($theme) {
  &__bar {
    background: map-deep-get($theme, "progressbar", "default-bg-color");
  }

  &__fill {
    background-color: map-deep-get($theme, "progressbar", "fill-bg-color");
  }

  &--disabled {
    .a-progressbar__fill {
      background-color: map-deep-get(
        $theme,
        "progressbar",
        "disabled-bg-color"
      );
    }
  }
}

.a-progressbar {
  display: flex;
  align-items: center;
  margin: $progressbar-margin;

  &__bar {
    border-radius: $progressbar-border-radius;
    height: $progressbar-height-medium;
    width: 100%;
  }

  &--size-small {
    .a-progressbar__bar {
      height: $progressbar-height-small;
    }
    .a-progressbar__fill {
      background-size: $progressbar-bg-height-small $progressbar-bg-height-small;
    }
  }

  &--size-medium {
    .a-progressbar__bar {
      height: $progressbar-height-medium;
    }
    .a-progressbar__fill {
      background-size: $progressbar-bg-height-medium
        $progressbar-bg-height-medium;
    }
  }

  &--size-large {
    .a-progressbar__bar {
      height: $progressbar-height-large;
    }
    .a-progressbar__fill {
      background-size: $progressbar-bg-height-large $progressbar-bg-height-large;
    }
  }

  &__fill {
    display: block;
    height: $progressbar-fill-height;
    border-radius: $progressbar-fill-border-radius;
  }

  &--striped {
    .a-progressbar__fill {
      background-image: linear-gradient(
        60deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
    }
  }

  &--indeterminate {
    overflow: hidden;
    .a-progressbar__bar {
      position: relative;
      overflow-x: clip;
    }
    .a-progressbar__fill {
      position: absolute;
    }
  }

  &--disabled {
    .a-progressbar__label {
      opacity: $progressbar-striped-opacity;
    }
  }

  &__label {
    display: inline-block;
    margin-right: 4px;
  }

  @keyframes a-progress-bar-indeterminate {
    0% {
      left: -100%;
    }
    25% {
      left: -30%;
    }
    75% {
      left: 80%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes progressbar-stripes-small {
    from {
      background-position: $progressbar-bg-height-small 0;
    }
    to {
      background-position: 0 0;
    }
  }

  @keyframes progressbar-stripes-medium {
    from {
      background-position: $progressbar-bg-height-medium 0;
    }
    to {
      background-position: 0 0;
    }
  }

  @keyframes progressbar-stripes-large {
    from {
      background-position: $progressbar-bg-height-large 0;
    }
    to {
      background-position: 0 0;
    }
  }
}

.a-app--animated .a-progressbar {
  &--size-small {
    .a-progressbar__fill {
      animation: progressbar-stripes-small $progressbar-animation-timing;
    }
  }
  &--size-medium {
    .a-progressbar__fill {
      animation: progressbar-stripes-medium $progressbar-animation-timing;
    }
  }
  &--size-large {
    .a-progressbar__fill {
      animation: progressbar-stripes-large $progressbar-animation-timing;
    }
  }
  &--indeterminate {
    .a-progressbar__fill {
      animation: 1s a-progress-bar-indeterminate linear infinite;
    }
  }
}
