@import "../../styles";

$progressbar-height-small: 6px;
$progressbar-height-medium: 8px;
$progressbar-bg-height-small: 10px;
$progressbar-bg-height-medium: 16px;
$progressbar-bg-height-large: 22px;
$progressbar-border-radius: 6px;
$progressbar-fill-height: 100%;
$progressbar-fill-border-radius: 6px;
$progressbar-striped-opacity: 0.5;
$progressbar-animation-timing: 1s linear infinite !default;
$progressbar-transition: width 0.6s ease !default;

.a-progressbar {
  display: flex;

  &__bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 20px;

    &__bar {
      border-radius: $progressbar-border-radius;
      height: $progressbar-height-medium;
      width: 100%;
      background: var(--base-border-default);
    }

    &__fill {
      display: block;
      height: $progressbar-fill-height;
      border-radius: $progressbar-fill-border-radius;
      &.success {
        background-color: var(--positive-border-default);
      }

      &.error {
        background-color: var(--negative-border-default);
      }

      &.active {
        background-color: var(--info-border-default);
      }
    }
    &__content-right {
      display: flex;
      margin-left: 12px;
    }
  }

  &__stacked {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    > .a-progressbar__bar-container {
      padding-top: 2px;
    }
    > .a-progressbar__label {
      margin-right: 0;
    }
  }

  &__centered {
    align-items: center;
  }

  &--size-small {
    .a-progressbar__label {
      margin-right: 8px;
    }

    .a-progressbar__label,
    .a-progressbar__bar-container {
      font-size: 12px;
      .a-icon {
        width: 16px;
        height: 16px;
      }
    }

    .a-progressbar__bar-container {
      &__bar {
        height: $progressbar-height-small;
      }
      &__fill {
        background-size: $progressbar-bg-height-small
          $progressbar-bg-height-small;
      }
      &__content-right {
        margin-left: 8px;
      }
    }
  }

  &--size-medium {
    .a-progressbar__bar-container {
      &__bar {
        height: $progressbar-height-medium;
      }
      &__fill {
        background-size: $progressbar-bg-height-medium
          $progressbar-bg-height-medium;
      }
    }
  }

  &--striped {
    .a-progressbar__bar-container__fill {
      background-image: linear-gradient(
        60deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
    }
  }

  &__label {
    margin-right: 12px;
    font-weight: 600;
  }

  &__helper-text {
    color: var(--base-text-medium-default);
    p {
      margin: 3px 0 0 0;
      font-size: 12px;
    }
    &.error {
      color: var(--negative-text-default);
    }
  }

  @keyframes progressbar-stripes-small {
    from {
      background-position: $progressbar-bg-height-small 0;
    }
    to {
      background-position: 0 0;
    }
  }

  @keyframes progressbar-stripes-medium {
    from {
      background-position: $progressbar-bg-height-medium 0;
    }
    to {
      background-position: 0 0;
    }
  }
}

.a-app--animated .a-progressbar {
  &--size-small {
    .a-progressbar__fill {
      animation: progressbar-stripes-small $progressbar-animation-timing;
    }
  }
  &--size-medium {
    .a-progressbar__fill {
      animation: progressbar-stripes-medium $progressbar-animation-timing;
    }
  }
}
