$context-padding: $base-padding-small;
$context-border-left-width: 6px;
$context-icon-margin: 2px 10px 0 0;
$context-arrow-width: rem(1);
$context-arrow-height: rem(0.5);
$context-arrow-margin: rem(0.3);
$context-arrow-top: 30%;
$context-arrow-left: 10%;

@include theme(a-context) using ($theme) {
  color: map-deep-get($theme, "label", "color");
  background-color: map-deep-get($theme, "control", "fill-color");
  box-shadow: map-deep-get($theme, "card", "container-shadow");
  .a-icon-text {
    fill: map-deep-get($theme, "control", "fill-color");
  }
  &--state-success {
    border-color: map-deep-get($theme, "control", "success-color");

    .a-context__icon {
      color: $color-good;
    }
    .a-icon-bg {
      fill: map-deep-get($theme, "control", "success-color");
    }
  }
  &--state-info {
    border-color: map-deep-get($theme, "control", "info-color");

    .a-context__icon {
      color: $color-information;
    }

    .a-icon-bg {
      fill: map-deep-get($theme, "control", "info-color");
    }
  }
  &--state-warning {
    border-color: map-deep-get($theme, "control", "warning-color");

    .a-context__icon {
      color: map-deep-get($theme, "control", "warning-color");
    }
    .a-icon-bg {
      fill: map-deep-get($theme, "control", "warning-color");
    }
  }
  &--state-danger {
    border-color: map-deep-get($theme, "control", "error-color");

    .a-context__icon {
      color: $color-error;
    }
    .a-icon-bg {
      fill: map-deep-get($theme, "control", "error-color");
    }
  }
}

.a-context {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: 40px;
  border-left: $context-border-left-width solid transparent;
  margin: 10px 0;
  padding: $context-padding;
  border-radius: $border-radius--sm;
  &__icon {
    margin: $context-icon-margin;
    height: 19px;
    width: 19px;
  }
}
