@import "../../styles";

$context-padding: $base-padding-small;
$context-border-left-width: 6px;
$context-arrow-width: rem(1);
$context-arrow-height: rem(0.5);
$context-arrow-margin: rem(0.3);
$context-arrow-top: 30%;
$context-arrow-left: 10%;

.a-context {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: 40px;
  border-left: $context-border-left-width solid transparent;
  margin: 10px 0;
  padding: $context-padding;
  border-radius: $border-radius--sm;
  color: var(--base-text-default);
  background-color: var(--base-icon-in-default);
  box-shadow: var(--card-shadow-lifted) var(--card-shadow-color);
  &__icon {
    margin-right: 10px;
    height: 19px;
    width: 19px;
  }

  .a-icon-text {
    fill: var(--base-icon-in-default);
  }

  &--state-success {
    border-color: var(--positive-border-default);

    .a-context__icon {
      color: var(--accent-a-default);
    }
    .a-icon-bg {
      fill: var(--positive-border-default);
    }
  }
  &--state-info {
    border-color: var(--info-border-default);

    .a-context__icon {
      color: var(--info-icon-default);
    }

    .a-icon-bg {
      fill: var(--info-border-default);
    }
  }
  &--state-warning {
    border-color: var(--warning-border-default);

    .a-context__icon {
      color: var(--warning-border-default);
    }
    .a-icon-bg {
      fill: var(--warning-border-default);
    }
  }
  &--state-danger {
    border-color: var(--negative-border-default);

    .a-context__icon {
      color: var(--negative-icon-default);
    }
    .a-icon-bg {
      fill: var(--negative-border-default);
    }
  }
}
