@import "../../styles";

$footer-min-height: 36px;
$footer-padding: 10px 20px;
$footer-font-size: $font-size--sm;

.a-footer {
  display: block;
  min-height: $footer-min-height;
  padding: $footer-padding;
  font-size: $footer-font-size;
  border-top-width: $border-width;
  border-top-style: solid;
  color: var(--base-text-default);
  border-top-color: var(--base-border-default);

  &__legal {
    text-align: center;
  }
}
