@import "../../styles";

$accordion-min-width: 0;
$accordion-width: 100%;
$accordion-margin: 20px 0;
$accordion-header-font-size: $font-size--md;
$accordion-header-font-weight: 600;
//$accordion-header-padding: 16px 12px 16px 24px; magnetic spacing, ignoring for now
$accordion-header-padding: 8px 12px;
$accordion-body-padding: 15px 10px;
$accordion-border-radius: 6px;
$accordion-message-font-size: 13px;
$accordion-toggle-font-size: $font-size--xs;
$accordion-toggle-margin: 0 8px 0 0;
$accordion-transition: visibility 0s ease, max-height $transition-duration ease,
  opacity $transition-duration--fast ease, margin $transition-duration ease;
$accordion--state-collapsed-transition: visibility $transition-duration ease,
  max-height $transition-duration--fast ease, opacity $transition-duration ease,
  margin $transition-duration ease;
$accordion-divider-border-width: thin;

.a-accordion {
  margin: $accordion-margin;
  border-radius: $accordion-border-radius;

  &__card {
    background-color: var(--control-bg-weak-default);
    color: var(--base-text-medium-default);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: $accordion-min-width;
    width: $accordion-width;
    word-wrap: break-word;
    border-bottom: $border-width solid;
    border-color: var(--control-border-default);

    &--is-focused .a-accordion__header {
      border-color: var(--interact-border-focus) !important;
    }

    /* for future thin dividers, if needed
  &--style-bordered .a-accordion__card {
    border-bottom: $accordion-divider-border-width solid
      map-deep-get($theme, "control", "stroke-color");
  }
  */
    &--state-collapsed {
      .a-accordion__body {
        display: none;
      }
    }

    &--is-focused .a-accordion__header {
      border: $border-width solid;
    }

    &--has-body .a-accordion__link {
      cursor: pointer;
    }
  }

  &__header {
    display: inline-flex;
    font-size: $accordion-header-font-size;
    //font-weight: $accordion-header-font-weight;
    vertical-align: middle;
    border: $border-width solid transparent;

    .a-button--icon {
      padding: 6px;
    }
    .a-button--icon:last-child {
      padding-right: 12px;
    }
  }

  &__link {
    padding: $accordion-header-padding;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @include flex-fluid;
    &:visited,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &__chevron {
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-end;
    align-self: center;
    cursor: pointer;
    padding: 13px 0;

    .a-icon {
      height: $accordion-toggle-font-size;
      width: $accordion-toggle-font-size;
      margin: $accordion-toggle-margin;
      vertical-align: middle;
      fill: var(--interact-icon-weak-default);
    }
  }

  &__body {
    padding: $accordion-body-padding;
    font-size: $accordion-message-font-size;
    flex: 1 1 auto;
    color: var(--base-text-medium-default);
  }

  &--style-bordered {
    border-width: $border-width;
    border-style: solid;
    border-color: var(--control-border-default);

    .a-accordion__card:first-of-type {
      border-top-right-radius: $accordion-border-radius;
      border-top-left-radius: $accordion-border-radius;
    }

    .a-accordion__card:last-of-type {
      border-bottom-right-radius: $accordion-border-radius;
      border-bottom-left-radius: $accordion-border-radius;
      border-bottom: 0;
    }
  }

  :last-of-type &__link {
    color: var(--base-text-default);

    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: var(--base-text-default);
    }
  }
}

.a-app--animated .a-accordion {
  .a-accordion__card {
    .a-accordion__body {
      display: block;
      padding: 0 14px;
      visibility: visible;
      overflow: hidden;
      opacity: 1;
      @include transition($accordion-transition);
      margin: 0 0 15px 0;
    }

    &--state-collapsed {
      .a-accordion__body {
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        margin: 0;
        @include transition($accordion--state-collapsed-transition);
      }
    }
  }
}
