.a-activity-timeline {
  list-style-type: none;
  margin: 0;
  padding-left: 0 !important;

  &__list-item {
    width: 100%;
    position: relative;
    display: flex;

    &:not(:last-child) {
      padding-bottom: 16px;
    }

    &:last-child .a-activity-timeline__list-item__divider {
      display: none;
    }

    // The last list item should not have a vertical bar
    // unless it is the only item in the list
    &:not(:last-child)::before,
    &:only-child::before {
      content: "";
      position: absolute;
      left: 12px;
      height: 100%;
      width: 2px;
      border-left: 2px solid var(--base-border-default);
    }

    &--complete {
      &:not(:last-child)::before,
      &:only-child::before {
        border-left-color: var(--interact-border-default);
      }
    }

    &__header {
      width: 100%;
      display: grid;
      grid-template-areas:
        "caret title"
        "..... time";
      grid-template-columns: auto auto minmax(0, 1fr);
      align-items: center;
      row-gap: 4px;
    }

    &__title {
      grid-area: title;
      font-weight: 600;
    }

    &__divider {
      margin: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      padding-top: 16px;
      border-bottom-width: 2px;
      border-color: var(--base-border-default);
    }

    &__time {
      grid-area: time;
      font-weight: 400;
      color: var(--base-text-medium-default);
    }

    &__status-icon {
      grid-area: status;
      flex-shrink: 0;
      z-index: 1;
      margin-right: 16px;
    }

    &__button {
      border: unset;
      padding: unset;
      background: unset;
      text-align: left;
      cursor: pointer;

      &__caret {
        grid-area: caret;
        width: 18px !important;
        height: 18px !important;
        margin-right: 16px;
      }
    }

    &__body {
      grid-area: body;
      display: block;
      margin-top: 12px;

      &--collapsed {
        display: none;
      }
    }
  }
}
