@import "../../styles";

@include theme(a-combobox) using ($theme) {
  &__menu-items.a-menu {
    border-color: map-deep-get($theme, "combobox", "border-color");
    box-shadow: map-deep-get($theme, "combobox", "box-shadow");
  }
}

.a-combobox {
  &__input {
    background: transparent;
    box-sizing: border-box;
    color: currentColor;
    width: 100%;
    position: relative;
    padding: 0 8px;
    border: none;
    appearance: none;
    text-indent: 1px;
    align-self: stretch;
    &:focus {
      outline: none;
    }
  }

  &__chevron {
    cursor: pointer;
    align-self: stretch;
  }

  &__menu-item.a-list-item {
    min-height: 28px;
    line-height: $line-height--lg;
    padding: 4px 6px;
    text-indent: 6px;
  }

  &.a-input-base--clearable {
    .a-combobox__menu-items {
      right: -50px;
    }
  }
  .a-input-base__surface {
    padding: 0 4px;
  }
  .a-input-base__append {
    > .a-icon {
      padding: 0;
      margin-right: 8px;
    }
  }
}
