@import "../../styles";

$hidden-table-col-width: 45px;

.a-data-table {
  &__header {
    transition: all 0.3s;

    &__label {
      line-height: $font-size;
    }

    &__sort-wrap {
      display: flex;

      height: 100%;
    }

    &__sort {
      &__button {
        display: inline-flex;
        flex: 1 1 auto;
        align-items: center;
        outline: none;
        font-family: inherit !important;
        font-weight: inherit !important;
        font-style: inherit !important;
        font-size: inherit !important;
        border: none;
        padding: 0;
        margin: 0;
        background: transparent;
        cursor: pointer;
        color: var(--base-text-default);
      }
      &.a-icon {
        vertical-align: middle;
        width: 20px;
        cursor: pointer;
        opacity: 0;
      }
    }

    &--sortable {
      cursor: pointer;
      &:focus,
      &:hover {
        background-color: var(--control-bg-weak-active);
      }
    }

    &.col-width-sm {
      width: 50px !important;
      min-width: 50px !important;
    }
    &.col-width-sm:not(:last-of-type) {
      padding-right: 4px;
    }
    &.col-width-sm:not(:first-of-type) {
      padding-left: 4px;
    }
  }

  &__row {
    &--selected {
      background: var(--control-bg-weak-active);

      &:hover {
        background: var(--control-bg-weak-active) !important;
      }
    }

    &--key-selected {
      background: var(--control-bg-weak-active);
    }

    .row-width-sm {
      min-width: 0 !important;
    }
    .row-width-sm:not(:last-of-type) {
      padding-right: 4px;
    }
    .row-width-sm:not(:first-of-type) {
      padding-left: 4px;
    }
  }

  &__header,
  &__cell {
    .a-checkbox__wrap {
      padding: 0 !important;
    }

    .a-checkbox__box {
      margin-top: 0px !important;
      align-self: center;
    }

    .a-checkbox__label {
      top: 0px !important;
    }
  }

  &__header:hover,
  &__header:focus {
    .a-data-table__header__sort {
      opacity: 1;
    }
  }

  .text-start {
    text-align: start;
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align: end;
  }

  &--sticky {
    thead {
      position: sticky;
      top: 0;
      box-shadow: 0 2.5px 2px -2px var(--control-border-strong-default);
      background: var(--base-bg-weak-default);
    }
  }

  &--expandable {
    & .a-data-table__thead .a-data-table__row {
      flex-wrap: nowrap;

      & .a-data-table__header {
        border-bottom: 0px;

        &:not(:nth-last-child(2)) {
          border-right: 0px;
        }
      }
    }
    & .a-data-table__row {
      display: flex;
      flex-flow: row wrap;
      height: 100%;
      min-height: 30px;

      &[data-expandable-row="true"] {
        .a-data-table__cell:nth-last-child(2) {
          border-color: var(--control-border-weak-default);
        }
      }

      .a-data-table__cell[data-expandable-content] {
        border-color: var(--control-border-weak-default);
        background: var(--control-bg-weak-hover);
      }

      & .a-data-table__header {
        flex: 1;
        line-height: 200%;

        &--hidden {
          border-right: none;
          padding: 0;
          min-width: $hidden-table-col-width;
          flex-basis: 0;
          flex-grow: 0;

          &__text {
            @include sr-only;
          }
        }

        &:nth-child(2) {
          border-left: none;
          padding-left: 0;
        }

        &:last-of-type {
          position: absolute;
          height: 1px;
          width: 1px;
          overflow: hidden;
          clip: rect(1px 1px 1px 1px);
          clip: rect(1px, 1px, 1px, 1px);
        }
      }

      & .a-data-table__cell {
        display: block;
        flex: 1;
        line-height: 200%;

        &:first-child {
          flex: 0;
          display: flex;
          align-items: center;
          min-width: $hidden-table-col-width;
          padding: 0;
        }

        & .a-data-table__cell__btn--expand {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          color: unset;
          font-family: inherit;
        }

        &:nth-child(2) {
          padding-left: 0;
        }

        &:last-child[data-expandable-content] {
          display: block;
          padding: 0 $hidden-table-col-width;
          visibility: visible;
          overflow: hidden;
          max-height: 600px;
          opacity: 1;
          flex-basis: 100%;

          &[hidden] {
            max-height: 0;
            visibility: hidden;
            opacity: 0;
            border: unset;
          }
        }
      }
    }
  }

  &--truncate-headers {
    .a-data-table__header {
      max-width: 1px;

      &__sort {
        &__button {
          display: inline-flex;
          overflow: hidden;
        }
      }

      &__label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
