@import "../../styles";

%a-card-base {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  border-radius: 12px;
  padding: 24px;
}

.a-card__item {
  flex: 0 0 auto;
  align-self: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;

  margin: 0 8px;

  &:first-child,
  &--attached-left,
  &--attached-horizontal {
    margin-left: 0;
  }

  &:last-child,
  &--attached-right,
  &--attached-horizontal {
    margin-right: 0;
  }

  &--stretched {
    flex: 1 1 auto;
  }
}
.a-card-wrapper {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  padding: 16px;
}
.a-card__footer,
.a-card__header {
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}
.a-card__content {
  flex: 1 1 auto;
  margin: 16px 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.a-card-state {
  flex: 0 0 auto;
  height: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.a-card-title {
  flex: 0 1 auto;

  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--base-text-strong-default);
}

.a-card-subtitle {
  flex: 0 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--base-text-medium-default);
}

.a-card-container {
  @extend %a-card-base;
  background: var(--base-bg-weak-default);
  box-shadow: var(--card-shadow-lifted) var(--card-shadow-color);

  &--flat {
    box-shadow: none;
  }
}

.a-card-basic {
  @extend %a-card-base;

  border-radius: 8px;
  padding: 0;

  background: var(--base-bg-weak-default);
  box-shadow: none;
  border: $border-width solid var(--control-border-weak-default);

  .a-card__content {
    margin: 12px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.a-card-basic {
    &--lifted {
      box-shadow: var(--card-shadow-lifted) var(--card-shadow-color);
    }

    &--state-dormant {
      .a-card-state {
        background: var(--dormant-border-default);
      }
    }
    &--state-positive {
      .a-card-state {
        background: var(--positive-border-default);
      }
    }
    &--state-warning {
      .a-card-state {
        background: var(--warning-border-default);
      }
    }
    &--state-negative {
      .a-card-state {
        background: var(--negative-border-default);
      }
    }
    &--state-informational {
      .a-card-state {
        background: var(--info-border-default);
      }
    }
    &--state-disabled {
      .a-card-state {
        background: var(--control-bg-disabled);
      }
    }

    &--interactive {
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
      cursor: pointer;

      &:hover {
        border-color: var(--control-border-weak-hover);
      }

      &:focus {
        @include a-control-focus();
      }
    }

    &--selected {
      border-color: var(--control-border-focus);
    }

    &--interactive.a-card-basic--state-disabled {
      border: 2px solid var(--control-border-weak-default);
      background-color: var(--control-bg-weak-default);
      cursor: not-allowed;
      color: var(--base-text-disabled);
    }
  }
}
