@import "../../styles";

.a-panel {
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius--xlg;
  height: auto;
  display: block;
  position: relative;
  margin: 15px;
  overflow: hidden;
  background: var(--control-bg-weak-default);
  border-color: var(--control-border-weak-default);
  color: var(--base-text-default);
  box-shadow: var(--panel-shadow);

  &--color-gray {
    border: none;
    background: var(--base-bg-default);
  }

  &--color-white {
    border: none;
    background: white;
    color: var(--base-text-strong-default);
    .a-panel__header {
      color: var(---base-text-strong-default);
    }
  }

  &--borderless {
    border: none !important;
  }

  &--type-dialog {
    .a-panel__header {
      box-shadow: $default-box-shadow;
      padding-bottom: 15px;
      padding-top: 16px;
      background: var(--base-icon-in-default);
    }

    .a-panel__body {
      padding-bottom: 20px;
    }

    .a-panel__footer {
      padding-top: 20px;
    }
  }

  &__header {
    display: flex;
    padding: 20px 20px 0 20px;
    color: var(--base-text-default);
  }

  &__title {
    font-size: rem(1.125);
    font-weight: 700;
    text-align: left;
    @include flex-fluid;
    &--size-small {
      font-size: $font-size--md;
    }
  }

  &__body {
    padding: 15px 20px 15px 20px;
  }

  &__footer {
    text-align: right;
    padding: 0 20px 20px 20px;
  }
}
