@import "../../styles";

$header-height: 65px;
$header-min-width: 1280px;
$header-padding: 0 30px 0 20px;
$header__logo-font-size: rem(3.75); // 60px
$header__logo-margin: 0 20px 0 0;
$header-variant-name-font-size: 19px;
$header-variant-name-line-height: 19px;

@include theme(a-header) using ($theme) {
  background: map-deep-get($theme, "header", "bg-color");
  &__logo {
    &:focus {
      box-shadow: map-deep-get($theme, "base", "box-shadow");
    }

    .a-icon {
      color: map-deep-get($theme, "base", "brand-color");
    }
  }

  &__title {
    &:focus {
      outline: map-deep-get($theme, "base", "outline");
    }

    :visited,
    :hover,
    :focus,
    :active {
      color: map-deep-get($theme, "base", "color");
    }
  }
  &__subtitle,
  &__subtitle:hover {
    color: map-deep-get($theme, "header", "control-text-color");
  }
}

.a-header {
  display: flex;
  height: $header-height;
  padding: $header-padding;
  width: 100%;
  min-width: $header-min-width;
  align-items: center;
  box-shadow: $default-box-shadow;
  z-index: 7;
  overflow: visible;
  &__logo {
    display: block;
    margin: $header__logo-margin;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }

    .a-icon {
      display: block;
      width: $header__logo-font-size;
      line-height: 1;
    }
  }

  &__navigation {
    display: flex;
    align-self: flex-end;
    flex: 1;
  }

  & &__title {
    font-size: $h1-font-size;
    max-width: 400px;
    margin: 0 50px 0 0 !important;

    :visited,
    :hover,
    :focus,
    :active {
      text-decoration: none;
    }

    * {
      margin: 0;
      font-weight: 200;
    }
  }
  &__subtitle {
    font-size: $header-variant-name-font-size;
    line-height: $header-variant-name-line-height;
  }
}
