@import "../../styles";

$toast-min-height: 80px;
$toast-min-width: 260px;
$toast-max-width: 465px;

.a-toast {
  display: flex;
  position: relative;
  border: none;
  border-radius: 6px;
  border-left: 6px solid;

  min-height: $toast-min-height;
  min-width: $toast-min-width;
  max-width: $toast-max-width;
  padding: 16px 22px;
  align-items: flex-start;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
  color: var(--base-text-default);
  background: var(--base-icon-in-default);

  &__body {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 400;
    flex-grow: 1;
    color: var(--base-text-default);
  }

  &__title {
    font-weight: 700;
    color: var(--base-text-default);
  }

  &__icon {
    margin-top: 3px;
  }

  &__close {
    cursor: pointer;
  }

  &--bottom-right {
    max-width: $toast-max-width;

    & .a-toast__content {
      min-height: $toast-min-height;
    }
  }

  &--top {
    max-width: calc(100vw - 20px);
    width: $toast-max-width * 2;

    & .a-toast__content {
      min-height: unset;
    }
  }

  &--success {
    border-left-color: var(--positive-border-default);
  }

  &--warning {
    border-left-color: var(--warning-border-default);
  }

  &--danger {
    border-left-color: var(--negative-border-default);
  }

  &--information {
    border-left-color: var(--info-border-default);
  }
}

.a-app--animated .a-toast {
  animation-name: fade-in;
  animation-duration: $transition-duration--fast;
}
