$toast-min-height: 80px;
$toast-min-width: 260px;
$toast-max-width: 465px;

@include theme(a-toast) using ($theme) {
  color: map-deep-get($theme, "toast", "color");
  background: map-deep-get($theme, "control", "fill-color");

  &__body {
    color: map-deep-get($theme, "toast", "color-message");
  }
  &__title {
    color: map-deep-get($theme, "toast", "color");
  }

  &--success {
    border-left-color: map-deep-get($theme, "control", "success-color");
  }

  &--warning {
    border-left-color: map-deep-get($theme, "control", "warning-color");
  }

  &--danger {
    border-left-color: map-deep-get($theme, "control", "error-color");
  }

  &--information {
    border-left-color: map-deep-get($theme, "control", "info-color");
  }
}

.a-toast {
  display: flex;
  position: relative;
  border: none;
  border-radius: 6px;
  border-left: 6px solid;

  min-height: $toast-min-height;
  min-width: $toast-min-width;
  max-width: $toast-max-width;
  padding: 16px 22px;
  align-items: flex-start;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);

  &__body {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 400;
    flex-grow: 1;
  }

  &__title {
    font-weight: 700;
  }

  &__icon {
    margin-top: 3px;
  }

  &__close {
    cursor: pointer;
  }

  &--bottom-right {
    max-width: $toast-max-width;

    & .a-toast__content {
      min-height: $toast-min-height;
    }
  }

  &--top {
    max-width: calc(100vw - 20px);
    width: $toast-max-width * 2;

    & .a-toast__content {
      min-height: unset;
    }
  }
}

.a-app--animated .a-toast {
  animation-name: fade-in;
  animation-duration: $transition-duration--fast;
}
