@import "../../styles";

@include theme(a-autocomplete) using ($theme) {
  &__menu-items.a-menu {
    border-color: map-deep-get($theme, "menu", "border-color");
  }
}

.a-autocomplete {
  &__input {
    background: transparent;
    box-sizing: border-box;
    color: currentColor;
    width: 100%;
    position: relative;
    padding: 0;
    border: none;
    appearance: none;
    text-indent: 1px;
    align-self: stretch;
    &:focus {
      outline: none;
    }
  }

  &__menu-item.a-list-item {
    min-height: 28px;
    line-height: $line-height--lg;
    padding: 2px 0 0 0;
    text-indent: 6px;
  }

  &__prepend-icon {
    align-self: stretch;
  }

  & .a-loader {
    height: 20px;
    margin: 0 4px;
  }

  &--loading {
    .a-autocomplete__menu-items {
      left: -45px;
    }
  }

  &.a-input-base--clearable {
    .a-autocomplete__menu-items {
      right: -25px;
    }
  }

  .a-input-base__prepend {
    margin: 0 8px 0 12px;
  }
  .a-input-base__control {
    margin: 0 8px 0 0;
    &:first-child {
      margin-left: 12px;
    }
    &:last-child {
      margin-right: 12px;
    }
  }
  .a-input-base__append {
    margin: 0 12px 0 0;
  }
  .a-input-base__prepend > .a-icon,
  .a-input-base__append > .a-icon {
    padding: 0;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}
