@import "../../styles";

.a-skeleton {
  display: flex;
  flex-direction: column;
  padding: 15px;

  &__header {
    background-color: var(--base-border-medium-default);
  }

  &__block,
  &__text {
    background-color: var(--base-bg-default);
  }

  &__header,
  &__block,
  &__text {
    margin: 3px;
    border-radius: 8px;
  }

  &__header {
    height: 18px;
    width: 40%;
    margin: 3px 3px 10px 3px;
  }

  &__block {
    flex: 1 1 auto;
    min-height: 60px;
  }

  &__text {
    height: 16px;
  }

  &--nested {
    border: 0;
    box-shadow: none !important;
    margin: 0 20px;

    .a-skeleton__header {
      height: 16px;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &--horizontal {
    width: 100%;

    .a-skeleton--nested {
      flex: 1 0 auto;
      margin: 0;

      .a-skeleton__header {
        width: 50%;
      }
    }
  }

  &--animated {
    .a-skeleton__block,
    .a-skeleton__text {
      animation: 8s a-skeleton-shine linear infinite;
      //These animation colors don't look great in dark mode), but it's what CDS uses
      background: linear-gradient(
        90deg,
        var(--base-bg-default) 0%,
        var(--base-border-medium-default) 40%,
        var(--base-bg-default) 90%
      );
      background-size: 400% 100%;
    }
  }

  @keyframes a-skeleton-shine {
    from {
      background-position-x: 200%;
    }
    to {
      background-position-x: -200%;
    }
  }
}
