@import "../../styles";

$tag-height: 26px;
$tag-height-sm: 20px;
$tag-height-lg: 28px;
$tag-padding: 4px 12px;
$tag-padding-sm: 0 8px;
$tag-font-size: $font-size--sm;
$tag-font-size-lg: $font-size--md;
$tag-line-height: calc($font-size--sm + 6px);
$tag-line-height-lg: calc($font-size--md + 6px);
$tag-border-radius: 17px;
$tag-icon-font-size: $font-size--sm;
$tag-icon-font-size-sm: $font-size--xs;
$tag-font-weight: 600;
$icon-width: 1.167rem;

.a-tag {
  display: inline-flex;
  font-size: $tag-font-size;
  min-height: $tag-height;
  line-height: $tag-line-height;
  align-items: center;
  padding: $tag-padding;
  border-radius: $tag-border-radius;
  vertical-align: middle;
  word-break: break-all;
  cursor: default;
  font-weight: $tag-font-weight;
  background-color: var(--control-bg-medium-disabled);
  color: var(--base-text-default);

  &.interactable {
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--base-text-default);
    }
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //Size management for any provided icons
  .a-icon {
    width: 14px;
    stroke: currentColor;
  }

  &--sm {
    min-height: $tag-height-sm;
    padding: $tag-padding-sm;
    .a-icon {
      width: 12px;
      &--status {
        width: 16px !important;
      }
    }
  }

  &--lg {
    min-height: $tag-height-lg;
    font-size: $tag-font-size-lg;
    line-height: $tag-line-height-lg;
    .a-icon {
      width: 16px;
      &--status {
        width: 20px !important;
      }
    }
  }

  &--state {
    color: var(--base-text-default);
  }
  &--status-info,
  &--status-in-progress {
    background-color: var(--info-bg-medium-default);
  }
  &--status-excellent {
    background-color: var(--excellent-bg-medium-default);
  }
  &--status-positive,
  &--status-active,
  &--status-allow {
    background-color: var(--positive-bg-strong-default);
  }
  &--status-low-warning {
    background-color: var(--low-warning-bg-medium-default);
  }
  &--status-warning {
    background-color: var(--warning-bg-strong-default);
  }
  &--status-severe-warning {
    background-color: var(--severe-warning-bg-medium-default);
  }
  &--status-negative,
  &--status-deny {
    background-color: var(--negative-bg-strong-default);
    .a-icon {
      fill: var(--negative-icon-default);
    }
  }
  &--status-deny {
    .a-icon {
      fill: var(--negative-icon-default);
    }
  }

  //Status tags
  &--status {
    padding: 4px 8px 4px 4px;

    .a-icon--status {
      width: 18px;
    }
    &.a-tag--sm {
      padding: 1px 8px 1px 4px;
    }
    &.a-tag--lg {
      padding: 4px 12px 4px 4px;
    }
  }

  &--score-critical {
    background: var(--negative-bg-default);
    color: var(--negative-text-in-default);
  }

  &--score-high {
    background: var(--severe-warning-bg-default);
    color: var(--warning-text-in-default);
  }

  &--score-medium {
    background: var(--warning-bg-default);
    color: var(--warning-text-in-default);
  }

  &--score-low {
    background: var(--positive-bg-default);
    color: var(--positive-text-in-default);
  }

  @each $accentColor, $color in $accent-colors {
    &--accent#{$accentColor} {
      background-color: $color;
    }
  }
}
