@import "../../styles";

@include theme(a-slider) using ($theme) {
  &__track {
    &--low,
    &--high {
      background-color: map-deep-get($theme, "slider", "track-color");
    }
  }

  &__handle {
    background-color: map-deep-get($theme, "slider", "handle-bg");
    border-color: map-deep-get($theme, "slider", "handle-border");
    &:hover {
      border-color: map-deep-get($theme, "slider", "handle-border");
      box-shadow: map-deep-get($theme, "slider", "box-shadow");
    }

    &:focus {
      box-shadow: map-deep-get($theme, "slider", "box-shadow");
    }

    &:active {
      border-color: map-get($grey, "darken-4");
    }
  }

  &__selection {
    background: map-deep-get($theme, "slider", "bg");
  }

  &--warning {
    & .a-slider__selection {
      background-color: $color-warning;
    }

    & .a-slider__handle {
      &:hover {
        border-color: map-get($grey, "darken-4");
        box-shadow: map-deep-get($theme, "slider", "box-shadow--warning");
      }

      &:focus {
        box-shadow: map-deep-get($theme, "slider", "box-shadow--warning");
      }

      &:active {
        border-color: map-get($grey, "darken-4");
        box-shadow: map-deep-get($theme, "slider", "box-shadow--warning");
      }
    }
  }

  &--danger {
    & .a-slider__selection {
      background-color: $color-error;
    }

    & .a-slider__handle {
      &:hover {
        border-color: map-get($grey, "darken-4");
        box-shadow: map-deep-get($theme, "slider", "box-shadow--danger");
      }

      &:focus {
        box-shadow: map-deep-get($theme, "slider", "box-shadow--danger");
      }

      &:active {
        border-color: map-get($grey, "darken-4");
        box-shadow: map-deep-get($theme, "slider", "box-shadow--danger");
      }
    }
  }

  &--disabled {
    opacity: map-deep-get($theme, "slider", "opacity-disabled");
    & .a-slider__selection {
      background-color: map-deep-get($theme, "slider", "selection-bg-disabled");
    }
    & .a-slider__handle {
      border-color: map-deep-get($theme, "slider", "handle-border-disabled");
      &:hover,
      &:active {
        border-color: map-deep-get($theme, "slider", "handle-border-disabled");
        box-shadow: none;
      }
    }
  }
}

.a-slider {
  &__control {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__track {
    height: 6px;
    top: 10.5px;
    left: 8.5px;
    right: 8.5px;
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
    &--low,
    &--high {
      height: 100%;
      top: 0;
      bottom: 0;
      position: absolute;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  &__selection {
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &__handles {
    position: absolute;
    left: 8.5px;
    right: 8.5px;
    top: 5px;
  }

  &__handle {
    border-radius: 50%;
    position: absolute;
    top: 0;
    width: 17px;
    height: 17px;
    border-width: $border-width;
    border-style: solid;
    transform: translateX(-8.5px);
    &:hover {
      border-width: $border-width;
      border-style: solid;
    }

    &:active {
      border-width: $border-width;
      border-style: solid;
      z-index: 1;
    }
  }

  &__tick {
    white-space: nowrap;
    padding: 22px 8.5px 0;
    display: flex;
    justify-content: space-between;
    height: 47px;
  }

  &__tick-label {
    padding-top: 4px;
    display: inline-block;

    span {
      transform: translateX(-50%);
      position: absolute;
    }

    &:first-child span {
      transform: translateX(-8.5px);
    }

    &:last-child span {
      transform: translateX(calc(-100% + 8.5px));
    }
  }

  &--disabled {
    & .a-slider__track {
      cursor: not-allowed;
    }
    & .a-slider__handle {
      border-width: $border-width;
      border-style: solid;
      &:hover,
      &:active {
        border-width: $border-width;
        border-style: solid;
      }
    }
  }
}

.a-slider-container {
  height: 60px;
}
