@import "../../styles";

.a-slider {
  &__control {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__track {
    height: 6px;
    top: 10.5px;
    left: 8.5px;
    right: 8.5px;
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
    &--low,
    &--high {
      height: 100%;
      top: 0;
      bottom: 0;
      position: absolute;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: var(--base-border-medium-default);
    }
  }

  &__selection {
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: var(--control-bg-strong-default);
  }

  &__handles {
    position: absolute;
    left: 8.5px;
    right: 8.5px;
    top: 5px;
  }

  &__handle {
    border-radius: 50%;
    position: absolute;
    top: 0;
    width: 17px;
    height: 17px;
    border-width: $border-width;
    border-style: solid;
    transform: translateX(-8.5px);
    background-color: var(--inverse-icon-strong-default);
    border-color: var(--control-border-strong-default);
    &:hover {
      border-width: $border-width;
      border-style: solid;
      border-color: var(--control-border-hover);
    }

    &:active {
      border-width: $border-width;
      border-style: solid;
      z-index: 100;
    }

    &:focus,
    &:active {
      //TODO waiting for new shadow color/tokens
      box-shadow: var(--shadow-focus) var(--control-border-medium-hover);
      border-color: var(--control-border-active);
    }
  }

  &__tick {
    white-space: nowrap;
    padding: 22px 8.5px 0;
    display: flex;
    justify-content: space-between;
    height: 47px;
  }

  &__tick-label {
    padding-top: 4px;
    display: inline-block;

    span {
      transform: translateX(-50%);
      position: absolute;
    }

    &:first-child span {
      transform: translateX(-8.5px);
    }

    &:last-child span {
      transform: translateX(calc(-100% + 8.5px));
    }
  }

  &--disabled {
    & .a-slider__track {
      cursor: not-allowed;
    }
    & .a-slider__handle {
      border-width: $border-width;
      border-style: solid;
      &:hover,
      &:active {
        border-width: $border-width;
        border-style: solid;
      }
    }
  }

  &--warning {
    & .a-slider__selection {
      background-color: $color-warning;
    }

    & .a-slider__handle {
      &:hover {
        border-color: var(--severe-warning-border-hover);
      }

      &:focus,
      &:active {
        //TODO waiting for new shadow color/tokens
        box-shadow: var(--shadow-focus) var(--warning-bg-strong-default);
        border-color: var(--severe-warning-border-hover);
      }
    }
  }

  &--danger {
    & .a-slider__selection {
      background-color: $color-error;
    }

    & .a-slider__handle {
      &:hover {
        border-color: var(--negative-border-medium-hover);
      }

      &:focus,
      &:active {
        border-color: var(--negative-border-hover);
        box-shadow: var(--shadow-focus) var(--negative-border-disabled);
      }
    }
  }

  &--disabled {
    & .a-slider__selection {
      background-color: var(--control-border-strong-disabled);
    }
    & .a-slider__handle {
      border-color: var(--control-border-disabled);
      &:hover,
      &:active {
        border-color: var(--control-border-disabled);
        box-shadow: none;
      }
    }
  }
}

.a-slider-container {
  height: 60px;
}
