@import "../../styles";

.a-slider {
  &__control {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 44px;
    padding-top: 8px;
  }

  &__track {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    min-height: 8px;
    &--low,
    &--high {
      height: 100%;
      top: 0;
      bottom: 0;
      position: absolute;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: var(--base-border-medium-default);
    }
  }

  &__selection {
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: var(--control-bg-strong-default);
  }

  &__handles {
    position: absolute;
    left: 8.5px;
    right: 8.5px;
    top: 5px;
    cursor: pointer;
  }

  &__handle {
    position: absolute;
    border-radius: 50%;
    top: -5px;
    width: 24px;
    height: 24px;
    border-width: $border-width;
    border-style: solid;
    transform: translateX(-8.5px);
    background-color: var(--inverse-icon-strong-default);
    border-color: var(--control-border-strong-default);
    &:hover {
      border-width: $border-width;
      border-style: solid;
      border-color: var(--control-border-hover);
    }
  }

  &__tick {
    white-space: nowrap;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
  }

  &__tick-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  &__tick-mark {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 10px;
    border-radius: 50%;
    background: var(--control-icon-in-strong-disabled);
  }

  &__tick-label:first-child .a-slider__tick-mark {
    align-self: flex-start;
    margin-left: 2px;
  }
  &__tick-label:last-child .a-slider__tick-mark {
    align-self: flex-end;
    margin-right: 2px;
  }

  &--disabled {
    & .a-slider__track {
      cursor: not-allowed;
    }
    & .a-slider__handle {
      border-width: $border-width;
      border-style: solid;
      &:hover,
      &:active {
        border-width: $border-width;
        border-style: solid;
      }
    }
  }

  &--warning {
    & .a-slider__selection {
      background-color: var(--warning-bg-default);
    }

    & .a-slider__handle {
      &:hover {
        border-color: var(--severe-warning-border-hover);
      }

      &:focus,
      &:active {
        //TODO waiting for new shadow color/tokens
        box-shadow: var(--shadow-focus) var(--warning-bg-strong-default);
        border-color: var(--severe-warning-border-hover);
      }
    }
  }

  &--danger {
    & .a-slider__selection {
      background-color: var(--negative-bg-default);
    }

    & .a-slider__handle {
      &:hover {
        border-color: var(--negative-border-medium-hover);
      }

      &:focus,
      &:active {
        border-color: var(--negative-border-hover);
        box-shadow: var(--shadow-focus) var(--negative-border-disabled);
      }
    }
  }

  &--disabled {
    & .a-slider__selection {
      background-color: var(--control-border-strong-disabled);
    }
    & .a-slider__handle {
      border-color: var(--control-border-disabled);
      &:hover,
      &:active {
        border-color: var(--control-border-disabled);
        box-shadow: none;
      }
    }
  }
}
