@import "../../styles";

.a-floating-base {
  display: inline-block;
  z-index: 800;

  .a-floating-base-arrow {
    fill: var(--inverse-bg-weak-default);
  }
}

.a-tooltip {
  color: var(--base-text-in-weak-default);
  border-radius: $border-radius--lg;
  background-color: var(--inverse-bg-weak-default);
  min-width: 75px;
  max-width: 400px;
  padding: 8px 12px;
  font-size: $font-size--sm;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.18));
}
