@import "../../styles";

$tooltip-bg: map-get($grey, "darken-4");

@include theme(a-tooltip) using ($theme) {
  color: map-deep-get($theme, "base", "inverse-color");
}

.a-tooltip {
  display: inline-block;
  font-size: $font-size--xs;
  line-height: $line-height;
  min-width: 75px;
  max-width: 200px;
  background-color: $tooltip-bg;
  padding: rem(0.3125);
  border-radius: $border-radius--sm;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  z-index: 8;

  &--arrow.a-menu-base--top,
  &--arrow.a-menu-base--top-left,
  &--arrow.a-menu-base--top-right {
    margin-top: -11px;
    .a-menu-base__pointer {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 6px 0 6px;
      border-color: $tooltip-bg transparent transparent transparent;
      position: absolute;
      bottom: -11px;
    }
  }

  &--arrow.a-menu-base--right,
  &--arrow.a-menu-base--right-top,
  &--arrow.a-menu-base--right-bottom {
    margin-left: 11px;
    .a-menu-base__pointer {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 12px 6px 0;
      border-color: transparent $tooltip-bg transparent transparent;
      position: absolute;
      left: -11px;
    }
  }

  &--arrow.a-menu-base--bottom,
  &--arrow.a-menu-base--bottom-left,
  &--arrow.a-menu-base--bottom-right {
    margin-top: 11px;
    .a-menu-base__pointer {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 12px 6px;
      border-color: transparent transparent $tooltip-bg transparent;
      position: absolute;
      top: -11px;
    }
  }

  &--arrow.a-menu-base--left,
  &--arrow.a-menu-base--left-top,
  &--arrow.a-menu-base--left-bottom {
    margin-left: -11px;
    .a-menu-base__pointer {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 12px;
      border-color: transparent transparent transparent $tooltip-bg;
      position: absolute;
      right: -11px;
    }
  }
}

// Fading and sliding for the regular Tooltip, only fading for the Tooltip with an arrow.
// Could be reconsidered later.
.a-app--animated .a-tooltip {
  animation-name: fade-in;
  animation-duration: $transition-duration--fast;

  &.a-menu-base--top,
  &.a-menu-base--top-left,
  &.a-menu-base--top-right {
    animation-name: slideToTop;
    animation-duration: $transition-duration--fast;
  }

  &.a-menu-base--right,
  &.a-menu-base--right-top,
  &.a-menu-base--right-bottom {
    animation-name: slideToRight;
    animation-duration: $transition-duration--fast;
  }

  &.a-menu-base--bottom,
  &.a-menu-base--bottom-right,
  &.a-menu-base--bottom-left {
    animation-name: slideToBottom;
    animation-duration: $transition-duration--fast;
  }

  &.a-menu-base--left,
  &.a-menu-base--left-bottom,
  &.a-menu-base--left-top {
    animation-name: slideToLeft;
    animation-duration: $transition-duration--fast;
  }
}

@keyframes slideToTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideToRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideToBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideToLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
