@import "../../styles";

$alert-min-height: 48px;
$alert-icon-font-size: $font-size;
$alert-margin: 0;
$alert-padding: 12px 16px;
$alert-message-padding: 0 8px 0 0;
$alert-border-radius: 6px;
$alert-body-font-size: $font-size--md;
$alert-message-max-width: 700px;
$alert-close-icon-size: 10.5px;

.a-alert {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: $alert-min-height;
  border-radius: $alert-border-radius;
  margin: $alert-margin;
  align-items: center;
  padding: $alert-padding;
  background-color: var(--info-bg-strong-default);
  color: var(--base-text-default);

  .a-icon-text {
    fill: var(--base-icon-in-default) !important;
  }

  &__icon {
    font-size: $alert-icon-font-size;
  }

  &__icon--level {
    margin-right: 8px;
  }

  &__message {
    font-size: $alert-body-font-size;
    max-width: $alert-message-max-width;
    margin-right: auto;
    padding: $alert-message-padding;
    align-self: center;
    @include flex-fluid;
    @include text-break-word;
  }

  &--fit-content-width {
    width: unset;
  }
  &--state-success {
    background-color: var(--positive-bg-strong-default);
    color: var(--base-text-default);
  }

  &--state-warning {
    background-color: var(--warning-bg-strong-default);
    color: var(--base-text-default);
    .a-alert__dismiss:focus {
      @include a-control-focus("warning");
    }
  }
  &--state-danger {
    background-color: var(--negative-bg-strong-default);
    color: var(--base-text-default);
    .a-alert__dismiss:focus {
      @include a-control-focus("negative");
    }
  }
}

.a-app .a-alert p:first-child {
  margin: 0 0 ($spacing * 0.5) 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
