@import "../../styles";

$alert-min-height: 50px;
$alert-icon-font-size: $font-size;
$alert-icon-margin-size: 16px;
$alert-icon-margin: 1px 8px 0 $alert-icon-margin-size;
$alert-close-icon-margin: 0 $alert-icon-margin-size 0 0;
$alert-margin: 0;
$alert-padding-size: 12px;
$alert-padding: $alert-padding-size 0;
$alert-message-padding: 0 $alert-padding-size 0 0;
$alert-border-radius: 6px;
$alert-body-font-size: $font-size--md;
$alert-message-max-width: 700px;
$alert-close-icon-size: 10.5px;

.a-alert {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: $alert-min-height;
  border-radius: $alert-border-radius;
  margin: $alert-margin;
  padding: $alert-padding;
  background-color: var(--info-bg-strong-default);
  color: var(--base-text-default);

  .a-icon-text {
    fill: var(--base-icon-in-default) !important;
  }

  &__icon {
    font-size: $alert-icon-font-size;

    &--close {
      width: $alert-close-icon-size;
      cursor: pointer;
      color: var(--interact-icon-weak-default);
      &:hover {
        color: var(--interact-icon-weak-hover);
      }
    }

    &.a-alert__icon--close {
      align-self: center;
      &:focus {
        box-shadow: var(--shadow-focus) var(--control-border-active);
      }
    }
  }

  &:focus {
    box-shadow: var(--shadow-focus) var(--control-border-active);
  }

  &__icon--level {
    margin: $alert-icon-margin;
  }
  &__icon--close {
    margin: $alert-close-icon-margin;
  }
  &__message {
    font-size: $alert-body-font-size;
    max-width: $alert-message-max-width;
    margin-right: auto;
    padding: $alert-message-padding;
    align-self: center;
    @include flex-fluid;
    @include text-break-word;
  }

  &--fit-content-width {
    width: unset;
  }
  &--state-success {
    background-color: var(--positive-bg-strong-default);
    color: var(--base-text-default);
    .a-alert__icon--close:focus {
      box-shadow: $success-box-shadow;
    }
    &:focus {
      box-shadow: $success-box-shadow;
    }

    .a-alert__icon {
      &--close {
        &:focus {
          box-shadow: $success-box-shadow;
        }
      }
    }
  }

  &--state-warning {
    background-color: var(--warning-bg-strong-default);
    color: var(--base-text-default);
    .a-alert__icon {
      &--close {
        &:focus {
          box-shadow: $warning-box-shadow;
        }
      }
    }

    .a-alert__icon--close:focus {
      box-shadow: $warning-box-shadow;
    }
    &:focus {
      box-shadow: $warning-box-shadow;
    }
  }
  &--state-danger {
    background-color: var(--negative-bg-strong-default);
    color: var(--base-text-default);
    .a-alert__icon--close:focus {
      box-shadow: $danger-box-shadow;
    }
    &:focus {
      box-shadow: $danger-box-shadow;
    }
    .a-alert__icon {
      &--close {
        &:focus {
          box-shadow: $danger-box-shadow;
        }
      }
    }
  }
}

.a-app .a-alert p:first-child {
  margin: 0 0 ($spacing * 0.5) 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
