@import "../../styles";

@include theme(a-multiselect) using ($theme) {
  &__menu-items.a-menu {
    border-color: map-deep-get($theme, "combobox", "border-color");
    box-shadow: map-deep-get($theme, "combobox", "box-shadow");
  }

  &__tags {
    .a-tag {
      .a-button:focus,
      .a-button:hover {
        svg {
          stroke: map-deep-get($theme, "color", "warning--state-hover");
        }
      }
    }
  }
}

.a-multiselect {
  width: unset;

  &__input {
    display: block;
    flex: 1 1 auto;
    background: transparent;
    box-sizing: border-box;
    color: currentColor;
    min-height: 30px;
    max-width: 100%;
    position: relative;
    padding: 0 8px;
    border: none;
    appearance: none;
    text-indent: 1px;
    align-self: stretch;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  &__tags {
    display: block;
    width: min-content;
    flex: 1 0 auto;
    padding-right: 54px;
    .a-tag {
      margin: 2px 4px;
      word-break: normal;
      font-weight: bold;

      .a-button {
        padding: 4px;
        margin-left: 4px;
      }
    }
  }

  &__counter {
    .a-input-base__control {
      flex-wrap: nowrap !important;
    }
  }

  &__chevron {
    cursor: pointer;
    align-self: stretch;
  }

  &__menu-items {
    padding: 0;
    .a-checkbox {
      width: 100%;
    }
  }

  &__menu-item.a-list-item {
    padding: 0 10px;
  }

  .a-input-base--small &__input {
    min-height: 24px;
  }

  .a-input-base--large &__input {
    min-height: 36px;
  }

  .a-input-base__control {
    max-height: 100px;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .a-input-base__surface {
    padding: 0 4px;
  }
  .a-input-base__append {
    position: absolute;
    right: 0;
    top: calc(100% - 50% - 8px);

    .a-button {
      width: 30px;
    }
    > .a-icon {
      padding: 0;
      padding-right: 8px;
    }
  }

  &--hasScroll {
    .a-multiselect__tags {
      padding-right: 42px;
    }

    .a-input-base__append {
      right: 16px;
    }
  }

  &__nodata {
    margin: 0 auto;
  }
}
