@import "../../styles";

.a-stepper-card {
  height: 100%;
  min-height: 200px;
  &__card {
    &__col {
      border-right: 1px solid var(--base-border-medium-default);
      box-shadow: none;
    }
  }

  &__content {
    &__footer {
      box-shadow: 0 -3px 8px #00000014;
      padding-left: 4px;
      padding-right: 24px;
    }
  }
}
