@mixin background-color($color_value) {
  background-color: $color_value !important;
}

@mixin text-color($color_value) {
  color: $color_value !important;
  fill: $color_value !important;
  caret-color: $color_value !important;
}

@each $color_name, $color_color in $colors {
  @each $color_type, $color_value in $color_color {
    @if ($color_type == "base") {
      .a-app .#{$color_name} {
        @include background-color($color_value);

        &.focus-box-shadow:focus,
        &:focus + .a-checkbox__box {
          box-shadow: 0 0 2px 2px rgba($color_value, 0.4) !important;
        }
      }

      .a-app .#{$color_name}--text {
        @include text-color($color_value);
      }
    } @else {
      .a-app .#{$color_name}--#{$color_type} {
        @include background-color($color_value);

        &.focus-box-shadow:focus,
        &:focus + .a-checkbox__box {
          box-shadow: 0 0 2px 2px rgba($color_value, 0.4) !important;
        }
      }

      .a-app .#{$color_name}--#{$color_type}--text {
        @include text-color($color_value);
      }
    }
  }
}
