.a-app a {
  color: var(--interact-text-default);

  &:hover {
    color: var(--interact-text-hover);
    background-color: var(--interact-bg-weak-hover);
  }

  &:focus {
    color: var(--interact-text-focus);
    border-color: var(--interact-border-weak-hover);
    background-color: var(--interact-bg-weak-active);
  }

  &:active {
    color: var(--interact-text-active);
    background-color: var(--interact-bg-weak-active);
  }

  &.disabled,
  &:disabled {
    background-color: transparent;
    color: var(--interact-text-disabled);
  }

  text-decoration: none;
  font-weight: 700;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }

  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    border-radius: $border-radius--lg;
  }

  .a-icon {
    stroke: currentColor;
    &:hover {
      text-decoration: none;
    }
  }

  &.disabled {
    text-decoration: none;
  }
}
