@include themeElement(a) using ($theme) {
  color: map-deep-get($theme, "button", "tertiary", "color");

  &:hover {
    color: map-deep-get($theme, "button", "tertiary", "color--hover");
    background-color: map-deep-get($theme, "button", "tertiary", "bg--hover");
  }

  &:focus {
    color: map-deep-get($theme, "button", "tertiary", "color--focus");
    border-color: map-deep-get($theme, "button", "tertiary", "border--focus");
    background-color: map-deep-get($theme, "button", "tertiary", "bg--active");
  }

  &:active {
    color: map-deep-get($theme, "button", "tertiary", "color--active");
    background-color: map-deep-get($theme, "button", "tertiary", "bg--active");
  }

  &.disabled,
  &:disabled {
    opacity: map-deep-get($theme, "button", "tertiary", "opacity--disabled");
    background-color: transparent;
    color: map-deep-get($theme, "button", "tertiary", "color--disabled");
  }
}

.a-app a {
  text-decoration: none;
  font-weight: 700;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }

  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    border-radius: 4px;
  }

  .a-icon {
    stroke: currentColor;
    &:hover {
      text-decoration: none;
    }
  }

  &.disabled {
    text-decoration: none;
  }
}
