html {
  overflow-x: hidden;
}

body {
  min-width: $page-width--min;
  margin: 0;
}

.a-app {
  display: flex;

  &,
  & * {
    box-sizing: inherit;
    &:before,
    &:after {
      box-sizing: inherit;
    }
    &:focus {
      outline: none;
    }
  }

  &--wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  // Images
  .img,
  .picture {
    margin: 0;
    border: 0;
    max-width: 100%;
    &--fluid {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
