$scrollbar-track-height: 15px;
$scrollbar-track-width: 15px;
$scrollbar-thumb-border-radius: 8px;

.theme--default.a-app--scrollbars {
  &::-webkit-scrollbar-corner,
  & ::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track,
  & ::-webkit-scrollbar-track {
    background: map-deep-get($atomic-default, "app", "scrollbar", "track-bg");
    border: $border-width solid
      map-deep-get($atomic-default, "app", "scrollbar", "track-border-color");
  }

  &::-webkit-scrollbar-thumb,
  & ::-webkit-scrollbar-thumb {
    background-color: map-deep-get(
      $atomic-default,
      "app",
      "scrollbar",
      "thumb-bg"
    );
  }
}

.theme--dusk.a-app--scrollbars {
  &::-webkit-scrollbar-corner,
  & ::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track,
  & ::-webkit-scrollbar-track {
    background: map-deep-get($atomic-dusk, "app", "scrollbar", "track-bg");
    border: $border-width solid
      map-deep-get($atomic-dusk, "app", "scrollbar", "track-border-color");
  }

  &::-webkit-scrollbar-thumb,
  & ::-webkit-scrollbar-thumb {
    background-color: map-deep-get(
      $atomic-dusk,
      "app",
      "scrollbar",
      "thumb-bg"
    );
  }
}

.a-app--scrollbars {
  &::-webkit-scrollbar-thumb,
  & ::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: $scrollbar-thumb-border-radius;
    background-clip: content-box;
  }

  &::-webkit-scrollbar,
  & ::-webkit-scrollbar {
    height: $scrollbar-track-height;
    width: $scrollbar-track-width;
  }
}
