@import "../../styles";

$menu-item-first-last-border-radius: 4px;

/*
When using AMenu that passes AMenuBase to AList, force override the specificity
since the css may be imported in different orders depending on product build
configuration environments.
*/
@include theme("a-menu.a-list") using ($theme) {
  border-color: map-deep-get($theme, "menu", "border-color") !important;
  background-color: map-deep-get($theme, "menu", "bg-color") !important;
}

@include theme(a-menu) using ($theme) {
  border-color: map-deep-get($theme, "menu", "border-color");
  border-radius: $border-radius--lg;
  border-width: $border-width;
  background-color: map-deep-get($theme, "menu", "bg-color");
  &--pointer.a-menu-base--top,
  &--pointer.a-menu-base--top-left,
  &--pointer.a-menu-base--top-right {
    .a-menu-base__pointer {
      border-color: map-deep-get($theme, "base", "stroke-color") transparent
        transparent transparent;

      &:after {
        border-color: map-deep-get($theme, "control", "fill-color") transparent
          transparent transparent;
      }
    }
  }

  &--pointer.a-menu-base--bottom,
  &--pointer.a-menu-base--bottom-left,
  &--pointer.a-menu-base--bottom-right {
    .a-menu-base__pointer {
      border-color: transparent transparent
        map-deep-get($theme, "menu", "border-color") transparent;

      &:after {
        border-color: transparent transparent
          map-deep-get($theme, "control", "fill-color") transparent;
      }
    }
  }

  &--pointer.a-menu-base--right .a-menu-base__pointer {
    border-color: transparent map-deep-get($theme, "menu", "border-color")
      transparent transparent;

    &:after {
      border-color: transparent map-deep-get($theme, "control", "fill-color")
        transparent transparent;
    }
  }

  &--pointer.a-menu-base--left .a-menu-base__pointer {
    border-color: transparent transparent transparent
      map-deep-get($theme, "menu", "border-color");

    &:after {
      border-color: transparent transparent transparent
        map-deep-get($theme, "control", "fill-color");
    }
  }

  &--pointer.a-menu-base--right-top .a-menu-base__pointer {
    border-color: transparent map-deep-get($theme, "menu", "border-color")
      transparent transparent;

    &:after {
      border-color: transparent map-deep-get($theme, "control", "fill-color")
        transparent transparent;
    }
  }

  &--pointer.a-menu-base--left-top .a-menu-base__pointer {
    border-color: transparent transparent transparent
      map-deep-get($theme, "menu", "border-color");

    &:after {
      border-color: transparent transparent transparent
        map-deep-get($theme, "control", "fill-color");
    }
  }

  &--pointer.a-menu-base--right-bottom .a-menu-base__pointer {
    border-color: transparent map-deep-get($theme, "menu", "border-color")
      transparent transparent;

    &:after {
      border-color: transparent map-deep-get($theme, "control", "fill-color")
        transparent transparent;
    }
  }

  &--pointer.a-menu-base--left-bottom .a-menu-base__pointer {
    border-color: transparent transparent transparent
      map-deep-get($theme, "menu", "border-color");

    &:after {
      border-color: transparent transparent transparent
        map-deep-get($theme, "control", "fill-color");
    }
  }
}

.a-menu {
  overflow: visible;
  > .a-list-item {
    > label {
      padding-left: 0px;
    }
    &:first-of-type {
      border-top-left-radius: $menu-item-first-last-border-radius;
      border-top-right-radius: $menu-item-first-last-border-radius;
    }
    &:last-of-type {
      border-bottom-right-radius: $menu-item-first-last-border-radius;
      border-bottom-left-radius: $menu-item-first-last-border-radius;
    }
  }
  q &.compact {
    > .a-list-item {
      padding: 1.5px 15px;
    }
  }

  &--pointer.a-menu-base--top,
  &--pointer.a-menu-base--top-left,
  &--pointer.a-menu-base--top-right {
    margin-top: -13px;
    .a-menu-base__pointer {
      margin-left: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 9.5px 0 9.5px;
      position: absolute;
      bottom: -14px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 9.5px 0 9.5px;
        position: absolute;
        right: -9.5px;
        top: -16px;
      }
    }
  }

  &--pointer.a-menu-base--right,
  &--pointer.a-menu-base--right-top,
  &--pointer.a-menu-base--right-bottom {
    margin-left: 13px;
    .a-menu-base__pointer {
      margin-top: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9.5px 14px 9.5px 0;
      position: absolute;
      left: -14px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9.5px 14px 9.5px 0;
        position: absolute;
        right: -16px;
        top: -9.5px;
      }
    }
  }

  &--pointer.a-menu-base--bottom,
  &--pointer.a-menu-base--bottom-left,
  &--pointer.a-menu-base--bottom-right {
    margin-top: 13px;
    .a-menu-base__pointer {
      margin-left: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9.5px 14px 9.5px;
      position: absolute;
      top: -14px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9.5px 14px 9.5px;
        position: absolute;
        right: -9.5px;
        top: 2px;
      }
    }
  }

  &--pointer.a-menu-base--left,
  &--pointer.a-menu-base--left-top,
  &--pointer.a-menu-base--left-bottom {
    margin-left: -13px;
    .a-menu-base__pointer {
      margin-top: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9.5px 0 9.5px 14px;
      position: absolute;
      right: -14px;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9.5px 0 9.5px 14px;
        position: absolute;
        right: 2px;
        top: -9.5px;
      }
    }
  }
}

.a-app--animated .a-menu {
  animation-name: fade-in;
  animation-duration: $transition-duration--fast;
}
