@import "../../styles";

$input-transition: border-color $transition-duration--extra-fast
    $transition-timing-function--standard,
  box-shadow $transition-duration--extra-fast
    $transition-timing-function--standard;

@include theme(a-input-base) using ($theme) {
  &__surface {
    background: map-deep-get($theme, "text-input", "bg");
    border-color: map-deep-get($theme, "base", "stroke-color");
    color: map-deep-get($theme, "base", "color");

    &:hover {
      border-color: map-deep-get($theme, "control", "stroke-color--hover");
    }

    &:active {
      border-color: map-get($cisco-blue, "burnt-1");
    }
  }

  &__clear:focus {
    box-shadow: map-deep-get($theme, "base", "box-shadow");
  }

  &--focused {
    .a-input-base__surface {
      border-color: map-deep-get($theme, "base", "color--hover");
      box-shadow: map-deep-get($theme, "base", "box-shadow");

      &:active {
        border-color: map-get($cisco-blue, "burnt-1");
      }
    }
  }

  &--warning {
    &.a-input-base--focused .a-input-base__surface {
      border: $border-width solid $color-warning;
      box-shadow: $warning-box-shadow;
    }

    .a-input-base__surface {
      border: $border-width solid $color-warning;

      &:hover {
        border: $border-width solid
          map-deep-get($theme, "color", "warning--state-hover");
      }

      &:active {
        border: $border-width solid $color-warning;
        box-shadow: $warning-box-shadow;
      }
    }
  }

  &--danger {
    &.a-input-base--focused .a-input-base__surface {
      border: $border-width solid $color-error;
      box-shadow: $danger-box-shadow;
    }

    .a-input-base__surface {
      border: $border-width solid $color-error;

      &:hover {
        border: $border-width solid
          map-deep-get($theme, "color", "error--state-hover");
      }

      &:active {
        border: $border-width solid $color-error;
        box-shadow: $danger-box-shadow;
      }
    }
  }

  &--disabled {
    .a-input-base__surface {
      color: map-deep-get($theme, "text-input", "color--disabled");
      border-color: map-deep-get(
        $theme,
        "text-input",
        "border-color--disabled"
      );
      background: map-deep-get($theme, "text-input", "bg--disabled");
    }
  }

  &--readonly {
    .a-input-base__surface {
      border-color: map-deep-get(
        $theme,
        "text-input",
        "border-color--readonly"
      );
      background: map-deep-get($theme, "text-input", "bg--readonly");
    }
  }
}

.a-input-base {
  &__surface {
    display: flex;
    box-sizing: border-box;
    min-height: 28px;
    width: 100%;
    position: relative;
    padding: 0 0 0 0;
    border-style: solid;
    border-width: $border-width;
    border-radius: $border-radius--sm;
  }

  &__prepend {
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
  }

  &__control {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
  }

  &__append {
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
  }

  &--disabled {
    .a-input-base__surface {
      @include disabled;
    }
  }

  &--readonly {
    .a-input-base__surface {
      box-shadow: none;
    }
  }

  &__clear {
    padding: 0 7px;
    align-self: stretch;
    cursor: pointer;
  }
}

.a-app--animated .a-input-base__surface {
  @include transition($input-transition);
}
