@import "../../styles";

$input-transition: border-color $transition-duration--extra-fast
  $transition-timing-function--standard;

.a-input-base {
  display: block;
  &__surface {
    display: flex;
    box-sizing: border-box;
    min-height: 28px;
    width: 100%;
    position: relative;
    padding: 0 0 0 0;
    border-style: solid;
    border-width: $border-width;
    border-radius: $border-radius--lg;
    background: var(--control-bg-weak-default);
    border-color: var(--control-border-default);
    color: var(--base-text-default);

    &:hover {
      border-color: var(--control-border-hover);
    }

    &:active {
      border-color: var(--control-border-active);
    }
  }

  &--focused {
    .a-input-base__surface {
      border-color: var(--control-border-focus);
      @include a-control-focus();
    }
  }

  &__prepend {
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
  }

  &__control {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
  }

  &__append {
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
    .a-icon {
      fill: var(--control-icon-weak-default);
    }
  }

  &__prepend,
  &__append {
    .a-button {
      height: unset;
    }
  }

  &--disabled {
    .a-input-base__surface {
      @include disabled;
      color: var(--base-text-disabled);
      border-color: var(--control-border-disabled);
      background: var(--control-bg-weak-disabled);
      cursor: not-allowed;

      .a-icon {
        fill: var(--base-text-disabled);
      }
    }
    cursor: not-allowed;
  }

  &--readonly {
    .a-input-base__surface {
      box-shadow: none;

      border-color: var(--control-border-default);
      background: var(--control-bg-weak-default);
    }

    input {
      cursor: default;
    }
  }

  &--warning {
    &.a-input-base--focused .a-input-base__surface {
      border: $border-width solid var(--warning-border-default);
      @include a-control-focus("warning");
    }

    .a-input-base__surface {
      border: $border-width solid var(--warning-border-default);
      box-shadow: 0 0 0 2px var(--warning-bg-medium-focus);

      &:hover {
        border: $border-width solid var(--warning-border-hover);
      }

      &:active {
        border: $border-width solid var(--warning-border-default);
      }
    }
  }

  &--danger {
    &.a-input-base--focused .a-input-base__surface {
      border: $border-width solid var(--negative-border-medium-default);
      @include a-control-focus("negative");
    }

    .a-input-base__surface {
      border: $border-width solid var(--negative-border-medium-default);
      box-shadow: 0 0 0 2px var(--negative-bg-weak-focus);

      &:hover {
        border: $border-width solid var(--negative-border-medium-hover);
      }

      &:active {
        border: $border-width solid var(--negative-border-medium-default);
      }
    }
  }

  &--large {
    .a-input-base__surface {
      min-height: 40px;

      .a-input-base__prepend,
      &__prepend {
        svg {
          width: 17.5px;
          align-self: center;
        }
      }
    }
  }

  &--medium {
    .a-input-base__surface {
      min-height: $input-height-medium;

      &__append,
      &__prepend {
        svg {
          width: 14px;
          align-self: center;
        }
      }
    }
  }

  &--small {
    .a-input-base__surface {
      min-height: 28px;

      &__append,
      &__prepend {
        svg {
          width: 10px;
        }
      }
    }
  }

  &__clear {
    padding: 0 7px;
    cursor: pointer;
  }

  &__clear:focus,
  &__clear:hover {
    fill: var(--interact-text-active) !important;
  }
}

.a-app--animated .a-input-base__surface {
  @include transition($input-transition);
}
