@import "../../styles";

$input-transition: border-color $transition-duration--extra-fast
  $transition-timing-function--standard;

@include theme(a-input-base) using ($theme) {
  &__surface {
    background: map-deep-get($theme, "text-input", "bg");
    border-color: map-deep-get($theme, "text-input", "border-color");
    color: map-deep-get($theme, "base", "color");

    &:hover {
      border-color: map-deep-get($theme, "text-input", "border-color--hover");
    }

    &:active {
      border-color: map-deep-get($theme, "text-input", "border-color--active");
    }
  }

  &--focused {
    .a-input-base__surface {
      border-color: map-deep-get($theme, "text-input", "border-color--focus");
      box-shadow: 0px 0px 0px 2px
        map-deep-get($theme, "text-input", "box-shadow-color--active");

      &:active {
        border-color: map-deep-get($theme, "text-input", "color--active");
      }
    }
  }

  &--readonly {
    .a-input-base__surface {
      border-color: map-deep-get(
        $theme,
        "text-input",
        "border-color--readonly"
      );
      background: map-deep-get($theme, "text-input", "bg--readonly");
    }
  }

  &--warning {
    &.a-input-base--focused .a-input-base__surface {
      border: $border-width solid $color-warning;
      box-shadow: 0px 0px 5px 1px $color-warning;
    }

    .a-input-base__surface {
      border: $border-width solid $color-warning;

      &:hover {
        border: $border-width solid
          map-deep-get($theme, "color", "warning--state-hover");
      }

      &:active {
        border: $border-width solid $color-warning;
      }
    }
  }

  &--danger {
    &.a-input-base--focused .a-input-base__surface {
      border: $border-width solid $color-error;
      box-shadow: 0px 0px 5px 1px $color-error;
    }

    .a-input-base__surface {
      border: $border-width solid $color-error;

      &:hover {
        border: $border-width solid
          map-deep-get($theme, "color", "error--state-hover");
      }

      &:active {
        border: $border-width solid $color-error;
      }
    }
  }

  &--disabled {
    .a-input-base__surface {
      color: map-deep-get($theme, "text-input", "color--disabled");
      border-color: map-deep-get(
        $theme,
        "text-input",
        "border-color--disabled"
      );
      background: map-deep-get($theme, "text-input", "bg--disabled");
      cursor: not-allowed;

      .a-icon {
        fill: map-deep-get($theme, "text-input", "color--disabled");
      }
    }
  }

  &__append {
    .a-icon {
      fill: map-deep-get($theme, "text-input", "icon-fill");
    }
  }

  &__clear:focus,
  &__clear:hover {
    fill: map-deep-get($theme, "base", "color--selected") !important;
  }
}

.a-input-base {
  &__surface {
    display: flex;
    box-sizing: border-box;
    min-height: 28px;
    width: 100%;
    position: relative;
    padding: 0 0 0 0;
    border-style: solid;
    border-width: $border-width;
    border-radius: $border-radius--lg;
  }

  &__prepend {
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
  }

  &__control {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
  }

  &__append {
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
  }

  &--disabled {
    .a-input-base__surface {
      @include disabled;
    }
    cursor: not-allowed;
  }

  &--readonly {
    .a-input-base__surface {
      box-shadow: none;
    }
  }

  &--large {
    .a-input-base__surface {
      min-height: 40px;

      .a-input-base__prepend,
      &__prepend {
        svg {
          width: 17.5px;
          align-self: center;
        }
      }
    }
  }

  &--medium {
    .a-input-base__surface {
      min-height: $input-height-medium;

      &__append,
      &__prepend {
        svg {
          width: 14px;
          align-self: center;
        }
      }
    }
  }

  &--small {
    .a-input-base__surface {
      min-height: 28px;

      &__append,
      &__prepend {
        svg {
          width: 10px;
        }
      }
    }
  }

  &__clear {
    padding: 0 7px;
    cursor: pointer;
  }
}

.a-app--animated .a-input-base__surface {
  @include transition($input-transition);
}
