@use "sass:math";

$date-picker-height: 100%;
$date-picker-min-height: 260px;
$date-picker-width: 275px;
$date-picker-max-width: 275px;
$date-picker-z-index: 100;
$date-picker-header-padding: 4px 0;
$date-picker-nav-top: 2px;
$date-picker-nav-width: 28px;
$date-picker-nav-height: 28px;
$date-picker-nav-span-left: 50%;
$date-picker-nav-span-top: 50%;
$date-picker-nav-span-margin-left: -8px;
$date-picker-nav-span-margin-top: -8px;
$date-picker-prev-left: 13px;
$date-picker-next-right: 13px;
$date-picker-title-line-height: 28px;
$date-picker-calendar-width: 245px;
$date-picker-calendar-min-width: 245px;
$date-picker-calendar-font-size: $font-size--md;
$date-picker-calendar-margin: 10px 15px;
$date-picker-calendar-disabled-opacity: 0.35;
$date-picker-day-width: 30px;
$date-picker-day-padding-top: 4px;
$date-picker-day-padding-bottom: 4px;
$date-picker-day-border-radius: 4px;

@include theme(a-date-picker) using ($theme) {
  color: map-deep-get($theme, "base", "color");
  background-color: map-deep-get($theme, "control", "fill-color");
  border: $border-width solid map-deep-get($theme, "control", "stroke-color");
  &__header {
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__prev,
  &__next {
    color: map-deep-get($theme, "base", "color");
    & span {
      font-size: $font-size--sm;
    }
    &:hover {
      & span {
        color: map-deep-get($theme, "base", "color--hover");
      }
    }

    &:focus {
      & span {
        box-shadow: map-deep-get($theme, "base", "box-shadow");
      }
    }
  }

  &__calendar {
    background: transparent;
  }

  &__day:nth-last-child(1 of .selected):not(.single-day) {
    .a-date-picker__day__label {
      background-color: map-deep-get(
        $theme,
        "date-picker",
        "background-color--selected"
      );
      color: map-deep-get($theme, "date-picker", "color--selected");
    }
  }

  &__day {
    &__label {
      color: inherit;
      background-color: transparent;
      font-weight: 400;
    }

    &.selected {
      .a-date-picker__day__label {
        border: $border-width solid;
        border-color: map-deep-get($theme, "date-picker", "label-border-color");
        font-weight: 600;
      }
    }

    &.between {
      .a-date-picker__day__label {
        background-color: map-deep-get($theme, "date-picker", "range-bg");
        border: 2px solid map-deep-get($theme, "date-picker", "range-border");
        color: map-deep-get($theme, "date-picker", "range-color");
        font-weight: 600;
      }
    }

    &:hover {
      .a-date-picker__day__label {
        background-color: map-deep-get(
          $theme,
          "date-picker",
          "background-color--hover"
        );
        color: map-deep-get($theme, "date-picker", "label-border-color");
        font-weight: 600;
      }
    }

    &:active {
      .a-date-picker__day__label {
        background-color: map-deep-get($theme, "base", "color--active");
        color: map-deep-get($theme, "base", "inverse-color");
      }
    }

    &.selected:hover {
      .a-date-picker__day__label {
        background-color: map-deep-get(
          $theme,
          "date-picker",
          "background-color--hover"
        );
        color: map-deep-get($theme, "date-picker", "label-border-color");
        font-weight: 600;
      }
    }
  }

  & .disabled {
    color: map-deep-get($theme, "base", "color--disabled");
  }

  &__range-label {
    font-weight: 600;
    line-height: 2;
    cursor: default;
  }

  &__inputs {
    display: flex;
    position: relative;
    width: $date-picker-width;
    border-radius: $border-radius--lg;

    .a-input-base__surface:hover {
      border-color: map-deep-get($theme, "control", "stroke-color");
    }

    &.inputs--hover,
    &.inputs--invalid {
      .a-date-picker__inputs--start .a-input-base__surface {
        border-right: 0;
      }
      .a-date-picker__inputs--end .a-input-base__surface {
        border-left: 0;
      }
    }
    &.inputs--hover:not(.a-date-picker__inputs-inputs--invalid) {
      .a-input-base__surface {
        border-color: map-deep-get($theme, "text-input", "border-color--focus");
      }
    }
    &.inputs--invalid {
      box-shadow: 0px 0px 0px 2px map-deep-get($theme, "alert", "danger-bg");
      .a-input-base__surface {
        border-color: map-deep-get(
          $theme,
          "color",
          "error--state-hover"
        ) !important; //Override gray border on focused field
      }
    }

    .a-input-base--focused {
      .a-input-base__surface {
        border-color: map-deep-get($theme, "control", "stroke-color");
        box-shadow: none;
      }
    }
    &--start {
      .a-input-base__surface {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: $border-radius--xlg; //clip input's base border-radius to avoid showing above focus's border-radius
        border-bottom-left-radius: $border-radius--xlg; //clip input's base border-radius to avoid showing above focus's border-radius
        :focus {
          border: 2px solid
            map-deep-get($theme, "text-input", "border-color--focus");
          box-shadow: 0px 0px 0px 2px
            map-deep-get($theme, "text-input", "box-shadow-color--active");
          border-radius: $border-radius--lg;
        }
      }
    }
    &--end {
      .a-input-base__surface {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        :focus {
          border: 2px solid
            map-deep-get($theme, "text-input", "border-color--focus");
          box-shadow: 0px 0px 0px 2px
            map-deep-get($theme, "text-input", "box-shadow-color--active");
          border-radius: $border-radius--lg;
        }
      }
    }
  }
}

//Prevent double border from a-menu
.a-menu--datepicker {
  border: none;
}

.a-date-range-picker {
  width: $date-picker-width;
}

.a-date-picker {
  display: block;
  height: $date-picker-height;
  min-height: $date-picker-min-height;
  width: $date-picker-width;
  max-width: $date-picker-max-width;
  border-radius: $border-radius--lg;
  z-index: $date-picker-z-index;
  &__header {
    position: relative;
    padding: $date-picker-header-padding;
  }

  &__prev,
  &__next {
    padding: 6px;
    & span {
      display: block;
      position: absolute;
      left: $date-picker-nav-span-left;
      margin-left: $date-picker-nav-span-margin-left;
      top: $date-picker-nav-span-top;
      margin-top: $date-picker-nav-span-margin-top;
    }

    &:hover {
      text-decoration: none;
    }

    &:focus {
      & span {
        text-decoration: none;
      }
    }
  }

  &__prev {
    left: $date-picker-prev-left;
  }

  &__next {
    right: $date-picker-next-right;
  }

  &__title {
    line-height: $date-picker-title-line-height;
    text-align: center;
  }

  &__calendar {
    width: $date-picker-calendar-width;
    min-width: $date-picker-calendar-min-width;
    font-size: $date-picker-calendar-font-size;
    border-collapse: collapse;
    margin: $date-picker-calendar-margin;
    & .disabled {
      text-align: center;
    }
  }

  &__week {
    text-align: center;
    font-weight: normal;
    font-size: $font-size--sm;
  }

  &__day {
    width: $date-picker-day-width;
    min-width: $date-picker-day-width;
    padding-top: $date-picker-day-padding-top;
    padding-bottom: $date-picker-day-padding-bottom;
    &__label {
      border-color: transparent;
      margin: 0;
      padding: 0px 0 0 0;
      width: 28px;
      display: block;
      text-align: center;
      text-decoration: none;
      border-radius: $date-picker-day-border-radius;
      &:focus,
      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }
}
